/**
 * https://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
 */

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@function rem($value) {
    // $value: parseInt($value);
    // $rem: ($value / 10 + rem);
    $rem: ($value / 16px) * 1rem;

    @return $rem;
}

@function responsiveRem($value, $calculation: '+') {
    $rem: rem($value);
    $size: calc(#{$rem} #{$calculation} var(--responsive-spacing));

    @return $size;
}
