@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

@function theme-color($theme, $property) {
    $color: map-deep-get($themes, $theme, $property);

    @if ($color) {
        @return $color;
    }

    @error 'Color not found';
}
