{% section 'hero-banner' %}

{%- if blog.articles.size > 0 -%}
    <header class="o-section o-section--small o-wrapper o-wrapper--medium">
        <div class="o-layout">
            <div class="o-layout__item u-8/12@mobile">
                <h2 class="u-heading u-h3">All articles</h2>
            </div><div class="o-layout__item u-4/12@mobile">

            </div>
        </div>
    </header>

    {%- paginate blog.articles by 15 -%}
        {%- if paginate.current_page == 1 -%}
            <section class="o-section o-wrapper o-wrapper--medium u-pv0 c-animated-content u-in-viewport u-text-align-center">
                <a href="{{ blog.articles.first.url }}" class="u-image-hover u-display-block">
                    <img src="{{ blog.articles.first.image | img_url:'1000x400', crop:'center' }}" srcset="{{ blog.articles.first.image | img_url:'1000x400', scale:2, crop:'center' }} 2x" class="u-display-block u-1/1 u-mb">
                </a>
                <a href="{{ blog.articles.first.url }}">
                    <h2 class="u-heading u-h4 u-mb-" data-order="1">{{ blog.articles.first.title }}</h2>
                </a>

                <div class="u-max-w-750px u-mh-auto" data-order="2">
                    {%- if blog.articles.first.excerpt.size > 0 -%}
                        {{ blog.articles.first.excerpt | strip_html | strip_newlines }}
                    {%- else -%}
                        {{ blog.articles.first.content | strip_html | strip_newlines | truncate: 100 }}
                    {%- endif -%}
                </div>

                {% include 'blog-tags', tags:blog.articles.first.tags %}
            </section>
        {%- endif -%}

        <section class="o-section o-wrapper o-wrapper--medium">
            <div class="o-layout o-layout--matrix">
                {%- for article in blog.articles -%}<!--
                --><div class="o-layout__item u-6/12@mobile {% if paginate.current_page == 1 and forloop.first == true %}u-hide{% else %} c-animated-content js-monitor{% endif -%}">
                    <a href="{{ article.url }}" class="u-image-hover u-display-block">
                        <img src="{{ article.image | img_url:'600x300', crop:'center' }}" srcset="{{ article.image | img_url:'600x300', scale:2, crop:'center' }} 2x" class="u-display-block u-1/1 u-mb">
                    </a>
                    <a href="{{ article.url }}">
                        <h2 class="u-heading u-h5 u-mb-" data-order="1">{{ article.title }}</h2>
                    </a>

                    <div data-order="2">
                        {%- if article.excerpt.size > 0 -%}
                            {{ article.excerpt | strip_html | strip_newlines }}
                        {%- else -%}
                            {{ article.content | strip_html | strip_newlines | truncate: 100 }}
                        {%- endif -%}
                    </div>

                    {% include 'blog-tags', tags:blog.articles.first.tags %}
                </div><!--
            -->{%- endfor -%}
            </div>

            {%- if paginate.pages > 1 -%}
                <div class="u-mt+">
                    {% include 'pagination' %}
                </div>
            {%- endif -%}
        </section>
    {% endpaginate %}
{%- else -%}
    <section class="o-section o-wrapper o-wrapper--large u-text-align-center">
        <p>Sorry, there are no posts to show at this time. Please check back later.</p>
        <a href="/" class="c-button c-button--secondary">Go home</a>
    </section>
{%- endif -%}
