{%- assign requires_age_check = false -%}
{%- for item in cart.items -%}
    {%- for tag in item.product.tags -%}
        {%- if tag == 'age_check' -%}
            {%- assign requires_age_check = true -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
{%- assign terms_and_conditions_url = shop.terms_of_service.url -%}
{%- if settings.legal_terms_of_service -%}
    {%- assign terms_and_conditions_url = settings.legal_terms_of_service -%}
{%- endif -%}


<div class="t-tertiary">
    <section class="o-section o-wrapper">
        {%- if cart.item_count > 0 -%}
            <form action="#" method="post" novalidate class="c-cart">
                <h1 class="u-heading u-h3 u-mb">Shopping bag</h1>

                {%- for item in cart.items -%}
                    <div class="c-cart__item t-light">
                        {%- if item.image != blank -%}
                            <a href="{{ item.url | within: collections.all }}" class="c-cart__image">
                                <img src="{{ item.product.featured_image | img_url:'200x200', crop:'center' }}" style="vertical-align: top;" class="u-pr@mobile">
                            </a>
                        {%- endif -%}

                        <div class="c-cart__content">
                            <div class="c-cart__title">
                                <a href="{{ item.url | within: collections.all }}">
                                    {{ item.product.title }}
                                </a>

                                <div class="c-cart__unit-price">
                                    {%- if item.quantity > 1 -%}
                                        {%- if item.original_line_price != item.line_price -%}
                                            {{ item.original_price | money }}
                                        {%- else -%}
                                            {{ item.price | money }}
                                        {%- endif -%}
                                        <span class="u-color-grey">&nbsp;(x{{ item.quantity }})</span>
                                    {%- else -%}
                                        {{ item.original_price | money }}
                                    {%- endif -%}
                                </div>
                            </div>

                            <div class="c-cart__quantity">
                                <input type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0" aria-label="{{ 'cart.general.item_quantity' | t }}" class="c-form__input c-cart__quantity-input">
                                <br>
                                <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="u-underline-link c-cart__remove" onclick="return confirm('Are you sure you want to delete this item?')">
                                    <small>({{ 'cart.general.remove' | t }})</small>
                                </a>
                            </div>

                            <div class="c-cart__total-price">
                                {%- if item.original_line_price != item.line_price -%}
                                    <span class="visually-hidden">{{ 'cart.label.discounted_price' | t }}</span>
                                    {%- if item.quantity > 1 -%}
                                        {{ item.price | times: item.quantity | money }}
                                    {%- else -%}
                                        {{ item.price | money }}
                                    {%- endif -%}

                                    <span class="visually-hidden">{{ 'cart.label.original_price' | t }}</span>
                                    {%- if item.quantity > 1 -%}
                                        <s>{{ item.original_price | times: item.quantity | money }}</s>
                                    {%- else -%}
                                        <s>{{ item.original_price | money }}</s>
                                    {%- endif -%}
                                {%- else -%}
                                    {%- if item.quantity > 1 -%}
                                        {{ item.price | times: item.quantity | money }}
                                    {%- else -%}
                                        {{ item.price | money }}
                                    {%- endif -%}
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                {%- endfor -%}

                {% section 'cart-recommended-product' %}

                <div class="u-mb"></div>

                {%- if settings.cart_notes_enable -%}
                    <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                {%- endif -%}

                <div class="u-text-align-center u-text-align-right@mobile u-pr@mobile u-pr+@tablet u-mb">
                    <h2 class="c-statement__highlight u-mb-">
                        <span class="c-statement__highlighted-text">&nbsp;{{ cart.total_price | money }}</span>
                    </h2><br>
                    <small class="u-color-grey">{{ 'cart.general.shipping_at_checkout' | t }}</small>

                    {%- if cart.total_discounts > 0 -%}
                        <p>{{ 'cart.general.savings' | t }} {{ cart.total_discounts | money }}</p>
                    {%- endif -%}
                </div>

                <div class="o-layout u-mb--">
                    <div class="o-layout__item u-6/12@mobile">
                        <a href="/products" class="c-button c-button--tertiary u-p- c-cart__button">
                            <span class="c-button__text">{{ 'cart.general.continue_browsing_html' | t }}</span>
                        </a>
                        <button type="submit" name="update" class="c-button c-button--tertiary u-p- u-mr-- c-cart__button">
                            <span class="c-button__text">{{ 'cart.general.update' | t }}</span>
                        </button>
                    </div>
                    <div class="o-layout__item u-6/12@mobile u-text-align-center u-text-align-right@mobile">
                        <div class="u-relative u-checkbox-dark" style="display: inline-block; margin-right: 15px; max-width: 325px;">
                            <input type="checkbox" id="shipping-consent" class="c-form__checkbox u-mr-- js-shipping-consent" name="shipping_consent" required>
                            <label class="c-form__label c-form__label--checkbox" for="shipping-consent">
                                I agree to the &nbsp<a href="{{ terms_and_conditions_url }}" target="noopener">Terms &amp; Conditions</a>
                            </label>
                        </div>

                        <button type="submit" name="checkout" class="c-button c-button--primary c-button--ghost c-button--wide c-cart__button js-cart-checkout" disabled="disabled">
                            <span class="c-button__text">{{ 'cart.general.checkout' | t }}</span>
                        </button>
                    </div>
                </div>
                {%- if settings.cart_legal_text -%}
                    <div class="u-text-align-right">
                        <small class="u-color-grey">{{ settings.cart_legal_text }}</small>
                    </div>
                {%- endif -%}
            </form>
        {%- else -%}
            <header class="o-layout u-mb+">
                <h1 class="u-heading u-h3">Shopping bag</h1>
            </header>

            <div class="u-text-align-center@mobile">
                <p>{{ 'cart.general.empty' | t }}</p>
                <a href="/products" class="c-button c-button--primary c-button--ghost js-cart-checkout">
                    <span class="c-button__text">{{ 'cart.general.continue_browsing_html' | t }}</span>
                </a>
            </div>
        {%- endif -%}
    </section>
</div>
