{% section 'hero-banner' %}

{% if settings.store_country == 'US' %}
    {% section 'home-featured-products' %}
    {% section 'about-features' %}
    {% section 'instagram-feed' %}
    {% section 'home-statement' %}
    {% section 'home-two-row-content-teaser' %}
    {% section 'home-three-column-content-teaser' %}
{% else %}
    {% section 'home-statement' %}
    {% section 'home-two-row-content-teaser' %}
    {% section 'home-featured-products' %}
    {% section 'home-featured-blog' %}
    {% section 'home-marquee' %}
    {% section 'home-three-column-content-teaser' %}
    {% section 'instagram-feed' %}
{% endif %}
