{% section 'hero-banner' %}

<nav class="o-wrapper u-p u-text-align-center">
    {% include 'collection-nav' %}
</nav>

<hr class="u-hr">

<div class="t-tertiary">
    <section class="o-section o-section--small o-wrapper u-fade-in">
        {%- assign title = 'All products' -%}
        {%- assign collection_products = collections.all.products -%}

        {% include 'all-products' %}
    </section>
</div>
