{% section 'hero-banner' %}

<section class="o-section o-wrapper">
    <div class="o-layout o-layout--large u-stack-layout@mobile">
        <div class="o-layout__item u-8/12@mobile u-9/12@desktop">
            {% section 'faq' %}
        </div><div class="o-layout__item u-4/12@mobile u-3/12@desktop">
            {% section 'faq-contact' %}
        </div>
    </div>
</section>
