<section class="o-section o-wrapper">
    <div class="u-max-w-650px u-mh-auto">
        <h1 class="u-heading u-h2 u-mb u-mb+@tablet">Contact us</h1>

        <p class="s-wysiwyg">{{ page.content }}</p>

        <div class="u-mt u-mt+@mobile">
            {% include 'contact-form', post_url:'', enquiry_types:'' -%}
        </div>
    </div>
</section>
