<section class="o-section o-wrapper">
    <div class="u-max-w-500px u-mh-auto u-text-align-center">
        <div class="u-mb+">
            {% include 'logo' %}
        </div>

        <h1 class="u-heading u-h2 u-mb">We'll be back soon.</h1>
        <p class="u-ph u-ph++@mobile">Sorry for the inconvienence, please check back soon when we should be back up and running.</p>

        {% if shop.password_message != blank %}
            <p>{{ shop.password_message }}</p>
        {% endif %}

        <div class="u-mt">
            <a href="#" class="js-modal-open u-color-grey u-font-size-12" data-modal="password-login" style="position: absolute; bottom: 12px; right: 12px;">Login</a>
        </div>

        <div class="c-modal c-modal--auto-grow js-modal u-hide" data-modal="password-login">
            {%- assign modal_name = 'password-login' -%}
            {% include 'modal-close-button' %}

            <div class="c-modal__wrapper u-shadow u-p t-light u-max-w-450px js-modal-wrapper" style="height: auto; min-height: 130px !important;">
                {% form 'storefront_password' %}
                    {% if form.errors != blank %}
                        <em class="u-mt">Oh no, that password doesn't work. Please try again.</em>
                    {% endif %}

                    <div class="c-form__field">
                        <input type="password" class="c-form__input u-1/1" name="password" id="Password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" class="u-flex">
                    </div>
                    <div class="c-form__field">
                        <button type="submit" class="c-button c-button--primary u-1/1" name="commit">{{ 'general.password_page.login_form_submit' | t }}</button>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</section>

<script>
setTimeout(function () {
    if (window.ga) {
        var date = new Date();
        var label = date.getUTCDate() + ' ' + (date.getMonth() + 1) + ' ' + date.getFullYear();

        window.ga('send', 'event', {
            eventCategory: 'Password page',
            eventAction: 'Viewed',
            eventLabel: label
        });
    }
}, 1000);
</script>
