<section class="o-section o-wrapper">
    <h1 class="u-heading u-mb u-max-w">{{ 'general.404.title' | t}}</h1>
    <p>{{ 'general.404.subtext_html' | t}}</p>

    <ul class="u-mt s-content-links">
        {%- for link in linklists.404.links -%}
            <li>
                <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
        {%- endfor -%}
    </ul>
</section>
