<div class="c-accordion">
    <button class="c-accordion__toggle js-visibility-toggle" id="{{ accordion_id }}-toggle" aria-controls="{{ accordion_id }}" aria-expanded="false" role="tab">
        <div class="u-flex-grow-1 u-mr-">
            {{ accordion_title }}
        </div>

        {%- assign classes = 'c-svg c-accordion__toggle-icon' -%}
        {% include 'plus-icon' %}
    </button>
    <div class="c-accordion__content s-content-links" id="{{ accordion_id }}" aria-labelledby="{{ accordion_id }}-toggle" aria-hidden="true" role="tabpanel">
        <div>{{ accordion_content | newline_to_br }}</div>
    </div>
</div>
