<header class="o-layout u-mb+">
    <div class="o-layout__item u-9/12@mobile">
        <h2 class="u-heading u-h3 u-mb u-mb0@mobile">
            {{ title }}
        </h2>
    </div>
    <div class="o-layout__item u-3/12@mobile">
        <div class="custom-select custom-select--sort c-animated-item js-monitor">
            <span>{{ 'collections.filter.label' | t}}</span>
            <select class="js-sort-by">
                <option value="price-asc">{{ 'collections.filter.price-asc' | t}}</option>
                <option value="price-desc">{{ 'collections.filter.price-desc' | t}}</option>
                <option value="title-asc">{{ 'collections.filter.title-asc' | t}}</option>
                <option value="title-desc">{{ 'collections.filter.title-desc' | t}}</option>
            </select>
        </div>
    </div>
</header>

<div class="o-layout o-layout--small js-products-container">
    {%- for product in collection_products -%}<!--
        --><div class="o-layout__item u-6/12 u-4/12@tabletSmall u-3/12@tablet u-mb u-mb+@tablet" id="{{ product.id }}">
            {%- assign lazyload = false -%}
            {%- include 'product-card', product_data:product, lazyload:lazyload -%}
        </div><!--
    -->{%- endfor -%}
</div>

<script>
window.globalData.allProducts = [
    {%- for product in collection_products -%}
        {
            id: {{ product.id }},
            title: "{{ product.title }}",
            url: '{{ product.url }}',
            image: '{{ product_data.featured_image | img_url: 'x600' }}',
            available: {{ product.available }},
            price: {{ product.price }},
            price_min: {{ product.price_min }},
            price_max: {{ product.price_max }}
        },
    {%- endfor -%}
];
</script>


