<a href="{{ url }}" class="c-back-button c-animated-item u-in-viewport">
    <svg width="15" height="10" xmlns="http://www.w3.org/2000/svg" class="c-back-button__icon"><path d="M4.89917.1504c.20435-.20053.54446-.20053.75596 0 .20435.19374.20435.5162 0 .7095L1.822 4.49417h12.64877c.29486.00046.52922.22266.52922.50222 0 .27956-.23436.50898-.52922.50898H1.82201l3.83312 3.6275c.20435.20052.20435.52344 0 .71674-.2115.20052-.55208.20052-.75596 0L.15862 5.35498c-.2115-.19375-.2115-.51621 0-.70951L4.89917.15039z" fill="#CFAA76" fill-rule="nonzero"/></svg>
    {{ label }}
</a>
