{%- if tags.size > 0 -%}
    <ul class="o-list-inline u-mt-" data-order="5">
        {%- for tag in tags -%}
            <li class="o-list-inline__item">
                <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="c-button c-button--primary c-button--ghost c-button--tiny">
                    <span class="c-button__text">{{ tag }}</span>
                </a>
            </li>   
        {%- endfor -%}
    </ul>
{%- endif -%}
