{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
    <nav class="u-font-size-14" role="navigation" aria-label="breadcrumbs">
        {% if template contains 'product' %}
            <a href="/collections/all" title="Shop">Shop</a>
            {% if product.collections %}
                <span aria-hidden="true">&rsaquo;</span>
                {{ product.collections[1].title | link_to: product.collections[1].url }}
            {% endif %}
            <span aria-hidden="true">&nbsp;&rsaquo;&nbsp;</span>
            <span>{{ product.title }}</span>
        {% else %}
            <span aria-hidden="true">&nbsp;&rsaquo;&nbsp;</span>
            <span>{{ page_title }}</span>
        {% endif %}
    </nav>
{% endunless %}
