<div class="c-modal c-modal--notification js-modal u-hide" data-modal="cart-preview">
    <div class="c-modal__wrapper u-p t-light js-modal-wrapper">
        <div id="cart-preview-container"></div>
        
        {% comment %}
        <button class="u-font-size-14 u-text-align-center u-color-grey u-pv- u-1/1 js-modal-cart-preview" data-modal="cart-preview">
            Continue browsing
        </button>
        {% endcomment %}

        {% include 'modal-close-button', modal_name:'cart-preview' %}
    </div>
</div>
