<ul class="c-collection-nav">
    {%- for collection in collections -%}
        <li class="c-collection-nav__item">
            <a href="{{ collection.url }}" class="u-display-block u-image-hover-img">
                <img src="{{ collection.image | img_url:'x25' }}" srcset="{{ collection.image | img_url:'x25', scale:2 }} 2x" alt="">
                <span class="c-collection-nav__text">{{ collection.title }}</span>
            </a>
        </li>
    {%- endfor -%}
</ul>
