<section class="o-section u-pv0">
    <div class="c-product c-animated-content u-in-viewport">
        <div class="c-product__hero o-layout o-layout--flush">
            <div class="o-layout__item u-6/12@mobile c-product__gallery-container">
                <div class="c-gallery">
                    <ul class="c-gallery__image-container">
                        <li class="c-gallery__image" style="background-image: url('{{ experience.image | img_url:'1000x1000' }}');">
                            {%- if experience.video_id != blank -%}
                                <div class="c-gallery__video-container">
                                    <iframe width="560" height="315" data-src="https://www.youtube-nocookie.com/embed/{{ experience.video_id }}?autoplay=1&rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="c-gallery__video js-bg-video"></iframe>
                                </div>
                            {%- endif -%}
                        </li>
                    </ul>
                </div>
            </div><div class="o-layout__item u-6/12@mobile">
                <div class="c-product__hero-info">
                    <h1 class="u-heading u-h2 u-mb" data-order="1">{{ experience.title }}</h1>

                    <div data-order="3">{{ experience.text | newline_to_br }}</div>

                    {% include 'primary-cta-button', url:'/pages/contact-us/', label:'Contact us for more info', attributes:' data-order="4"', classes:'c-button--ghost u-mt' %}
                </div>
            </div>
        </div>
    </div>
</section>

{%- if experience.quote != blank -%}
    <div class="t-tertiary">
        <section class="o-section o-wrapper">
            {% include 'quote', text:experience.quote, sticker_image:experience.sticker_image, quotee:experience.person_name, quotee_role:experience.person_role, quotee_image:experience.person_image %}
        </section>
    </div>
{%- endif -%}

{%- if experience.instruction_block_1_text != blank or experience.instruction_block_2_text != blank or experience.instruction_block_3_text != blank -%}
    {% comment %}
    This empty div is used to break up the sections (adjacent sections have no top padding)
    {% endcomment %}
    <div></div>
    <section class="o-section o-wrapper">
        <div class="c-content-columns c-animated-content js-monitor">
            {%- if experience.instruction_block_1_text != blank -%}
                <div class="c-content-columns__item">
                    {%- if experience.instruction_block_1_title != blank -%}
                        <h3 class="u-heading u-h3 u-mb u-mb+@tablet" data-order="1">{{ experience.instruction_block_1_title | default:'Step one' }}</h3>
                    {%- endif -%}

                    <p>{{ experience.instruction_block_1_text | newline_to_br }}</p>
                </div>
            {%- endif -%}
            {%- if experience.instruction_block_2_text != blank -%}
                <div class="c-content-columns__item">
                    {%- if experience.instruction_block_2_title != blank -%}
                        <h3 class="u-heading u-h3 u-mb u-mb+@tablet" data-order="1">{{ experience.instruction_block_2_title | default:'Step one' }}</h3>
                    {%- endif -%}

                    <p>{{ experience.instruction_block_2_text | newline_to_br }}</p>
                </div>
            {%- endif -%}
            {%- if experience.instruction_block_3_text != blank -%}
                <div class="c-content-columns__item">
                    {%- if experience.instruction_block_3_title != blank -%}
                        <h3 class="u-heading u-h3 u-mb u-mb+@tablet" data-order="1">{{ experience.instruction_block_3_title | default:'Step one' }}</h3>
                    {%- endif -%}

                    <p>{{ experience.instruction_block_3_text | newline_to_br }}</p>
                </div>
            {%- endif -%}
        </div>
    </section>
{%- endif -%}
