<a href="{{ pages[experience.page_handle].url }}" class="u-display-block u-image-hover-img c-animated-content js-monitor">
    <div id="product-card-{{ experience.page_handle }}-bg" {% if lazyload == true %}data-src="{{ experience.image | img_url: '500x600' }}"{% else %}style="background-image: url('{{ experience.image | img_url: '500x600' }}');"{% endif %} class="{% if lazyload == true %}lazyload{% endif %}u-1/1 u-mb- u-card-image u-card-image--cover u-card-image--tall"></div>

    <span class="u-lead u-font-family-bold u-display-block" data-order="1">{{ experience.title }}</span>
</a>
<style>@media (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 1.25/1), (min-device-pixel-ratio: 1.25), (min-resolution: 200dpi), (min-resolution: 1.25dppx) { #product-card-{{ experience.page_handle }}-bg.u-in-viewport { background-image: url('{{ experience.image | img_url: '500x600', scale:2 }}') !important; }}</style>
