<div class="c-tabs">
    <ul class="c-tabs__list o-wrapper u-mh-auto" role="tablist">
        <li class="c-tabs__list-item" role="presentation">
            <button class="c-tabs__button js-tab" id="tab-corporate-information" role="tab" aria-controls="corporate-information" aria-selected="true" tabindex="0">{{ 'experiences.categories.corporate' | t }}</button>
        </li>
        <li class="c-tabs__list-item" role="presentation">
            <button class="c-tabs__button js-tab" id="tab-custom-information" role="tab" aria-controls="custom-information" aria-selected="false" tabindex="1">{{ 'experiences.categories.custom' | t }}</button>
        </li>
        <li class="c-tabs__list-item" role="presentation">
            <button class="c-tabs__button js-tab" id="tab-popup-information" role="tab" aria-controls="popup-information" aria-selected="false" tabindex="2">{{ 'experiences.categories.pop-ups' | t }}</button>
        </li>
    </ul>

    <hr class="u-hr">

    <section class="o-section o-section--small o-wrapper u-fade-in">
        <div class="c-tabs__panel-container">
            <div class="c-tabs__panel js-panel" role="tabpanel" id="corporate-information" aria-labelledby="
            tab-corporate-information" aria-hidden="false">
                <div class="o-layout o-layout--small">
                    {%- for block in experiences -%}<!--
                        -->{%- if block.settings.category == 'Corporate' -%}<!--
                        --><div class="o-layout__item u-6/12 u-4/12@tabletSmall u-3/12@tablet u-mb u-mb+@tablet">
                                {%- assign lazyload = false -%}
                                {%- include 'experience-card', experience:block.settings, lazyload:lazyload -%}
                            </div><!--
                        -->{%- endif -%}<!--
                    -->{%- endfor -%}
                </div>
            </div>
            <div class="c-tabs__panel js-panel" role="tabpanel" id="custom-information" aria-labelledby="
            tab-custom-information" aria-hidden="true" style="display: none;">
                <div class="o-layout o-layout--small">
                    {%- for block in experiences -%}<!--
                        -->{%- if block.settings.category == 'Custom' -%}<!--
                        --><div class="o-layout__item u-6/12 u-4/12@tabletSmall u-3/12@tablet u-mb u-mb+@tablet">
                                {%- assign lazyload = false -%}
                                {%- include 'experience-card', experience:block.settings, lazyload:lazyload -%}
                            </div><!--
                        -->{%- endif -%}<!--
                    -->{%- endfor -%}
                </div>
            </div>
            <div class="c-tabs__panel js-panel" role="tabpanel" id="popup-information" aria-labelledby="
            tab-popup-information" aria-hidden="true" style="display: none;">
                <div class="o-layout o-layout--small">
                    {%- for block in experiences -%}<!--
                        -->{%- if block.settings.category == 'Pop-Up' -%}<!--
                        --><div class="o-layout__item u-6/12 u-4/12@tabletSmall u-3/12@tablet u-mb u-mb+@tablet">
                                {%- assign lazyload = false -%}
                                {%- include 'experience-card', experience:block.settings, lazyload:lazyload -%}
                            </div><!--
                        -->{%- endif -%}<!--
                    -->{%- endfor -%}
                </div>
            </div>
        </div>
    </section>
</div>
