<svg height="512" width="512" xmlns="http://www.w3.org/2000/svg" class="c-svg {{ classes }}" style="fill: currentColor;" viewBox="0 0 512 512">
  <path d="M191.844 511.5V288.375h-68.313V188h69.875v-83.063S196.594.312 286.219-.501h99.75V98h-61.875s-26.125 0-26.125 29.438v62.313h89.5l-10.75 100.313h-77.188V511.5H191.844z"/>
</svg>
