{%- assign image_dimension = 'x700|x1400' | split:'|' -%}
{%- assign is_text_first = false -%}

<div class="o-layout o-layout--large u-flex@mobile u-align-items-center {% if is_text_first == true -%}o-layout--reverse@mobile{% endif %} c-animated-content js-monitor">
    <div class="o-layout__item u-6/12@mobile u-text-align-center">
        <div class="u-mb+ u-mb00@mobile u-image-shadow" data-order="1" data-animation="fade">
            <img data-src="{{ image | img_url: image_dimension[0] }}" alt="" data-srcset="{{ image | img_url: image_dimension[1] }} 2x" class="lazyload {{ image_class }}">
        </div>
    </div><div class="o-layout__item u-1/12@mobile">
    </div><div class="o-layout__item u-5/12@mobile">
        <h3 class="u-heading u-heading--caps c-animated-item js-monitor {% if subtitle == blank %}u-mb{% endif %}">{{ title }}</h3>
        {%- if subtitle != blank -%}
            <div class="u-body--caps u-color-secondary u-mb u--mt u-show@mobile" aria-hidden="true" data-order="2">{{ subtitle }}</div>
        {%- endif -%}

        {%- if text != blank -%}
            <p data-order="3">{{ text | newline_to_br }}</p>
        {%- endif -%}

        {%- if cta_url != blank and cta_label != blank -%}
            {% include 'primary-cta-button', url:cta_url, label:cta_label, attributes:' data-order="4"', classes:'c-button--ghost' %}
        {%- endif -%}
    </div>
</div>
