<div class="o-layout u-flex@mobile u-align-items-center c-animated-content js-monitor">
    {%- if image != blank -%}
        <div class="o-layout__item u-3/12@mobile u-text-align-center">
            <picture>
                <source media="(min-width: 46.3125em)" data-srcset="{{ image | img_url: '250x190' | crop: 'center' }}, {{ image | img_url: '250x190' | crop: 'center', scale:2 }} 2x">
                <img data-src="{{ image | img_url: 'x400' | crop: 'center' }}" srcst="{{ image | img_url: 'x800' | crop: 'center' }} 2x" alt="" class="lazyload u-mb u-mb0@mobile u-max-h-450px u-1/1" data-order="1" data-animation="fade">
            </picture>
    </div>{%- endif -%}<div class="o-layout__item u-5/12@mobile u-6/12@tablet">
        <div class="u-max-w-500px u-pl@mobile">
            <h2 class="u-heading u-heading--caps u-h2" data-order="1">
                {{ title }}
            </h2>

            {%- if text != blank -%}
                <p data-order="3">{{ text | newline_to_br }}</p>
            {%- endif -%}
        </div>
    </div><div class="o-layout__item u-4/12@mobile u-3/12@tablet u-text-align-right@mobile">
        {%- if cta_url != blank and cta_label != blank -%}
            <a href="{{ cta_url }}" class="c-button c-button--secondary u-mt u-mt0@mobile" data-order="4">
                {%- if cta_icon == 'phone' -%}
                    {% include 'phone-icon' %}&nbsp;&nbsp;
                {%- endif -%}
                {{ cta_label }}
            </a>
        {%- endif -%}
    </div>
</div>
