<footer class="c-site-footer">
    <div class="o-wrapper o-wrapper--large u-pv+ u-pv++@mobile">
        {% include 'logo', color: 'white' %}

        <nav id="menu" class="c-site-footer__nav u-mt+">
            <div class="c-site-footer__column-links">
                {%- for group in linklists.footer.links -%}
                    <div class="c-site-footer__column">
                        <h6 class="c-site-footer__header">{{ group.title }}</h6>

                        {%- for link in group.links -%}
                            <a href="{{ link.url }}" class="c-site-footer__link js-track-event u-underline-hover-span" data-category="{{ link.title }} link" data-label="Site footer">
                                <span>{{ link.title }}</span>
                            </a>
                        {%- endfor -%}
                        {%- if group.title == 'Smith & Sinclair' -%}
                            {%- if customer -%}
                                <a href="/account" class="c-site-footer__link js-track-event u-underline-hover-span" data-category="Account link" data-label="Site footer">
                                    <span>{{ 'customer.account.title' | t }}</span>
                                </a>
                            {%- else -%}
                                <a href="/account/login" class="c-site-footer__link js-track-event u-underline-hover-span" data-category="Account link" data-label="Site footer">
                                    <span>Login</span>
                                </a>
                            {%- endif -%}
                        {%- endif -%}
                    </div>
                {%- endfor -%}
            </div>
            <div class="c-site-footer__column u-mla u-mb0 u-flex-grow-1 u-pl@tablet" style="max-width: 400px">
                <!-- TrustBox widget - Review Collector -->
                {% if settings.store_country != 'US' %}
                    <div class="trustpilot-widget s-trustpilot u-mb" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="5b5f1a0b2e12e70001e6c8da" data-style-height="52px" data-style-width="100%" style="height: 52px;">
                        <a href="https://uk.trustpilot.com/review/www.smithandsinclair.com" target="_blank" rel="noopener">Trustpilot</a>
                    </div>
                {% endif %}

                <form action="{{ settings.newsletter_form_post_url }}" method="post" data-order="3" target="noopener" class="c-form c-form--footer">
                    <h6 class="c-site-footer__header">{{ 'general.newsletter.title' | t }}</h6>

                    <input type="hidden" name="u" value="{{ settings.newsletter_form_user_id }}">
                    <input type="hidden" name="id" value="{{ settings.newsletter_form_id }}">

                    <div class="c-form c-form--row">
                        <input type="email" id="{{ settingss.newsletter_email_field_name }}" name="{{ section.settings.email_field_name }}" placeholder="{{ 'general.newsletter.email_placeholder' | t }}" class="c-form__input  u-1/1" required aria-label="{{ 'general.newsletter.email_placeholder' | t }}">

                        <button type="submit" class="c-form__button c-button c-button--primary">
                            {{ 'general.newsletter.submit' | t }}
                        </button>
                    </div>

                    <div class="u-relative u-mt-" style="max-width: 185px;">
                        <input type="checkbox" id="newsletter-consent" class="c-form__checkbox u-mr--" name="newsletter-consent" required>
                        <label class="c-form__label c-form__label--checkbox" for="newsletter-consent">{{ 'general.newsletter.terms' | t }}</label>
                    </div>

                    <input type="hidden" name="ht" value="62c059b81c3261a46610eba3adf6ccd528da3805:MTU1OTEzNTExNC45Njk2">
                    <input type="hidden" name="mc_signupsource" value="hosted">
                </form>
            </div>
        </nav>
    </div>
    <div class="u-bg-dark-010 u-text-align-center u-text-align-left@mobile">
        <div class="o-wrapper o-wrapper--large u-pv-- u-stack-layout@mobile">
            <div class="o-layout">
                <div class="o-layout__item u-6/12@mobile u-o-05">
                    <span class="u-font-size-12 u-color-grey u-text-transform-uppercase">{{ shop.name }} &copy; {{ 'now' | date: "%Y" }} | {{ 'general.footer.rights' | t }}</span>
                </div><div class="o-layout__item u-6/12@mobile u-text-align-right@mobile">
                    {%- for link in linklists.social.links -%}
                        <a href="{{ link.url }}" class="u-display-inline-block u-color-white js-track-event {% unless forloop.last %}u-mr{% endunless %}" data-category="{{ link.title }} social link" data-label="Site footer" target="noopener" aria-label="{{ link.title }}">
                            {%- assign icon_file = link.title | handle | append:'-icon' -%}
                            {% include icon_file, classes:'c-svg--w18' %}
                            <span class="u-hide" aria-hidden="true">{{ link.title }}</span>
                        </a>
                    {%- endfor -%}
                </div>
            </div>
        </div>
    </div>
</footer>
