<section class="o-section o-wrapper o-wrapper--medium">
    <h1 class="u-heading u-h2 u-mb u-mb+@tablet">{{ title }}</h1>
    
    <div class="s-wysiwyg s-content-links">
        {{ content }}
    </div>
</section>
