<!-- Global site tag (gtag.js) - Google Ads: 698870956 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-698870956"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-698870956');
</script>

<script>
    gtag('event', 'page_view', {
        'send_to': 'AW-698870956',
        'value': '{{ product.price }}',
        'items': [{
            'id': '{{ product.id }}',
            'google_business_vertical': 'retail'
        }]
    });
</script>




<!-- Global site tag (gtag.js) - Google Ads: 701673428 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-701673428"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-701673428');
</script>


<script>
    gtag('event', 'page_view', {
        'send_to': 'AW-701673428',
        'value': '{{ product.price }}',
        'items': [{
            'id': '{{ product.id }}',
            'google_business_vertical': 'retail'
        }]
    });
</script>
