{%- assign SHOW_PROMO_BANNER = false -%}

<header class="c-site-header js-site-header js-sticky">
    {% section 'promo-banner' %}

    <div class="o-wrapper--large u-mh-auto">
        <div class="c-site-header__wrapper u-pv">
            <a href="#menu" class="c-hamburger u-mr js-overlay-nav-toggle">
                <span class="c-hamburger__icon">Menu</span>
            </a>

            {%- for link in linklists.main-menu.links -%}
                {%- if link.title == 'Home' -%}
                    <a href="{{ link.url }}" class="c-site-header__link c-site-header__link--logo u-ml0" aria-label="Home page">
                        {% include 'logo' %}
                    </a>
                {%- endif -%}
            {%- endfor -%}

            <a href="/cart" class="c-site-header__link c-site-header__link--cart u-hide@tablet js-modal-open" data-modal="cart-preview" aria-label="{{ 'cart.general.title' | t }}">
                {%- if cart.item_count != 0 -%}
                    <span class="c-site-header__badge js-cart-count">{{ cart.item_count }}</span>
                {%- endif -%}
                <svg width="22" height="27" viewBox="0 0 22 27" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="nonzero" stroke="#000" stroke-width=".5"><path d="M20.4504 26h-18.9c-.1096 0-.2144-.03957-.2896-.10953-.0752-.06996-.1152-.16395-.1104-.26076l.9-16.69485c.0104-.18868.1856-.33638.4-.33638h17.1c.2136 0 .3896.1477.4.33638l.9 16.69485c.0048.09681-.0344.1908-.1104.26076S20.5592 26 20.4504 26zm-18.4808-.70666h18.0608l-.8616-15.9882H2.8312l-.8616 15.9882z"/><path d="M15.324 8.96212c-.2208 0-.4-.1568-.4-.34998V5.1333c0-1.8927-1.76-3.43333-3.924-3.43333-2.164 0-3.924 1.54062-3.924 3.43333v3.47884c0 .19319-.1792.34998-.4.34998-.2208 0-.4-.1568-.4-.34998V5.1333C6.276 2.85421 8.3952 1 11 1s4.724 1.85421 4.724 4.1333v3.47884c0 .19319-.1784.34998-.4.34998z"/></g></svg>
            </a>

            <nav class="c-site-header__nav c-site-header__nav--center js-nav">
                <ul class="o-list-inline o-list-inline--large">
                    {%- for link in linklists.main-menu.links -%}
                        <li class="o-list-inline__item">
                            {%- assign is_active = link.active -%}
                            {%- assign has_dropdown = false -%}
                            {%- if link.links != blank or link.title == 'Shop' and settings.store_country != 'US'  -%}
                                {%- assign has_dropdown = true -%}
                            {%- endif -%}
                            {%- if link.title == 'Shop' and template contains 'product' or template contains 'collection' -%}
                                {%- assign is_active = true -%}
                            {%- endif -%}
                            {%- unless link.title == 'Home' -%}
                                <a href="{{ link.url }}" class="c-site-header__link {% if is_active %}is-active{% endif %} {% if has_dropdown == true %}c-site-header__link--sub-nav js-sub-nav-link{% else %}u-underline-hover{% endif %}">
                                    {{ link.title }}
                                </a>
                            {%- endunless -%}
                            {%- if has_dropdown -%}
                                <div class="c-site-header__sub-nav c-site-header__sub-nav--{{ link.title }}">
                                    {%- if link.title == 'Shop' and settings.store_country != 'US' -%}
                                        {% section 'collection-nav' %}
                                    {%- else -%}
                                        {%- for sub_link in link.links -%}
                                            {%- assign is_active = sub_link.active -%}
                                            {%- if link.handle == 'experiences' and template.suffix == 'experiences-list' -%}
                                                {%- assign is_active = false -%}
                                            {%- endif -%}
                                            <a href="{{ sub_link.url }}{% if link.handle == 'experiences' %}#{{ sub_link.title | handle }}{% endif %}" class="c-site-header__sub_link u-underline-hover-span {% if is_active %}is-active{% endif %}">
                                                <span>{{ sub_link.title }}</span>
                                            </a>
                                        {%- endfor -%}
                                    {%- endif -%}
                                </div>
                            {%- endif -%}
                        </li>
                    {%- endfor -%}
                </ul>
            </nav>

            <nav class="c-site-header__nav u-text-align-right">
                {%- if customer -%}
                    <a href="/account" class="c-site-header__link u-mr- u-show@tablet u-underline-hover">
                        {{ 'customer.account.title' | t }}
                    </a>
                {%- else -%}
                    <a href="/account/login" class="c-site-header__link u-mr- u-show@tablet u-underline-hover">{{ 'customer.login.sign_in' | t }}</a>
                {%- endif -%}

                <button type="button" class="c-site-header__link c-site-header__link--settings u-mr- js-user-settings-open">
                    <img src="{{ 'blankflag.png' | asset_img_url:'x40' }}" alt="" class="js-user-flag">
                    <span class="js-user-settings">{{ settings.store_currency }}</span>
                </button>

                <a href="/cart" class="c-site-header__link c-site-header__link--cart js-modal-open" data-modal="cart-preview" aria-label="{{ 'cart.general.title' | t }}">
                    {%- if cart.item_count != 0 -%}
                        <span class="c-site-header__badge js-cart-count">{{ cart.item_count }}</span>
                    {%- endif -%}
                     <svg width="22" height="27" viewBox="0 0 22 27" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="nonzero" stroke="#000" stroke-width=".5"><path d="M20.4504 26h-18.9c-.1096 0-.2144-.03957-.2896-.10953-.0752-.06996-.1152-.16395-.1104-.26076l.9-16.69485c.0104-.18868.1856-.33638.4-.33638h17.1c.2136 0 .3896.1477.4.33638l.9 16.69485c.0048.09681-.0344.1908-.1104.26076S20.5592 26 20.4504 26zm-18.4808-.70666h18.0608l-.8616-15.9882H2.8312l-.8616 15.9882z"/><path d="M15.324 8.96212c-.2208 0-.4-.1568-.4-.34998V5.1333c0-1.8927-1.76-3.43333-3.924-3.43333-2.164 0-3.924 1.54062-3.924 3.43333v3.47884c0 .19319-.1792.34998-.4.34998-.2208 0-.4-.1568-.4-.34998V5.1333C6.276 2.85421 8.3952 1 11 1s4.724 1.85421 4.724 4.1333v3.47884c0 .19319-.1784.34998-.4.34998z"/></g></svg>
                </a>
            </nav>
        </div>
    </div>
</header>
<div class="c-site-header-placeholder"></div>
