<section class="c-hero-banner c-hero-banner--{{ banner_theme | default: 'dark' }} c-hero-banner--{{ banner_size | default: 'short' }} c-hero-banner--text-{{ banner_text_style | default: 'default' }} {% if template.name == 'index' %}c-hero-banner--home-page{% endif %}">
    <div id="banner-image-{{ banner_id | default: 1 }}" class="c-hero-banner__image"></div>
    <style>
    #banner-image-{{ banner_id | default: 1 }} {
        background-image: url('{{ banner_background_image | img_url: 'x720' }}');
        background-position: {{ banner_horizontal_position | default:'right' }} {{ banner_vertical_position | default:'bottom' }};
    }
    @media only screen and (min-width: 46.0525em) {
        #banner-image-{{ banner_id | default: 1 }} {
            background-image: url('{{ banner_background_image | img_url: 'x1000' }}');
        }
    }
    </style>

    <div class="o-wrapper u-flex-grow">
        <div class="c-hero-banner__wrapper c-animated-content u-in-viewport">
            {%- if banner_title != blank -%}
                <h1 class="c-hero-banner__title u-heading {% if banner_text_style == 'uppercase-outline' %}u-outline{% endif %}" data-order="1">{{ banner_title }}</h1>
            {%- endif -%}

            {%- if banner_text != blank -%}
                <p class="c-hero-banner__text u-lead u-mt-" data-order="2">{{ banner_text }}</p>
            {%- endif -%}

            {%- if banner_primary_cta_url != blank or banner_secondary_cta_url != blank -%}
                <div class="c-button-list {% if template.name == 'index' %}u-show@mobile{% endif %}">
                    {%- if banner_primary_cta_url -%}
                        {% include 'primary-cta-button', url:banner_primary_cta_url, label:banner_primary_cta_label, attributes:' data-order="3"', classes:'c-button--ghost' %}
                    {%- endif -%}
                    {%- if banner_secondary_cta_url -%}
                        {% include 'secondary-cta-button', url:banner_secondary_cta_url, label:banner_secondary_cta_label, attributes:' data-order="4"' %}
                    {%- endif -%}
                </div>
            {%- endif -%}
        </div>
    </div>
</section>

{%- if banner_primary_cta_url != blank or banner_secondary_cta_url != blank -%}
    <div class="c-button-list c-button-list--sticky {% if template.name == 'index' %}u-hide@mobile{% endif %}">
        {%- if banner_primary_cta_url -%}
            {% include 'primary-cta-button', url:banner_primary_cta_url, label:banner_primary_cta_label, attributes:' data-order="3"', classes:'c-button--ghost' %}
        {%- endif -%}
        {%- if banner_secondary_cta_url -%}
            {% include 'secondary-cta-button', url:banner_secondary_cta_url, label:banner_secondary_cta_label, attributes:' data-order="4"' %}
        {%- endif -%}
    </div>
{%- endif -%}
