<div class="c-hero-content-teaser c-animated-content js-monitor">
    <div class="c-hero-content-teaser__image-container">
        <div class="c-hero-content-teaser__image lazyload" data-src="{{ image | img_url: 'x600' }}"></div>
    </div>
    <div class="c-hero-content-teaser__text">
        <h3 class="u-heading u-h3 u-mb" data-order="1">{{ title }}</h3>

        <p class="u-mb-" data-order="2">
            {%- if excerpt -%}
                {{ excerpt | strip_html | strip_newlines }}
            {%- else -%}
                {{ content | strip_html | strip_newlines | truncate:'100','...' }}
            {%- endif -%}
        </p>

        <a href="{{ url }}" class="u-underline-link" data-order="3">{{ 'blogs.article.read_more' | t }}</a>

        {% include 'blog-tags', tags:tags %}
    </div>
</div>
