{%- assign _text = text | replace:'<b>','<span class="c-statement__highlight"><span class="c-statement__highlighted-text">' -%}
{%- assign _text = _text | replace:'</b>','</span></span>' -%}
{{ _text }}
