{%- assign SHOP_BRAND = 'smith-and-sinclair' -%}
{%- assign shop_handle = shop.name | handle -%}
{% if shop_handle contains 'pollen' -%}
    {%- assign SHOP_BRAND = 'pollen' -%}
{%- endif -%}
{%- if SHOP_BRAND == 'smith-and-sinclair' -%}
    {%- if settings.store_country == 'US' -%}
        {%- include 'logo-sands-us' with color -%}
    {%- else -%}
        {%- include 'logo-sands-default' with color -%}
    {%- endif -%}
{%- else -%}
    Pollen logo here
{%- endif -%}
