{%- if address.name != blank -%}
    <strong>{{ address.name }}</strong>
    {%- if address.company != blank -%}
        , {{ address.company }}
    {%- endif -%}
    <br>
{%- endif -%}
{%- if address.street != blank -%}
    {{ address.street }}<br>
{%- endif -%}
{%- if address.city != blank -%}
    {{ address.city }},&nbsp;
{%- endif -%}
{%- if address.zip != blank -%}
    {{ address.zip }}
{%- endif -%}
{%- if address.city != blank or address.zip != blank -%}
    <br>
{%- endif -%}
{%- if address.country != blank -%}
    {{ address.country }}
{%- endif -%}
