<div class="o-layout o-layout--large u-stack-layout@mobile u-flex@mobile u-align-items-center">
    <div class="o-layout__item u-4/12@mobile">
        <a href="{{ order.customer_url }}" class="u-border-2-grey-light u-image-hover" style="background-image: url({{ order.line_items[0].product.featured_image | img_url: '300x' }}); background-position: center center; background-size: cover; height: 0; padding-bottom: 100%; width: 100%; display: inline-block;"></a>
    </div><div class="o-layout__item u-8/12@mobile">
        <h3 class="u-h5">
            {{ order.created_at | date: format: 'month_day_year' }}
        </h3>
        <h4 class="u-h6 u-mb u-color-secondary">
            {{ order.line_items.size }} {{ order.line_items.size | pluralize: 'item', 'items' }} – {{ order.total_price | money_without_trailing_zeros }} ({% include 'order-fulfillment-label' %})
        </h4>

        <a href="{{ order.customer_url }}" class="c-button c-button--secondary">{{ 'customer.order.view_link' | t }}</a>
    </div>
</div>
