<div class="c-overlay-nav js-overlay-nav" style="display: none;">
    <div class="c-overlay-nav__inner js-overlay-nav-inner">
        <nav class="c-overlay-nav__nav c-overlay-nav__nav--main u-pt+ u-pb">
            {%- for link in linklists.main-menu.links -%}
                {%- assign is_active = link.active -%}
                {%- assign has_dropdown = false -%}
                {%- if link.links != blank or link.title == 'Shop' -%}
                    {%- assign has_dropdown = true -%}
                {%- endif -%}
                {%- if link.title == 'Shop' and template contains 'product' or template contains 'collection' -%}
                    {%- assign is_active = true -%}
                {%- endif -%}
                {%- unless link.title == 'Home' -%}
                    <div class="c-overlay-nav__row">
                        <a href="{{ link.url }}" class="c-overlay-nav__link js-overlay-nav-link {% if is_active %}c-overlay-nav__link--active{% endif %}">
                            {{ link.title }}
                        </a>
                        {%- if has_dropdown -%}
                            <button class="c-overlay-nav__toggle js-visibility-toggle" id="subnav-{{ link.title | handle }}-toggle" aria-controls="subnav-{{ link.title | handle }}" aria-expanded="false" role="tab">
                                <svg height="32" width="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                    <path d="M1 12l15 14 15-14-4-4-11 10L5 8z"/>
                                </svg>
                            </button>
                        {%- endif -%}
                    </div>
                {%- endunless -%}
                {%- if has_dropdown -%}
                    <div class="c-accordion__content" id="subnav-{{ link.title | handle }}" aria-labelledby="subnav-{{ link.title | handle }}-toggle" aria-hidden="true" role="tabpanel">
                        <div>
                            {%- if link.title == 'Shop' -%}
                                {% section 'collection-nav' %}
                            {%- else -%}
                                {%- for sub_link in link.links -%}
                                    {%- assign is_active = sub_link.active -%}
                                    {%- if link.handle == 'experiences' and template.suffix == 'experiences-list' -%}
                                        {%- assign is_active = false -%}
                                    {%- endif -%}
                                    <a href="{{ sub_link.url }}{% if link.handle == 'experiences' %}#{{ sub_link.title | handle }}{% endif %}" class="c-overlay-nav__sub-link">
                                        <span>{{ sub_link.title }}</span>
                                    </a>
                                {%- endfor -%}
                            {%- endif -%}
                        </div>
                    </div>
                {%- endif -%}
            {%- endfor -%}
            <footer class="c-overlay-nav__secondary-nav u-mt-">
                {%- if customer -%}
                    <a href="/account" class="c-overlay-nav__link js-overlay-nav-link {% if is_active %}c-overlay-nav__link--active{% endif %}">
                        {{ 'customer.account.title' | t }}
                    </a>
                {%- else -%}
                    <a href="/account/login" class="c-overlay-nav__link js-overlay-nav-link {% if is_active %}c-overlay-nav__link--active{% endif %}">
                        {{ 'customer.login.sign_in' | t }}
                    </a>
                {%- endif -%}

                <a href="/pages/faqs" class="c-overlay-nav__link js-overlay-nav-link">FAQs</a>
                <a href="/pages/contact-us" class="c-overlay-nav__link js-overlay-nav-link">Contact</a>
            </footer>
        </nav>
        <div class="c-overlay-nav__footer">
            <div class="c-overlay-nav__footer-col u-flex-inline u-align-items-center u-p-">
                {%- for link in linklists.social.links -%}
                    <a href="{{ link.url }}" class="u-flex-inline u-align-items-center u-color-primary js-track-event {% unless forloop.last %}u-mr{% endunless %}" data-category="{{ link.title }} social link" data-label="Site footer" target="noopener">
                        {%- assign icon_file = link.title | handle | append:'-icon' -%}
                        {% include icon_file, classes:'c-svg--w18' %}
                        <span class="u-hide" aria-hidden="true">{{ link.title }}</span>
                    </a>
                {%- endfor -%}
            </div>
            <div class="c-overlay-nav__footer-col u-p-">
                <button type="button" class="js-user-settings-open c-location-nav">
                    <img src="{{ 'blankflag.png' | asset_img_url:'x40' }}" alt="" class="js-user-flag c-location-nav__flag">
                    <span class="js-user-settings c-location-nav__label">{{ settings.store_currency }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
