<div class="s-pagination">
    {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
            <span class="page">{{ part.title | link_to: part.url }}</span>
        {%- else -%}
            <span class="page current">{{ part.title }}</span>
        {%- endif -%}
    {%- endfor -%}
</div>
