{% comment %}
    NOTE: We are using `product_card_variant` as all templates are being `included` (which is now deprecated).
    The theme should be using `render` and passing arguments to each template. Assigning `current_variant`
    causes a bug with the add to cart at the bottom of the product template.
{% endcomment %}
{%- assign product_card_variant = product_data.selected_or_first_available_variant -%}
{%- assign requires_age_check = false -%}
{%- for tag in product_data.tags -%}
    {%- if tag == 'age_check' -%}
        {%- assign requires_age_check = true -%}
    {%- endif -%}
{%- endfor -%}

<a href="{{ product_data.url }}" class="u-display-block u-image-hover-img c-animated-content u-in-viewport">
    <div id="product-card-{{ product_data.id }}-bg" class="{% if lazyload == true %}lazyload{% endif %} u-1/1 u-mb- u-card-image u-card-image--tall" {% if lazyload == true %}data-src="{{ product_data.featured_image | img_url: 'x600' }}"{% else %}style="background-image: url('{{ product_data.featured_image | img_url: 'x600' }}');"{% endif %}></div>

    <span class="u-lead u-font-family-bold u-display-block u-white-space-normal" data-order="1">{{ product_data.title }}</span>
    <span class="u-color-grey" data-order="2">
        {%- if product_data.available -%}
            {% include 'product-price', price:product_data.price, price_min:product_data.price_min, price_max:product_data.price_max %}
        {%- else -%}
            {{ 'products.product.sold_out' | t }}
        {%- endif -%}
    </span>
</a>
{%- if product_card_variant.available -%}
<span class=" c-animated-content u-in-viewport">
    <a href="{{ product_data.url }}" class="js-add-to-cart u-font-family-bold"  data-order="3" data-product-handle="{{ product_data.handle }}" data-variant-id="{{ product_card_variant.id }}" data-price="{{ product_data.price }}" data-source="product hero" data-quantity="1" data-age-check="{{ requires_age_check }}">
        <span class="js-add-button-label">{{ 'products.label.add' | t }}</span>
    </a>
</span>
{%- endif -%}
<style>@media (-webkit-min-device-pixel-ratio: 1.25), (min--moz-device-pixel-ratio: 1.25), (-o-min-device-pixel-ratio: 1.25/1), (min-device-pixel-ratio: 1.25), (min-resolution: 200dpi), (min-resolution: 1.25dppx) { #product-card-{{ product_data.id }}-bg.u-in-viewport { background-image: url('{{ product_data.featured_image | img_url: 'x600', scale:2 }}') !important; }}</style>
