<div class="c-gallery c-gallery--thumbs">
    <ul class="c-gallery__image-container js-gallery">
        {%- assign count = 0 -%}
        {%- for image in product.images -%}
            {%- unless image == product.featured_image -%}
                {%- assign count = count | plus:1 -%}
                <li class="c-gallery__image js-gallery-photo" style="background-image: url('{% if count == 1 %}{{ image | img_url:'1000x1000' }}{% else %}{{ image | img_url:'100x100' }}{% endif %}');" {% if count > 1 %}data-image-source="{{ image | img_url:'1000x' }}"{% endif %} data-index="{{ count }}"></li>
            {%- endunless -%}
        {%- endfor -%}
    </ul>
</div>

<nav class="c-gallery__nav js-gallery-nav">
    {%- assign count = 0 -%}
    {%- for image in product.images -%}
        {%- unless image == product.featured_image -%}
        {%- assign count = count | plus:1 -%}
            <button type="button" class="c-gallery__nav-thumb u-image-hover js-gallery-thumb {% if count == 1 %}is-active{% endif %}" style="background-image: url({{ image | img_url: '100x100', crop: 'center' }});" data-index="{{ count }}"></button>
        {%- endunless -%}
    {%- endfor -%}
</nav>
