{%- if product_content.teaser_text_1 != blank or product_content.teaser_text_2 != blank -%}
    <section class="o-section o-wrapper">
        {%- if product_content.teaser_text_1 != blank -%}
            {% include 'flex-image-text-block', title:product_content.teaser_title_1, text:product_content.teaser_text_1, image:product_content.teaser_image_1, cta_url:product_content.teaser_cta_url_1, cta_label:product_content.teaser_cta_label_1 %}
        {%- endif -%}

        {%- if product_content.teaser_text_2 != blank -%}
            <div class="u-mt+"></div>

            {% include 'flex-image-text-block', title:product_content.teaser_title_2, text:product_content.teaser_text_2, image:product_content.teaser_image_2, cta_url:product_content.teaser_cta_url_2, cta_label:product_content.teaser_cta_label_2, is_text_first:true %}
        {%- endif -%}
    </section>
{%- endif -%}
