<span itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="js-price" data-default-currency="{{ shop.currency }}" data-default-price="{{ price }}" data-default-price-with-currency="{{ price | money_without_trailing_zeros }}">
    {%- if price_min and price_max -%}
        {%- if price_min < price_max -%}
            {{ 'products.label.from' | t }}&nbsp;
        {%- endif -%}
    {%- endif -%}
    <span itemprop="priceCurrency" content="{{ shop.money_code }}" class="js-price-currency">{% if shop.currency == 'EUR' %}€{% elsif shop.currency == 'USD' %}${% else %}£{% endif %}</span><span itemprop="price" content="{{ price | divided_by: 100.00 }}">{{ price | money_without_trailing_zeros | replace: '£', '' | replace: '€', '' | replace: '$', '' }}</span>
    <link itemprop="availability" href="http://schema.org/InStock">
</span>
