<ul class="o-list-inline o-list-inline--persist u-flex u-mt ">
    <li class="o-list-inline__item u-relative" data-order="5">
        <input type="quantity" id="Quantity" name="quantity" value="1" min="1" max="{{ current_variant.inventory }}" class="c-product__quantity js-variant-quantity">
        <button type="button" class="c-product__quantity-toggle js-quantity-toggle" data-action="decrease" title="Decrease quantity" aria-label="Decrease quantity">-</button>
        <button type="button" class="c-product__quantity-toggle js-quantity-toggle" data-action="increase" title="Increase quantity" aria-label="Increase quantity">+</button>
    </li>
    <li class="o-list-inline__item u-flex-grow-1 u-ml- u-pt0">
        <button type="submit" class="c-button c-button--primary c-button--ghost c-product__add-button u-pl0 js-add-to-cart" {% unless current_variant.available %}disabled="disabled"{% endunless %} data-product-handle="{{ product.handle }}" data-variant-id="{{ current_variant.id }}" data-price="{{ product.price }}" data-source="product hero" data-quantity="1" data-order="5" data-age-check="{{ requires_age_check }}">
            <span class="c-button__text">
                <span class="c-button__text js-add-button-label">
                    {%- if current_variant.available -%}
                        {{ 'products.label.add' | t }}
                    {%- else -%}
                        {{ 'products.label.sold_out' | t }}
                    {%- endif -%}
                </span>
                {% comment %}
                The below SPAN is copied from 'snippets/price'. For some reason, I couldn't get the price passing to the snippet...
                {% endcomment %}
                <span class="js-price js-add-button-price" data-default-currency="{{ shop.currency }}" data-default-price="{{ product.price }}" data-default-price-with-currency="{{ product.price | money_without_trailing_zeros }}">{{ product.price | money_without_trailing_zeros }}</span>
            </span>
        </button>
    </li>
</ul>
