<blockquote class="c-quote u-text-align-center">
    {%- if sticker_image != blank -%}
        <img src="{{ sticker_image | img_url:'70x' }}" srcset="{{ sticker_image | img_url:'70x', scale:2 }}" class="u-mb" alt="">
    {%- else -%}
        <svg width="16" height="14" xmlns="http://www.w3.org/2000/svg"><path d="M16 7.784h-3.5V6.397c0-2.052 1.063-3.44 3.063-3.742V0C12.687.241 9.75 2.293 9.75 6.397V14H16V7.784zm-13.313 0V6.397c0-2.052 1.126-3.44 3.126-3.742V0C2.938.241 0 2.293 0 6.397V14h6.25V7.784H2.687z" fill="#221F20" fill-rule="evenodd"/></svg>
    {%- endif -%}

    <p class="u-heading u-h3 u-max-w-750px">"{{ text }}"</p>
    
    <footer class="u-mt u-text-align-left u-flex u-align-items-center">
        {%- if quotee_image != blank -%}
            <img src="{{ quotee_image | img_url:'60x' }}" srcset="{{ quotee_image | img_url:'60x', scale:2 }} 2x" alt="" class="u-display-block">
        {%- endif -%}
        <div class="u-ml-" style="line-height: 1.4">
            <strong class="u-color-grey-dark">{{ quotee }}</strong><br>
            <span class="u-color-grey u-font-size-14">{{ quotee_role }}</span>
        </div>
    </footer>
</blockquote>
