<h2 class="u-heading u-h3 u-mb+ c-animated-item js-monitor">{{ related_products_title }}</h2>

<div class="c-swipeable">
    <div class="o-layout">
        {%- for related_product_handle in related_products -%}<!--
        --><div class="o-layout__item u-3/12@mobile c-swipeable__item">
             {% include 'product-card', product_data:all_products[related_product_handle] %}
        </div><!--
        -->{%- endfor -%}
    </div>
</div>

<script>
window.globalData.relatedProducts = [
    {%- for related_product_handle in related_products -%}
        {%- assign related_product = all_products[related_product_handle] -%}
        {
            title: '{{ related_product.title }}',
            handle: '{{ related_product.handle }}',
            price: {{ related_product.price }},
            url: '{{ related_product.url }}',
            image: '{{ related_product.featured_image | img_url: '500x' }}'
        }
        {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
];
</script>
