<div class="c-statement">
    <div class="c-statement__text">
        <div>
            {%- assign _text = text | newline_to_br -%}
            {%- assign _text = _text | replace:'<br />','</div><div>' -%}
            {%- assign _text = _text | replace:'<b>','<span class="c-statement__highlight"><span class="c-statement__highlighted-text">' -%}
            {%- assign _text = _text | replace:'</b>','</span></span>' -%}

            {{ _text }}
            <div class="c-statement__sticker" style="background-image: url('{{ sticker | img_url:'120x120' }} 2x');">
            </div>
        </div>
    </div>
</div>
