<svg height="512" width="512" xmlns="http://www.w3.org/2000/svg"  class="c-svg {{ classes }}" style="fill: currentColor;" viewBox="0 0 512 512">
  <path clip-rule="evenodd" d="M500.756 104.621c-2.354 18.478-29.152 37.017-45.388 51.062C471.388 391.852 204.562 539.172 10 419.498c54.568.41 115.048-14.568 147.51-45.387-47.198-7.646-80.637-29.051-93.612-70.918 13.825-1.305 33.228 2.969 42.551-2.836-43.174-16.398-77.313-41.828-79.428-99.288 15.378 1.642 23.372 10.668 42.55 8.511-27.918-17.9-59.797-85.963-31.203-136.163 50.667 56.183 113.916 99.785 212.755 107.796C226.604 76.945 364.818 12.337 427.001 87.601c24.176-5.137 44.551-14.075 65.244-22.694-8.475 23.676-25.691 38.606-42.551 53.898 18.325-3.423 37.687-5.809 51.062-14.184z" fill-rule="evenodd"/>
</svg>
