<div class="c-modal js-modal u-hide" data-modal="user-settings">
    <div class="c-modal__wrapper u-p u-p+@mobile t-light js-modal-wrapper">
        <div class="u-hide js-user-settings-container">
            <div class="u-heading u-h4 u-mb">{{ 'user_settings.general.title' | t }}</div>

            <form name="user-settings" action="#" class="c-form o-layout js-user-settings-form">
                <div class="o-layout__item u-6/12@mobile">
                    <label class="c-form__label" for="user-country">{{ 'user_settings.general.country' | t }}</label>
                    <span class="custom-select">
                        <select name="country" id="user-country" class="js-user-country">
                        </select>
                    </span>
                </div><div class="o-layout__item u-mt u-mt0@mobile u-6/12@mobile">
                    <label class="c-form__label" for="user-currency">{{ 'user_settings.general.currency' | t }}</label>
                    <span class="custom-select">
                        <select name="currency" id="user-currency" class="js-user-currency">
                        </select>
                    </span>
                </div>

                <footer class="u-text-align-right u-mt">
                    <button class="c-button c-button--primary c-button--ghost c-button--wide" type="submit">
                        <span class="c-button__text">{{ 'user_settings.general.submit' | t }}</span>
                    </button>
                </footer>
            </form>
        </div>
        <div class="u-hide js-user-recommendation-container">
            <div class="u-heading u-h4 u-mb">{{ 'user_settings.confirmation.title' | t }}</div>

            <span class="js-recommendation-text"></span>
            <div class="c-button-list u-mt">
                <button type="button" class="c-button c-button--primary c-button--ghost u-flex-grow-1 js-recommendation-confirm" data-confirm="true">
                    <span class="c-button__text">{{ 'user_settings.confirmation.confirm' | t }}</span>
                </button>
                <button type="button" class="c-button c-button--grey c-button--ghost u-flex-grow-1 js-recommendation-confirm" data-confirm="false">
                    <span class="c-button__text">{{ 'user_settings.confirmation.cancel' | t }}</span>
                </button>
            </div>
        </div>
        <div class="u-hide js-user-age-container">
            <div class="u-heading u-h4 u-mb">{{ 'user_settings.age.title' | t }}</div>

            <form name="user-settings" action="#" class="c-form js-user-age-form">
                <div class="u-flex@mobile">
                    <div class="u-flex-grow-1 u-mr u-hide js-user-state-container">
                        <label for="user-state" class="u-display-block u-heading u-h5 u-mb-">{{ 'user_settings.age.state' | t }}</label>
                        <div class="custom-select">
                            <select name="user-state" id="user-state" class="js-user-state">
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>
                    <div class="u-mt u-mt0@mobile u-flex-grow-1">
                        <label class="u-display-block u-heading u-h5 u-mb-">
                            {{ 'user_settings.age.age_first' | t }}
                            <span class="js-user-age-minimum">
                                {%- if settings.store_country == 'US' -%}
                                    21
                                {%- else -%}
                                    18
                                {%- endif -%}
                            </span>&nbsp;{{ 'user_settings.age.age_last' | t }}
                        </label>

                        <div class="custom-select">
                            <select name="user-age" class="js-user-age">
                                <option value="Yes">{{ 'user_settings.age.confirm' | t }}</option>
                                <option value="No">{{ 'user_settings.age.deny' | t }}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="u-text-align-right@mobile">
                    <button type="submit" class="c-button c-button--wide c-button--primary c-button--ghost u-mt">
                        <span class="c-button__text">{{ 'user_settings.age.submit' | t }}</span>
                    </button>
                </div>
            </form>
        </div>
        <div class="u-hide js-user-age-fallback">
            <div class="u-heading u-h4 u-mb">{{ 'user_settings.age.error_title' | t }}</div>
            {{ 'user_settings.age.error_text' | t }}
        </div>
    </div>
</div>
