<style>
@font-face {font-family:'Benton Sans - Regular';src:url('{{ 'bentonsans-regular.woff2' | asset_url }}') format('woff2'),url('{{ 'bentonsans-regular.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}
@font-face {font-family:'Benton Sans - Italic';src:url('{{ 'bentonsans-italic.woff2' | asset_url }}') format('woff2'),url('{{ 'bentonsans-italic.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}
@font-face {font-family:'Benton Sans - Bold';src:url('{{ 'bentonsans-bold.woff2' | asset_url }}') format('woff2'),url('{{ 'bentonsans-bold.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}
@font-face {font-family:'Brown - Bold';src:url('{{ 'brown-bold.woff2' | asset_url }}') format('woff2'),url('{{ 'brown-bold.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:normal;}
@font-face {font-family:'Brown - Bold - Italic';src:url('{{ 'brown-bold-italic.woff2' | asset_url }}') format('woff2'),url('{{ 'brown-bold-italic.woff' | asset_url }}') format('woff');font-display:swap;font-weight:normal;font-style:italic;}
</style>
