h1,
h2,
h3,
h4,
h5,
h6,
.u-h1,
.u-h2,
.u-h3,
.u-h4,
.u-h5,
.u-h6 {
    color: theme-color(page, headings);
    font-weight: normal;
    word-break: keep-all;
}

@include mq($until: tablet) {
    h1,
    .u-h1 {
        @include inuit-font-size($inuit-font-size-h1 * 0.85, false, true);
    }
}

@include mq($until: tabletSmall) {
    h1,
    .u-h1 {
        @include inuit-font-size($inuit-font-size-h1 * 0.775, false, true);
    }

    h2,
    .u-h2 {
        @include inuit-font-size($inuit-font-size-h2 * 0.8, false, true);
    }

    h3,
    .u-h3 {
        @include inuit-font-size($inuit-font-size-h3 * 0.95, false, true);
    }

    h4,
    .u-h4 {
        @include inuit-font-size($inuit-font-size-h4 * 0.9, false, true);
    }

    // h5,
    // .u-h5 {
    //     @include inuit-font-size($inuit-font-size-h5 * 0.85, false, true);
    // }

    // h6,
    // .u-h6 {
    //     @include inuit-font-size($inuit-font-size-h6 * 0.85, false, true);
    // }
}

.u-heading {
    font-family: $global-font-family-headings;
    line-height: 1.2;
}
