.s-wysiwyg {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $global-font-family-headings;
        margin-bottom: $global-spacing;
        margin-top: $global-spacing-large;
    }

    ol,
    ul {
        padding-left: $global-spacing;
    }

    img {
        max-width: 100%;
    }

    p + * {
        margin-bottom: $global-spacing;
    }
}
