.o-list-inline {
    list-style: none;
}
.o-list-inline__item {
    // position: relative;
}

.o-list-inline--persist {
    .o-list-inline__item:nth-child(n + 2) {
        margin-left: $global-spacing;
    }
}

@include mq($from: mobile) {
    .o-list-inline__item:nth-child(n + 2) {
        margin-left: $global-spacing;
    }

    .o-list-inline--tiny {
        .o-list-inline__item:nth-child(n + 2) {
            margin-left: $global-spacing-tiny;
        }
    }
}

@include mq($until: tablet) {
    .o-list-inline\@tablet > .o-list-inline__item {
        display: block;
        margin-left: 0;
    }

    .o-list-inline__item:nth-child(n + 2) {
        padding-top: $global-spacing-tiny;
    }

    .o-list-inline--persist {
        .o-list-inline__item:nth-child(n + 2) {
            margin-left: $global-spacing-tiny;
        }
    }
}

@include mq($until: mobile) {
    .o-list-inline\@mobile > .o-list-inline__item {
        display: block;
        margin-left: 0;
    }

    .o-list-inline__item:nth-child(n + 2) {
        padding-top: $global-spacing-tiny;
    }
}

@include mq($from: desktop) {
    .o-list-inline--large {
        .o-list-inline__item:nth-child(n + 2) {
            margin-left: $global-spacing-large;
        }
    }
}
