/* Matrix/grid layouts
   ====================================== */

$layout-matrix-sizes: (
    '': $global-spacing,
    '--huge': $global-spacing-huge,
    '--large': $global-spacing-large,
    '--small': $global-spacing-small
);

@each $layout-matrix-size, $layout-matrix-spacing in $layout-matrix-sizes {
    /**
     * 1. Cancel out the margin that's added to each layout item
     * 2. Add a margin to each item for equal spacing
     */
    .o-layout#{$layout-matrix-size}.o-layout--matrix {
        // margin-bottom: ($layout-matrix-spacing * -1) !important; /* [1] */

        > .o-layout__item {
            margin-bottom: $layout-matrix-spacing !important; /* [2] */
        }
    }
}

@include mq($until: tablet) {
    .o-layout--huge {
        margin-left: ($global-spacing-large * -1);

        > .o-layout__item {
            padding-left: $global-spacing-large;
        }
    }

    .o-layout--large {
        margin-left: ($global-spacing * -1);

        > .o-layout__item {
            padding-left: $global-spacing;
        }
    }
}

@include mq($until: mobile) {
    .o-layout--huge.o-layout--matrix > .o-layout__item {
        margin-bottom: $global-spacing-large !important;
    }
}

@include mq($from: mobile) {
    .o-layout--reverse\@mobile {
        display: flex;

        > .o-layout__item:nth-of-type(1) {
            order: 2;
        }
        > .o-layout__item:nth-of-type(2) {
            order: 1;
        }
    }
}
