$section-responsive-spacing: 8vmin;
$section-responsive-spacing--small: 2vmax;

.o-section {
    padding-bottom: rem($global-spacing-large);
    padding-top: rem($global-spacing-large);
    padding-bottom: calc(#{$global-spacing} + #{$section-responsive-spacing--small});
    padding-top: calc(#{$global-spacing} + #{$section-responsive-spacing--small});
}

.o-section--small {
    padding-bottom: rem($global-spacing-large);
    padding-top: rem($global-spacing-large);
}

.o-section--large {
    padding-bottom: rem($global-spacing-huge);
    padding-top: rem($global-spacing-huge);
    padding-bottom: calc(#{$global-spacing} + #{$section-responsive-spacing});
    padding-top: calc(#{$global-spacing} + #{$section-responsive-spacing});
}

@media all and (-ms-high-contrast: none) {
    padding-bottom: rem($global-spacing-large) !important;
    padding-top: rem($global-spacing-large) !important;
}

@media (min-width: #{rem(map-get($mq-breakpoints, tablet))}) and (-ms-high-contrast: none) {
    padding-bottom: rem($global-spacing-large * 2) !important;
    padding-top: rem($global-spacing-large * 2) !important;
}

.o-section:not([class*='t-']) + .o-section:not([class*='t-']),
.o-section:not([class*='t-']) + .shopify-section:not([class*='t-']) > .o-section:first-of-type {
    padding-top: 0;
}
