.o-wrapper {
    padding-left: $global-spacing-large;
    padding-right: $global-spacing-large;
    width: 100%;
}

.o-wrapper--small {
    max-width: rem(800px);
}

.o-wrapper--medium {
    max-width: rem(950px);
}

.o-wrapper--large {
    padding-left: $global-spacing;
    padding-right: $global-spacing;
    max-width: rem($inuit-wrapper-width + ($global-spacing-huge));
}

@media (min-width: #{rem($inuit-wrapper-width + ($global-spacing-large * 3))}) {
    .o-wrapper--large {
        padding-left: 0;
        padding-right: 0;
    }
}

.o-wrapper--huge {
    max-width: 1500px;
}

@include mq($until: tablet) {
    .o-wrapper {
        padding-left: $global-spacing;
        padding-right: $global-spacing;
    }

    .o-wrapper--small {
        padding-left: $global-spacing;
        padding-right: $global-spacing;
    }
}

@include mq($until: mobileSmall) {
    .o-wrapper {
        padding-left: $global-spacing * 0.75;
        padding-right: $global-spacing * 0.75;
    }
}
