<section class="o-section o-wrapper">
    <h1 class="u-heading u-h2 u-mb u-mb+@tablet">Your account</h1>

    <div class="o-layout u-stack-layout@mobile">
        <div class="o-layout__item u-7/12@mobile">
            <h2 class="u-heading u-heading--caps u-h3 u-mb">Order <span>history</span></h2>

            {%- if customer.orders.size > 0 -%}
                <ul class="o-ui-list">
                    {%- for order in customer.orders -%}
                        <li class="o-ui-list__item">
                            {% include 'order-teaser' %}
                        </li>
                    {%- endfor -%}
                </ul>
            {%- else -%}
                <p>{{ settings.user_account_no_orders_message | default:"You haven't made an order yet." }}</p>
            {%- endif -%}
   
            <div class="u-mv+"></div>
            <hr class="u-hr">
            <div class="u-mv+"></div>

            <h2 class="u-heading u-heading--caps u-h3 u-mb">Your <span>addresses</span></h2>
            
            {%- if customer.default_address -%}
                <div class="u-label u-color-secondary u-mt-">Default</div>

                {%- assign address = customer.default_address -%}
                {% include 'order-address' %}
                <br>
            {%- else -%}
                <p>You haven't addeded any addresses yet.</p>
            {%- endif -%}

            {% include 'secondary-cta-button', url:'/account/addresses/', label:'Manage addresses' %}
        </div><div class="o-layout__item u-1/12@mobile">
        </div><div class="o-layout__item u-4/12@mobile">
            {% include 'user-account-help' %}
        </div>
    </div>
</section>
