<header class="c-page-header t-tertiary">
    <div class="o-wrapper">
        <h1 class="u-heading u-heading--caps">Your <span>addresses</span></h1>
    </div>

    <div class="o-wrapper o-wrapper--large c-back-button-container">
        {% include 'back-button', url:'/account', label:'Back to your account' %}
    </div>
</header>

<section class="o-section o-wrapper">
    <div class="o-layout u-stack-layout@tablet">
        <div class="o-layout__item u-7/12@tablet">
            {%- if customer.addresses.size > 0 -%}
                <ul class="o-ui-list u-pb u-border-bottom-grey-2">
                    {%- for address in customer.addresses -%}
                        <li class="o-ui-list__item js-address-container {% if forloop.first %}u-pt0{% endif %}" data-address-id="{{ address.id }}">
                            {%- if address == customer.default_address -%}
                              <strong class="u-label u-color-secondary">{{ 'customer.addresses.default' | t }}</strong>
                            {%- endif -%}

                            {% include 'order-address' %}

                            <div class="u-mt-">
                                <button type="button" class="c-button c-button--secondary c-button--small c-button--ghost  c-button--cart-item u-color-black js-visibility-toggle" id="address-{{ address.id }}-toggle" aria-controls="address-{{ address.id }}" aria-expanded="false" role="tab">
                                    {{ 'customer.addresses.edit' | t }}
                                </button>

                                <button type="button" class="c-button c-button--secondary c-button--small c-button--ghost c-button--danger c-button--cart-item u-color-black u-mt- u-mt0@mobile u-ml-@mobile js-delete-address" data-address-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
                                    {{ 'customer.addresses.delete' | t }}
                                </button>
                            </div>

                            <div class="u-mt u-p t-grey-light" id="address-{{ address.id }}" aria-labelledby="address-{{ address.id }}-toggle" aria-hidden="true" role="tabpanel" style="display: none;">
                                {%- form 'customer_address', address -%}
                                    <h4 class="u-heading u-heading--caps u-mb">Edit <span>address</span></h4>

                                    {% include 'edit-address-form' %}
                                {%- endform -%}
                            </div>
                        </li>
                    {%- endfor -%}
                </ul>
            {%- else -%}
                <p>You haven't addeded any addresses yet.</p>
            {%- endif -%}

            <hr class="u-hr">

            <div class="u-mt">
                <button class="c-button c-button--secondary js-visibility-toggle" id="address-{{ address.id }}-toggle" aria-controls="address-{{ address.id }}" aria-expanded="false" role="tab">Add address</button>
                
                <div class="u-mt u-p t-grey-light" id="address-{{ address.id }}" aria-labelledby="address-{{ address.id }}-toggle" aria-hidden="true" role="tabpanel" style="display: none;">
                    {%- form 'customer_address', customer.new_address -%}
                        <h4 class="u-heading u-heading--caps u-mb">Add a <span>new</span> address</h4>

                        {% include 'edit-address-form' %}
                    {%- endform -%}
                </div>
            </div>
        </div><div class="o-layout__item u-1/12@tablet">
        </div><div class="o-layout__item u-4/12@tablet">
            {% include 'user-account-help' %}
        </div>
    </div>
</section>
