<section class="o-section o-wrapper">
    <div class="u-max-w-550px u-mh-auto">
        <h1 class="u-heading u-h2 u-mb u-mb+@tablet">Your account</h1>

        <div class="js-login-container">
            {% form 'customer_login' %}
                {%- if form.errors -%}
                    <div class="s-form">
                        {{ form.errors | default_errors }}
                    </div>
                {%- endif -%}

                <div class="c-form__row">
                    <input type="email" name="customer[email]" id="CustomerEmail" class="c-form__input u-1/1 {% if form.errors contains 'email' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" spellcheck="false" autocomplete="off" autocapitalize="off" autofocus>
                    <label for="email" class="c-form__label c-form__label--float">Email</label>
                </div>

                {%- if form.password_needed -%}
                    <div class="c-form__row">
                        <input type="password" autocomplete="off" name="customer[password]" id="CustomerPassword" class="c-form__input u-1/1 {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
                        <label for="passsword" class="c-form__label c-form__label--float">Password</label>
                    </div>
                {%- endif -%}

                <button type="submit" class="c-button c-button--primary u-mt u-1/1">
                    {{ 'customer.login.sign_in' | t }}
                </button>
            {% endform %}

            <div class="u-mt">
                 <a href="#recover" id="recover-toggle" class="u-font-size-14 u-underline-link js-visibility-toggle" id="recover-toggle" aria-controls="recover" aria-expanded="false" role="tab" data-hides=".js-login-container">Reset your passsword</a>
                <a href="/account/register" class="u-ml- u-font-size-14 u-underline-link">Create an account</a>
            </div>
        </div>

        <div id="recover" aria-labelledby="recover-toggle" aria-hidden="true" role="tabpanel" style="display: none;">
            {% include 'password-reset-box' %}
        </div>
    </div>
</section>
