{% assign intro = 'customer.reset_password.subtext' | t: email:email %}

<section class="o-section o-wrapper">
    <div class="u-max-w-550px u-mh-auto">
        <h1 class="u-heading u-h2 u-mb u-mb+@tablet">Reset your password</h1>

        <div class="js-login-container">
            {% form 'reset_customer_password' %}
                {%- if form.errors -%}
                    <div class="s-form">
                        {{ form.errors | default_errors }}
                    </div>
                {%- endif -%}

                <div class="c-form__field">
                    <input type="password" name="customer[password]" id="ResetPassword" class="c-form__input u-1/1 {% if form.errors contains 'password' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
                </div>
                <div class="c-form__field">
                    <input type="password" name="customer[password_confirmation]" id="PasswordConfirmation" class="c-form__input u-1/1 {% if form.errors contains 'password_confirmation' %}c-form__input--error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                </div>

                <button type="submit" class="c-button c-button--primary u-mt u-1/1">
                    {{ 'customer.login.sign_in' | t }}
                </button>
            {% endform %}
        </div>
    </div>
</section>
