$text-colors: (
    'primary': $color-primary,
    'white': $color-white,
    'grey-dark': $color-grey-dark,
    'grey': $color-grey
);

@each $text-color-name, $text-color-color in $text-colors {
    .u-color-#{$text-color-name} {
        color: $text-color-color !important;
    }
}

$background-colors: ();

@each $background-color-name, $background-color-color in $background-colors {
    .u-background-#{$background-color-name} {
        background-color: $background-color-color !important;
    }
}
