// negative
.u--mt {
    margin-top: rem(($global-spacing * -1)) !important;
}

.u--mb {
    margin-bottom: rem(($global-spacing * -1)) !important;
}

// none
.u-m0 {
    margin: 0 !important;
}
.u-mb0 {
    margin-bottom: 0 !important;
}
.u-ml0 {
    margin-left: 0 !important;
}

// auto
.u-mla {
    margin-left: auto !important;
}
.u-mra {
    margin-right: auto !important;
}

.u-pv0 {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
.u-p0 {
    padding: 0 !important;
}
.u-pb0 {
    padding-bottom: 0 !important;
}
.u-pt0 {
    padding-top: 0 !important;
}
.u-pl0 {
    padding-left: 0 !important;
}
.u-ph0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// base
.u-mb {
    margin-bottom: rem($global-spacing) !important;
}
.u-ml {
    margin-left: rem($global-spacing) !important;
}
.u-mt {
    margin-top: rem($global-spacing) !important;
}
.u-mr {
    margin-right: rem($global-spacing) !important;
}
.u-mv {
    margin-bottom: rem($global-spacing) !important;
    margin-top: rem($global-spacing) !important;
}

.u-p {
    padding: rem($global-spacing) !important;
}
.u-pr {
    padding-right: rem($global-spacing) !important;
}
.u-pt {
    padding-top: rem($global-spacing) !important;
}
.u-pv {
    padding-bottom: rem($global-spacing) !important;
    padding-top: rem($global-spacing) !important;
}
.u-ph {
    padding-left: rem($global-spacing) !important;
    padding-right: rem($global-spacing) !important;
}

// large
.u-mb\+ {
    margin-bottom: rem($global-spacing-large) !important;
}
.u-mt\+ {
    margin-top: rem($global-spacing-large) !important;
}
.u-mv\+ {
    margin-bottom: rem($global-spacing-large) !important;
    margin-top: rem($global-spacing-large) !important;
}
.u-pv\+ {
    padding-bottom: rem($global-spacing-large) !important;
    padding-top: rem($global-spacing-large) !important;
}
.u-pr\+ {
    padding-right: rem($global-spacing-large) !important;
}

// huge
.u-mt\+\+ {
    margin-top: rem($global-spacing-huge) !important;
}

// small
.u-mt- {
    margin-top: rem($global-spacing-small) !important;
}
.u-mb- {
    margin-bottom: rem($global-spacing-small) !important;
}
.u-ml- {
    margin-left: rem($global-spacing-small) !important;
}
.u-mr- {
    margin-right: rem($global-spacing-small) !important;
}
.u-p- {
    padding: rem($global-spacing-small) !important;
}

//tiny
.u-pv-- {
    padding-bottom: rem($global-spacing-tiny) !important;
    padding-top: rem($global-spacing-tiny) !important;
}

.u-mb-- {
    margin-bottom: rem($global-spacing-tiny) !important;
}
.u-mt-- {
    margin-top: rem($global-spacing-tiny) !important;
}
.u-mr-- {
    margin-right: rem($global-spacing-tiny) !important;
}
.u-pb-- {
    padding-bottom: rem($global-spacing-tiny) !important;
}

@include mq($from: mobile) {
    // small
    .u-ml-\@mobile {
        margin-left: rem($global-spacing-small) !important;
    }

    // base
    .u-p\@mobile {
        padding: rem($global-spacing) !important;
    }
    .u-pl\@mobile {
        padding-left: rem($global-spacing) !important;
    }
    .u-mb0\@mobile {
        margin-bottom: 0 !important;
    }
    .u-mt0\@mobile {
        margin-top: 0 !important;
    }

    .u-mt\@mobile {
        margin-top: rem($global-spacing) !important;
    }
    .u-mb\@mobile {
        margin-bottom: rem($global-spacing) !important;
    }
    .u-pr\@mobile {
        padding-right: rem($global-spacing) !important;
    }

    // large
    .u-mb\+\@mobile {
        margin-bottom: rem($global-spacing-large) !important;
    }
    .u-mt\+\@mobile {
        margin-top: rem($global-spacing-large) !important;
    }
    .u-mv\+\@mobile {
        margin-bottom: rem($global-spacing-large) !important;
        margin-top: rem($global-spacing-large) !important;
    }

    .u-p\+\@mobile {
        padding: rem($global-spacing-large) !important;
    }

    // huge
    .u-pv\+\+ {
        padding-bottom: rem($global-spacing-huge) !important;
        padding-top: rem($global-spacing-huge) !important;
    }
}

@include mq($from: tablet) {
    // large
    .u-mb\+\@tablet {
        margin-bottom: rem($global-spacing-large) !important;
    }

    .u-pl\@tablet {
        padding-left: rem($global-spacing) !important;
    }

    .u-p\+\@tablet {
        padding: rem($global-spacing-large) !important;
    }
    .u-pr\+\@tablet {
        padding-right: rem($global-spacing-large) !important;
    }

    .u-pb0\@tablet {
        padding-bottom: 0 !important;
    }
}

@include mq($from: desktop) {
    // large
    .u-pl\+\@desktop {
        padding-left: rem($global-spacing-large) !important;
    }
}
