$helper-font-sizes: 11px 12px 14px;
$helper-line-heights: 14;
$helper-text-aligns: left center right;
$helper-text-transforms: uppercase;

@each $helper-font-size in $helper-font-sizes {
    .u-font-size-#{parseInt($helper-font-size)} {
        font-size: rem($helper-font-size) !important;
    }
}

@each $helper-text-align in $helper-text-aligns {
    .u-text-align-#{$helper-text-align} {
        text-align: #{$helper-text-align} !important;
    }
}

@each $helper-line-height in $helper-line-heights {
    .u-line-height-#{$helper-line-height} {
        line-height: #{$helper-line-height}px !important;
    }
}

@each $helper-text-transform in $helper-text-transforms {
    .u-text-transform-#{$helper-text-transform} {
        text-transform: $helper-text-transform !important;
    }
}

@include mq($from: mobile) {
    .u-text-align-left\@mobile {
        text-align: left !important;
    }

    .u-text-align-center\@mobile {
        text-align: center !important;
    }

    .u-text-align-right\@mobile {
        text-align: right !important;
    }
}

.u-font-family-bold {
    font-family: $global-font-family-bold;
}

.u-letter-spacing-05 {
    letter-spacing: rem(0.5px);
}

.u-lead {
    font-size: rem(17px);
}

.u-label {
    color: theme-color(footer, accent);
    display: block;
    font-family: $global-font-family-bold;
    font-size: rem(12px);
    font-weight: 800;
    letter-spacing: rem(0.5px);
    text-transform: uppercase;
}

.u-empty-p p:empty {
    height: rem($global-spacing-small);
}

.u-underline-link {
    color: $color-grey;
    text-decoration: underline;
    transition: $global-transition;
}
.u-underline-link:hover,
.u-underline-link:focus {
    color: $color-primary;
}

/**
    * 1. Fallback color for unsupported browsers
    * 2. Makes text fill transparent in supported browsers
    * 3. Gives text black outline in supported browsers
 */
.u-outline {
    color: $color-black; /* [1] */
    font-family: $global-font-family-headings-italic;
    text-transform: uppercase;

    -webkit-text-fill-color: transparent; /* [2] */
    -webkit-text-stroke-width: 1px; /* [3] */
    -webkit-text-stroke-color: black; /* [3] */
}
