$helper-displays: block inline-block;
$helper-floats: '';

@each $helper-display in $helper-displays {
    .u-display-#{$helper-display} {
        display: #{$helper-display} !important;
    }
}

@include mq($from: mobile) {
    .u-display-block\@mobile {
        display: block;
    }
}

@each $helper-float in $helper-floats {
    .u-float-#{$helper-float} {
        float: #{$helper-float} !important;
    }
}

.s-no-js .u-js-anim {
    animation: fadeInAnimationFallback 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0 !important;
}

@keyframes fadeInAnimationFallback {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.s-js .u-hide-js {
    display: none;
}

// Content fading

.u-fade-intersected {
    opacity: 0;
    transition: $global-transition 0s, opacity 0.6s $global-transition-easing-cubic,
        transform 0.6s $global-transition-easing-cubic;
    will-change: opacity;
}
.u-fade-intersected:not(.u-in-viewport) {
    background-image: none !important;
}
.u-fade-intersected.u-in-viewport {
    opacity: 1;
}

.no-js .u-fade-intersected {
    opacity: 1;
}

.u-fade-in {
    animation: fadeIn 1s $global-transition-easing;
    animation-fill-mode: forwards;
    opacity: 0;
    transition-delay: $global-transition-speed;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.u-highlight-change {
    animation: highlightChange 1.2s linear;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
    will-change: opacity;
}

@keyframes highlightChange {
    0% {
        background-color: $color-white;
        transform: translateY($global-spacing-small);
    }
    50% {
        background-color: $color-cornflower-blue;
    }
    100% {
        background-color: $color-white;
        transform: translateY(0);
    }
}

.u-square {
    height: auto;
    padding-bottom: 100%;
    width: 100%;
}

.u-background-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.u-border-1-grey-mid {
    border: 1px solid $color-grey-mid;
}

.u-border-1-grey--dashed {
    border: 1px dashed $color-grey;
}

.u-max-h-400px {
    max-height: 400px;
}

.u-max-h-450px {
    max-height: 450px;
}

.u-max-h-600px {
    max-height: 600px;
}

.u-max-w-350px {
    max-width: 350px;
}

.u-max-w-450px {
    max-width: 450px;
}

.u-max-w-500px {
    max-width: 500px;
}

.u-max-w-550px {
    max-width: 550px;
}

.u-max-w-650px {
    max-width: 650px;
}

.u-max-w-750px {
    max-width: 750px;
}

.u-mh-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.u-relative {
    position: relative;
}

.u-bg-dark-010 {
    background-color: rgba(0, 0, 0, 0.1);
}

.u-hr {
    border: 0;
    border-top: 1px solid $color-grey-mid;
}

.shopify-challenge__container {
    margin: 200px auto !important;
}

.u-image-hover,
.u-image-hover-img > img,
.u-image-hover-img > div {
    transition: all $global-transition-speed $global-transition-easing;
}
.u-image-hover:hover,
.u-image-hover:focus,
.u-image-hover-img:hover > img,
.u-image-hover-img:focus > img,
.u-image-hover-img:hover > div,
.u-image-hover-img:focus > div {
    animation: none;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    // opacity: 0.6;
    transition: all $global-transition-speed $global-transition-easing;
    transform: scale(0.975);
}

.u-underline-hover,
.u-underline-hover-span span {
    position: relative;
}
.u-underline-hover::after,
.u-underline-hover-span span::after {
    background-color: currentColor;
    bottom: -4px;
    content: '';
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    transition: all 0.2s ease-in;
    width: 0;
}
.is-active.u-underline-hover::after,
.u-underline-hover:hover::after,
.u-underline-hover:focus::after,
.is-active.u-underline-hover-span span::after,
.u-underline-hover-span:hover span::after,
.u-underline-hover-span:focus span::after {
    opacity: 1;
    transition: all 0.3s ease-out;
    width: 100%;
}

.u-card-image {
    background-color: $color-white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
    height: 0;
    padding-bottom: 100%;
    width: 100%;
}

.u-card-image--cover {
    background-size: cover;
}

.u-card-image--tall {
    padding-bottom: 120%;
}

.u-no-pointer {
    pointer-events: none;
}

.u-image-shadow {
    display: block;
    position: relative;

    &::before {
        background-color: $color-secondary;
        bottom: rem($global-spacing * -1);
        content: '';
        height: 100%;
        position: absolute;
        right: rem($global-spacing * -1);
        width: 100%;
        z-index: 1;
    }

    > img {
        position: relative;
        vertical-align: top;
        z-index: 2;
    }
}

.lazyload {
    transition: $global-transition;
}

.u-white-space-normal {
    white-space: normal;
}
