$form-field-height: 50px !default;
$form-field-horizontal-padding: 20px !default;
$form-field-vertical-padding: 14px !default;
$custom-select-border-color: $color-grey-mid !default;
$custom-select-border-color--active: darken($color-grey-mid, 15%) !default;
$form-field-font-size: 14px !default;
$form-field-multiline-rows: 10 !default;
$form-checkbox-size: 14px !default;
$form-field-label-width: 160px !default;

/* Container used for styling the custom select, the button class below adds the
 * bg gradient, corners, etc. */
.custom-select {
    border: 2px solid $custom-select-border-color;
    position: relative;
    display: block;

    &:hover,
    &:focus {
        border-color: $custom-select-border-color--active;
    }
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
    padding-left: rem($form-field-horizontal-padding);
    border: 0;
    border-radius: 0;
    color: $color-primary;
    font-family: $global-font-family-body;
    font-size: rem($form-field-font-size);
    letter-spacing: rem(0.5px);
    height: $form-field-height;
    padding-right: ($form-field-horizontal-padding + $global-spacing);
    // text-transform: uppercase;
    width: 100%;
    margin: 0;
    outline: none;

    /* Prefixed box-sizing rules necessary for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.custom-select--center select {
    text-align-last: center;
    cursor: pointer;
}
.custom-select--grey-border {
    border-color: $color-grey-light;
}

@include mq($until: mobile) {
    .custom-select select {
        /* Font size must be 16px to prevent iOS page zoom on focus */
        font-size: 16px;
    }
}

$custom-select-arrow-height: 7px;

/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after,
.custom-select::before {
    border-right: 2px solid;
    border-right-color: $custom-select-border-color;
    content: '';
    display: block;
    height: $custom-select-arrow-height;
    margin-top: ($custom-select-arrow-height * -1);
    position: absolute;
    transform: rotate(225deg);
    right: $global-spacing;
    top: calc(50% + #{($custom-select-arrow-height / 2)});
    width: 0;
}
.custom-select::after {
    margin-top: ($custom-select-arrow-height * -1);
    right: ($global-spacing + 4px);
    transform: rotate(135deg);
}

.custom-select--small::after {
    right: ($global-spacing * 0.75);
}
.custom-select--small::before {
    right: (($global-spacing * 0.75) - 4px);
}

/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
 * @supports ( mask-type: alpha ) is Firefox 35+
 */
@supports (-webkit-appearance: none) or (appearance: none) or
    ((-moz-appearance: none) and (mask-type: alpha)) {
    /* Show custom arrow */
    .custom-select::after {
        display: block;
    }

    /* Remove select styling */
    .custom-select select {
        // padding-right: 2em; /* Match-01 */
        /* inside @supports so that iOS <= 8 display the native arrow */
        background: none; /* Match-04 */

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}

/**
 * Allow the select to be styled by other classes
 */
.custom-select--bare select {
    border: 0;
    cursor: pointer;
    font-size: 12px !important;
    height: auto;
    line-height: 1.8;
}

// compat

/* Adds Firefox < 35 support */
/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() {
    /* Warning: this kills the focus outline style */
    .custom-select {
        overflow: hidden;
    }
    .custom-select::after {
        display: block;
    }
    /* Make the native select extra wide so the arrow is clipped. 1.5em seems to be enough to safely clip it */
    .custom-select select {
        overflow: -moz-hidden-unscrollable;
        padding-right: 0.4em;
        background: none; /* Match-04 */
        // border: 1px solid transparent; /* Match-05 */
        /* Firefox < 4 */
        min-width: 6em;
        width: 130%;
        /* Firefox 4-15 */
        min-width: -moz-calc(0em);
        width: -moz-calc(100% + 2.4em);
        /* Firefox 16+ */
        min-width: calc(0em);
        width: calc(100% + 2.4em);
    }

    /* Firefox 35+ that supports hiding the native select can have a proper 100% width, no need for the overflow clip trick */
    @supports (mask-type: alpha) {
        .custom-select {
            overflow: visible;
        }
        .custom-select select {
            -moz-appearance: none;
            width: 100%;
            padding-right: 2em; /* Match-01 padding-right */
        }
    }
}

/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.custom-select select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance. Targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .custom-select select::-ms-expand {
        display: none;
    }
    .custom-select select:focus {
        // border-color: #aaa; /* Match-03 */
    }
    .custom-select select:focus::-ms-value {
        background: transparent;
        // color: #222; /* Match-02*/
    }
    .custom-select select {
        padding-right: 2em; /* Match-01 */
        background: none; /* Match-04 */
        border: 1px solid transparent; /* Match-05 */
    }
    .custom-select::after {
        display: block;
    }
}

.custom-select--selected {
    align-items: center;
    background-color: rgba($custom-select-border-color, 0.5);
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    width: 100%;
}

//

.custom-select--sort {
    align-items: center;
    border-color: $color-grey-mid;
    display: flex;
    min-width: rem(220px);

    span {
        display: inline-block;
        font-size: rem(13px);
        flex: 0 0 rem(64px);
        padding-left: rem($global-spacing-small);
    }

    select {
        font-family: $global-font-family-bold;
        font-size: rem(13px);
        height: rem(40px);
        padding-left: 0;
        padding-right: rem($global-spacing-small);
        text-align: right;
    }
}
