$button-icon-size: 18px;
$button-icon-size--tiny: 16px;

/**
 * 1. Never allow buttons to be full-width in a flex layout
 * 2. Force all button-styled elements to appear clickable.
 * 3. Allow us to style box model properties.
 * 4. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 5. Reset/normalize some styles.
 * 6. Line different sized buttons up a little nicer.
 * 7. Regardless of height align text in the center
 */
.c-button {
    align-self: flex-start;
    border: 2px solid;
    border-radius: $global-radius;
    cursor: pointer !important; /* [2] */
    display: inline-block; /* [3] */
    font-family: $global-font-family-bold;
    font-size: rem(13px);
    letter-spacing: rem(0.5px);
    line-height: 1.1;
    outline: none;
    padding: rem(20px) rem(36px);
    text-align: center; /* [6] */
    text-transform: uppercase;
    transition: $global-transition;
    vertical-align: middle; /* [7] */
}

.c-button__text {
    position: relative;
    z-index: 1;
}

.c-button svg {
    vertical-align: top;
}

/* Themes
   ====================================== */

/**
 * Theme is defined by background colour, text colour, and optional ghost themes
 */
$button-themes: primary, secondary, grey;

.c-button__text {
    position: relative;
    transition: none;
    z-index: 2;
}

@each $theme in $button-themes {
    $theme-background: theme-color($theme, background);

    .c-button--#{$theme} {
        background-color: theme-color($theme, background);
        border-color: theme-color($theme, background);
        color: theme-color($theme, buttonText);
        position: relative;

        &:hover,
        &:focus {
            background-color: darken($theme-background, 15%);
            border-color: darken($theme-background, 15%);
        }
    }

    .c-button--#{$theme}.c-button--ghost {
        background-color: transparent;
        border: 2px solid theme-color($theme, background);
        color: theme-color($theme, background);
        position: relative;

        &::before {
            background-color: theme-color($theme, background);
            content: '';
            height: 100%;
            right: 0;
            position: absolute;
            top: 0;
            transition: $global-transition;
            width: 0;
            z-index: 1;
        }

        &:hover,
        &:focus {
            color: theme-color($theme, buttonText);

            &::before {
                left: 0;
                right: auto;
                width: 100%;
            }

            > .c-button__text {
                color: theme-color($theme, buttonText);
                transition: $global-transition;
            }
        }
    }
}

.c-button--tertiary {
    background-color: transparent;
    border-color: transparent;
    color: $color-black;
}
.c-button--tertiary:hover,
.c-button--tertiary:focus {
    background-color: $color-grey-mid;
}

/* Variants
   ====================================== */

.c-button--naked {
    background-color: transparent;
    border: 0;
}

.c-button--wide {
    padding-left: rem($global-spacing-large);
    padding-right: rem($global-spacing-large);
}

.c-button--icon {
    padding-left: rem(24px + $button-icon-size);
    position: relative;

    .c-svg {
        height: $button-icon-size;
        margin-left: ($button-icon-size + $global-spacing-small) * -1;
        margin-top: (($button-icon-size / 2) + 1) * -1;
        position: absolute;
        top: 50%;
        width: $button-icon-size;
        will-change: transform;
    }
    .c-svg * {
        fill: currentColor;
        transition: $global-transition;
    }
}

.c-button--thin {
    padding-left: rem(16px);
    padding-right: rem(16px);
}

.c-button--small {
    font-size: rem(12px);
    padding: rem($global-spacing-small) rem($global-spacing);
}

.c-button--tiny {
    font-size: rem(10px);
    line-height: 1;
    padding: rem(6px) rem(6px) rem(4px);
}

.c-button--selectable.c-button--selectable:not(.c-button--selected) {
    background-color: $color-white;
    color: currentColor;
}
