$card-background-color: $color-white;
$card-min-height: 200px;
$card-min-height--small: 160px;
$card-radius: $global-radius--small;
$card-padding: $global-spacing;
$card-icon-width: $global-spacing-large;
$card-icon-width--small: $global-spacing * 1.5;
$card-image-width: 130px;
$card-image-width--small: 100px;

.c-card {
    align-items: center;
    background-color: $card-background-color;
    box-shadow: $global-shadow;
    border-radius: $card-radius;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
    min-height: $card-min-height--small;
    padding: $card-padding;
    position: relative;
    width: 100%;
}
.c-card:hover,
.c-card:active {
    box-shadow: $global-shadow-active;
}

.c-card__image {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex: 0 0 $card-image-width--small;
    justify-content: center;
    width: 100%;
}
.c-card__image svg {
    height: calc(#{$card-min-height--small} - #{$global-spacing * 2});
    width: 100%;
}

.c-card__wrapper {
    flex-grow: 1;
    margin-left: $global-spacing;
}

.c-card__title {
    color: $color-primary;
    font-family: $global-font-family-bold;
    font-size: $inuit-font-size-h3;
}

.c-card__label {
    margin-top: $global-spacing-tiny;
    transition: $global-transition;
    will-change: transform;
}

.c-card__link-icon-container {
    flex: 0 0 $card-icon-width--small;
}
.c-card__link-icon {
    transition: $global-transition;
    width: 100%;
    will-change: transform;
}
.c-card:hover,
.c-card:active {
    .c-card__link-icon {
        transform: scale(1.05);
    }
}

@include mq($from: mobile) {
    .c-card {
        min-height: $card-min-height;
        padding-left: $card-padding * 1.5;
        padding-right: $card-padding * 1.5;
    }

    .c-card__image {
        flex: 0 0 $card-image-width;
    }
    .c-card__image svg {
        height: calc(#{$card-min-height} - #{$global-spacing * 2});
    }

    .c-card__link-icon-container {
        flex: 0 0 $card-icon-width;
    }
}

@include mq($from: desktop) {
    .c-card__wrapper {
        margin-left: $global-spacing * 1.5;
    }
}
