.c-cart__item {
    align-items: flex-start;
    border: 1px solid $color-grey-mid;
    display: flex;
    padding: rem($global-spacing-small);
}
.c-cart__item + .c-cart__item {
    margin-top: rem($global-spacing-small);
}

.c-cart__image {
    display: block;
    flex: 0 0 rem(120px);
}

.c-cart__content {
    margin-left: rem($global-spacing);
    padding: rem($global-spacing-small) 0;
}

.c-cart__title {
    display: block;
    font-family: $global-font-family-bold;
    font-size: rem($inuit-font-size-h5);
    line-height: 1.2;
    margin-bottom: rem($global-spacing-small);
}

.c-cart__unit-price {
    font-family: $global-font-family-body;
    font-size: 1rem;
    margin-top: rem($global-spacing-small);
}

.c-cart__quantity {
    position: relative;
}

.c-cart__quantity-input {
    height: rem(50px);
    text-align: center;
    width: rem(100px);
}

.c-cart__remove {
    font-size: rem(14px);
    left: rem(100px + $global-spacing-small);
    position: absolute;
    top: rem(10px);
}

.c-cart__total-price {
    font-size: rem($inuit-font-size-h5);
    margin-top: rem($global-spacing-small);
}

@include mq($from: mobile) {
    .c-cart__item {
        align-items: center;
    }

    .c-cart__image {
        flex: 0 0 rem(140px);
    }

    .c-cart__content {
        align-items: center;
        display: flex;
        padding: rem($global-spacing) 0;
        width: 100%;
    }

    .c-cart__title {
        flex-grow: 1;
        margin-bottom: 0;
    }

    .c-cart__quantity {
        flex: 0 0 150px;
    }

    .c-cart__quantity-input {
        height: rem(50px);
        width: rem(90px);
    }
    .c-cart__remove {
        bottom: rem($global-spacing * -1);
        left: 0;
        top: auto;
    }

    .c-cart__total-price {
        flex: 0 0 120px;
        margin-top: 0;
        text-align: right;
    }
}

@include mq($from: tablet) {
    .c-cart__item {
        padding-right: rem($global-spacing-large);
    }
}

@include mq($until: mobile) {
    .c-cart__button {
        display: block;
        margin-bottom: $global-spacing-tiny;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        text-align: center;
        width: 100%;
    }
}
