.c-collection-nav {
    align-items: flex-start;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.c-collection-nav__item {
    flex: 0 0 auto;
    max-width: rem(100px);
    width: 100%;
}
.c-collection-nav__item + .c-collection-nav__item {
    margin-left: rem($global-spacing-small);
}

.c-collection-nav__text {
    color: $color-primary;
    display: block;
    font-family: $global-font-family-bold;
    font-size: rem(11px);
    line-height: 1.2;
}

@include mq($until: tablet) {
    .c-collection-nav {
        justify-content: flex-start;
        overflow-x: auto;
    }

    .c-collection-nav__item {
        margin-bottom: 10px;
    }
}
