@include mq($until: mobile) {
    .c-content-columns__item {
        padding-bottom: rem($global-spacing * 1.5);
        padding-top: rem($global-spacing * 1.5);
        position: relative;

        &::before {
            background-color: $color-grey-mid;
            content: '';
            height: 1px;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
    .c-content-columns__item:first-of-type {
        padding-top: 0;

        &::before {
            display: none;
        }
    }
    .c-content-columns__item:last-of-type {
        padding-bottom: 0;
    }
}

@include mq($from: mobile) {
    .c-content-columns {
        display: flex;
    }

    .c-content-columns__item {
        flex: 0 0 33.3333%;
        position: relative;

        &::before {
            background-color: $color-grey-mid;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 1px;
        }
    }
    .c-content-columns__item:first-of-type {
        padding-left: 0;

        &::before {
            display: none;
        }
    }
    .c-content-columns__item:last-of-type {
        padding-right: 0;
    }
}

@include mq($from: mobile, $until: tablet) {
    .c-content-columns__item {
        padding-left: rem($global-spacing);
        padding-right: rem($global-spacing);
    }
}

@include mq($from: tablet) {
    .c-content-columns__item {
        padding-left: rem($global-spacing-large);
        padding-right: rem($global-spacing-large);
    }
}
