.c-feature-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.c-feature-list__item {
    margin-bottom: rem($global-spacing-tiny);
    padding-left: 18px + $global-spacing-small;
    position: relative;

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cg stroke='%23444' stroke-width='1.6' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17 8.16v.74476c-.00203 3.58513-2.33416 6.74189-5.73172 7.7584-3.39755 1.0165-7.05117-.34938-8.97952-3.35696C.36041 10.29862.6167 6.3658 2.91862 3.64049 5.22055.91517 9.01977.04657 12.256 1.5057'/%3E%3Cpath d='M17 2.42857L9 10.5319 6.6 8.10333'/%3E%3C/g%3E%3C/svg%3E");
        background-position: 0 5px;
        background-repeat: no-repeat;
        content: '';
        height: 24px;
        left: 0;
        position: absolute;
        width: 18px;
    }
}
.c-feature-list__item:last-child {
    margin-bottom: 0;
}

@include mq($from: mobileSmall) {
    .c-feature-list--2-cols {
        display: flex;
        flex-wrap: wrap;

        .c-feature-list__item {
            flex: 0 0 50%;
        }
    }
}
