.c-full-bleed-photo {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: rem(400px);
    width: 100%;
}

@include mq($from: tablet) {
    .c-full-bleed-photo {
        height: responsiveRem(550px);
    }
}
