$gallery-thumbnail-size: 50px;

.c-gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

.c-gallery__image-container {
    white-space: nowrap;
}

.c-gallery__image {
    background-color: $color-grey-light;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    display: inline-block;
    height: 0;
    padding-bottom: 100%;
    transition: $global-transition;
    width: 100%;
}

.c-gallery__nav {
    display: none;
    left: ($global-spacing-large + $global-spacing-tiny) * -1;
    position: absolute;
    top: 0;
}

.c-gallery__nav-thumb {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid $color-grey-mid;
    border-radius: 100%;
    overflow: hidden;
    height: $gallery-thumbnail-size;
    opacity: 0.75;
    outline: none;
    width: $gallery-thumbnail-size;
}
.c-gallery__nav-thumb + .c-gallery__nav-thumb {
    margin-top: $global-spacing-small;
}
.c-gallery__nav-thumb.is-active {
    border-color: $color-grey-dark;
    opacity: 1;
}

.c-gallery__nav-dot {
    background-color: $color-grey-light;
    border-radius: 100%;
    display: inline-block;
    height: $global-spacing-small;
    width: $global-spacing-small;
}
.c-gallery__nav-dot + .c-gallery__nav-dot {
    margin-left: $global-spacing-tiny;
}
.c-gallery__nav-dot.is-active {
    background-color: $color-black;
}

.c-gallery__video-container {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
}
.c-gallery__video {
    height: 100%;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: all 1s ease-out;
    width: 156.25%;
}
.c-gallery__video.is-active {
    opacity: 1;
}

@include mq($from: tabletSmall) {
    .c-gallery--thumbs {
        width: calc(100% - #{$gallery-thumbnail-size + $global-spacing-small});
    }

    .c-gallery__nav {
        left: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    // .c-gallery__image {
    //     padding-bottom: 90%;
    // }
}

@include mq($from: mobile) {
    .c-gallery,
    .c-gallery__image-container,
    .c-gallery__image {
        height: 100% !important;
        padding-bottom: 0 !important;
    }

    .c-gallery__nav {
        display: block;
    }
}

@include mq($until: mobile) {
    .c-gallery__nav {
        display: flex;
        left: 0;
        justify-content: center;
        margin-bottom: rem($global-spacing-small);
        padding: 0 rem($global-spacing);
        position: relative;
    }

    .c-gallery__nav-thumb {
        height: $gallery-thumbnail-size * 0.65;
        width: $gallery-thumbnail-size * 0.65;
    }

    .c-gallery__nav-thumb + .c-gallery__nav-thumb {
        margin-left: $global-spacing-tiny;
        margin-top: 0;
    }
}
