.c-hero-content-teaser {
    border: 1px solid $color-grey-mid;
    display: flex;
    flex-direction: column;
}

.c-hero-content-teaser__image-container {
    position: relative;
}

.c-hero-content-teaser__image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.c-hero-content-teaser__text {
    padding: rem($global-spacing);
}

@include mq($until: mobile) {
    .c-hero-content-teaser__image-container {
        height: rem(250px);
    }
}

@include mq($from: mobile) {
    .c-hero-content-teaser {
        flex-direction: row;
        min-height: calc(400px + 5vmax);
    }

    .c-hero-content-teaser__image-container {
        flex: 0 0 50%;
        position: relative;
        width: 50%;
    }
    .c-hero-content-teaser__image {
        height: calc(100% + 2px);
        left: -1px;
        top: -1px;
    }

    .c-hero-content-teaser__text {
        align-self: center;
        padding: responsiveRem($global-spacing-large);
    }
}

@include mq($from: tablet) {
    .c-hero-content-teaser {
        flex-direction: row;
        min-height: calc(550px + 5vmax);
    }
}
