$hero-banner-max-width: 700px;
$hero-banner-min-height: 200px;
$hero-banner-min-height--large: 550px;
$hero-banner-min-height--huge: 660px;
$hero-banner-navigation-spacing: 70px;
$hero-banner-color: $color-grey-light;
$hero-banner-text-color: $color-dark;
$hero-banner-cta-text-color: $color-white;
$hero-banner-cta-bg-color: $color-primary;
$hero-banner-edge-height: 100px;

/**
 * 1. Contain the background image
 */
.c-hero-banner {
    min-height: $hero-banner-min-height;
    position: relative; /* [1] */
    overflow: hidden;
}

.c-hero-banner__image {
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: $hero-banner-min-height;
    overflow: hidden;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    will-change: transform;
    z-index: 0;
}

/**
 * 1. Align items vertically in the center
 * 2. Allow the content to wrap on new lines
 * 5. Layer the content above the background image
 */
.c-hero-banner__wrapper {
    color: $hero-banner-text-color;
    max-width: $hero-banner-max-width;
    padding-bottom: rem($global-spacing);
    padding-top: rem($global-spacing);
    position: relative;
    z-index: 1;
}

.c-hero-banner__title {
    font-size: rem(40px) !important;
    letter-spacing: rem(0.8px * -1);
    line-height: 1 !important;
}

.c-hero-banner--text-uppercase-outline {
    .c-hero-banner__title {
        text-transform: uppercase;
    }
}
.c-hero-banner__text br {
    display: inline;
}

.c-hero-banner--light {
    * {
        color: $color-white;
    }

    .c-button {
        border-color: $color-white !important;
    }
    .c-button:hover,
    .c-button:focus {
        background-color: $color-white !important;
        border-color: $color-white !important;
        color: $color-black !important;
    }

    .u-outline {
        color: $color-white;
        -webkit-text-stroke-color: $color-white;
    }
}

@include mq($until: mobile) {
    .c-hero-banner {
        min-height: none;
    }
    .c-hero-banner__image {
        height: 0;
        padding-bottom: 80%;
        position: relative;
        width: 100%;
    }
    .c-hero-banner__wrapper {
        max-width: none;
    }

    .c-hero-banner__text br {
        display: none;
    }

    .c-hero-banner--home-page {
        display: flex;
        flex-direction: column;
        position: relative;

        > .c-hero-banner__image {
            order: 2;
        }
        > .o-wrapper {
            order: 1;
        }
    }
}

.c-button-list--sticky {
    background-color: $color-white;
    bottom: 0;
    box-shadow: 0 10px 40px rgba($color-black, 0.2);
    display: flex;
    left: 0;
    padding: $global-spacing-small;
    position: fixed;
    width: calc(100%);
    z-index: 200;

    .c-button {
        flex-grow: 1 !important;
    }
}

@include mq($from: mobile) {
    /**
     * 1. Align the banner's content vertically in the center
     */
    .c-hero-banner {
        align-items: center; /* [1] */
        background-color: $hero-banner-color;
        display: flex;
        padding-bottom: 0;
    }

    .c-hero-banner--default {
        min-height: $hero-banner-min-height--large;
    }

    /**
     * 1. Set a minimum width for the banner content
     */
    .c-hero-banner__wrapper {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        max-width: rem(500px);
        padding-bottom: rem($global-spacing-large * 1.5);
        padding-top: rem($global-spacing-large * 1.5);
    }

    .c-hero-banner--default {
        .c-hero-banner__wrapper {
            max-width: rem(650px);
        }
    }

    .c-hero-banner__title {
        font-size: rem(50px) !important;
        letter-spacing: rem(1px * -1);
    }
}

@include mq($from: desktop) {
    .c-hero-banner--default {
        .c-hero-banner__title {
            font-size: rem(80px) !important;
        }
    }
}

@include mq($from: desktop-large) {
    .c-hero-banner--default {
        min-height: $hero-banner-min-height--huge;
    }
}

.c-hero-banner--minimal {
    min-height: 0;

    .c-hero-banner__wrapper {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: none;
    }
}
