.c-location-nav {
    align-items: center;
    display: flex;
    padding-bottom: 0;
}

.c-location-nav__flag {
    margin-right: 5px;
    max-width: 1.5rem;
}

.c-location-nav__label {
    font-family: $global-font-family-bold;
    line-height: 1;
    margin-top: 1px;
    text-transform: uppercase;
}
