.c-logo-list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-bottom: rem($global-spacing * -1);
    padding: 0;
}

.c-logo-list__item {
    display: inline-block;
    margin-bottom: rem($global-spacing);
    max-width: 33.3333%;
    padding: rem($global-spacing-small) rem($global-spacing);
    width: 100%;
}

@include mq($from: mobile) {
    .c-logo-list__item {
        max-width: rem(180px);
    }
}
