.c-marquee {
    overflow: hidden;
    max-width: 100%;
}

.c-marquee__text {
    font-family: $global-font-family-headings-italic;
    font-size: calc(18px + 3vmax);
    line-height: 1;
    white-space: nowrap;
}

.c-marquee__separator {
    display: inline-block;
    padding-left: rem($global-spacing * 1.5);
    padding-right: rem($global-spacing * 1.5);
}
