$modal-close-button-size: 16px;
$modal-close-button-icon-size: 16px;
$modal-wrapper-max-width: 800px;
$modal-wrapper-max-width--wide: 1100px;
$modal-wrapper-max-width--small: 600px;
$modal-container-min-height: 500px;
$modal-container-min-height--small: 200px;

.c-modal {
    /**
     * 1. Don't let the modal appear on top of the page header
     */
    align-items: center;
    background-color: rgba($color-black, 0.5);
    bottom: 0;
    display: flex;
    height: 100%;
    left: 0;
    justify-content: center;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: ($global-highest-z-index + 3); /* [1] */
}
.c-modal__close {
    display: flex;
    height: $modal-close-button-size;
    justify-content: center;
    padding: 0 !important;
    position: absolute;
    right: rem($global-spacing-small * 1.5);
    top: ($global-spacing-small * 1.5);
    transition: all 0.8s $global-transition-easing-cubic;
    width: $modal-close-button-size;
    z-index: 2;

    .c-button__icon {
        fill: $color-primary;
        height: $modal-close-button-icon-size;
        left: 50%;
        margin-left: ($modal-close-button-icon-size / 2) * -1;
        margin-top: ($modal-close-button-icon-size / 2) * -1;
        position: absolute;
        top: 50%;
        width: $modal-close-button-icon-size;
    }
}
.c-modal__close:hover,
.c-modal__close:active {
    transform: scale(1.1) rotate(180deg) !important;
}

.c-modal__wrapper {
    border-radius: $global-radius--small;
    box-shadow: $global-shadow-active;
    max-height: 70%;
    max-width: $modal-wrapper-max-width;
    -webkit-overflow-scrolling: touch;
    touch-action: manipulation;
    will-change: transform;
    width: 100%;
    z-index: 1;
}

.c-modal,
.c-modal__wrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.c-modal__image-container {
    position: relative;
}
.c-modal__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100% + #{$global-spacing-tiny * 3});
    left: $global-spacing-tiny;
    position: absolute;
    top: $global-spacing-tiny * -3;
    width: calc(100% + #{$global-spacing-tiny * 2});
}

//

// main {
//     transition: $global-transition;
// }
// .u-no-scroll main {
//     filter: blur(2px);
// }

//

.c-modal--notification {
    .c-modal__wrapper {
        max-width: 450px;
        right: $global-spacing-small;
        position: absolute;
        top: $global-spacing-small;
    }

    .c-modal__scroller {
        max-height: 300px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        position: relative;
    }
}

@include mq($from: mobile) {
    .c-modal::before {
        content: '';
        display: inline-block;
        height: 100%;
    }

    .c-modal__wrapper {
        min-height: 200px;
    }

    .c-modal__layout {
        width: 100%;
    }

    .c-modal__image {
        height: 100%;
        left: $global-spacing;
        top: 0;
        width: calc(100% - #{$global-spacing});
    }
}

@include mq($from: mobile, $until: tablet) {
    .c-modal__wrapper {
        max-width: $modal-wrapper-max-width;
        width: calc(100% - #{$global-spacing-small * 2});
    }
}

@include mq($until: mobile) {
    .c-modal__wrapper {
        height: 100%;
        left: 0;
        margin-left: $global-spacing-small;
        margin-top: $global-spacing-small;
        max-width: none;
        min-height: 0;
        padding-top: $global-spacing !important;
        position: absolute;
        width: calc(100% - #{$global-spacing-small * 2});
    }
}
