@include mq($from: desktop) {
    .c-overlay-nav {
        display: none !important;
    }
}

@include mq($until: desktop) {
    .c-overlay-nav {
        background-color: theme-color(overlay-navigation, background);
        flex-direction: column;
        height: 100%;
        left: 0;
        justify-content: space-around;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: $global-highest-z-index - 1;
    }
    .c-overlay-nav__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding-top: $global-spacing-huge;
        overflow: auto;
    }

    .c-overlay-nav__nav {
        // align-items: center;
        // display: flex;
        // flex-direction: column;
        // flex-grow: 1;
        // justify-content: center;
        padding-bottom: 60px;
        position: relative;
    }
    .c-overlay-nav--main {
        flex-grow: 1;
    }

    .c-overlay-nav__link {
        color: theme-color(overlay-navigation, links);
        display: block;
        font-family: $global-font-family-headings;
        font-size: rem(24px);
        font-size: 7vw;
        line-height: 1.2;
        overflow: hidden;
        text-align: center;
        transition: color $global-transition-speed $global-transition-easing;
    }
    .c-overlay-nav__link span {
        display: block;
        transform: translateY(100%);
    }

    .c-overlay-nav__sub-link {
        color: $color-black;
        display: block;
        font-family: $global-font-family-headings;
        font-size: rem(20px);
        text-align: center;
    }

    .c-overlay-nav .c-button {
        align-self: center;
    }

    .c-overlay-nav__footer {
        background-color: theme-color(overlay-navigation, background);
        border-top: 1px solid rgba($color-black, 0.1);
        bottom: 0;
        display: flex;
        justify-content: space-between;
        position: fixed;
        z-index: $global-highest-z-index;
        width: 100%;
    }

    .c-overlay-nav__secondary-nav a {
        color: $color-grey;
        font-size: rem(18px);
        min-height: 0;
        padding: rem($global-spacing-tiny) 0;
    }

    .c-overlay-nav__footer-col + .c-overlay-nav__footer-col {
        border-left: 1px solid rgba($color-black, 0.1);
    }

    .c-overlay-nav__footer .c-overlay-nav__link {
        color: $color-primary;
        font-family: $global-font-family-body;
        font-size: rem(14px);
        text-transform: uppercase;
    }

    .c-overlay-nav__row {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: rem($global-spacing-small) rem($global-spacing);
    }

    .c-overlay-nav__toggle {
        margin-left: rem($global-spacing-small);

        svg {
            height: auto;
            transition: $global-transition;
            width: 15px;
        }

        &[aria-expanded='true'] svg {
            transform: rotate(180deg);
        }
    }

    .c-overlay-nav .c-accordion__content {
        background-color: #d5eaf6;
        overflow: hidden;
        padding: 0;
        text-align: center;
        width: 100%;

        > div {
            padding: rem($global-spacing-small);
        }
    }

    .c-overlay-nav {
        .c-collection-nav {
            display: block;
            overflow: auto;
        }
        .c-collection-nav__item {
            margin-left: 0;
            margin-bottom: 0;
            max-width: none;
            padding: rem($global-spacing-tiny) 0;
            width: 100%;
        }
        .c-collection-nav__item img {
            display: none;
        }
        .c-collection-nav__text {
            color: $color-black;
            display: block;
            font-family: $global-font-family-headings;
            font-size: rem(20px);
            text-align: center;
        }
    }
}

@include mq($from: mobile, $until: desktop) {
    .c-overlay-nav__nav--main {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        margin-top: $global-spacing-large;
        max-height: 450px;
    }
}

@media only screen and (max-height: 850px) and (orientation: landscape) {
    .c-overlay-nav__nav--main {
        margin-top: 0;
    }

    .c-overlay-nav__nav {
        display: block;
    }
    .c-overlay-nav__footer a,
    .c-overlay-nav__nav a {
        display: inline-block;
        margin-left: $global-spacing;
    }
    .c-overlay-nav__footer {
        display: block;
    }
    .c-overlay-nav__footer br,
    .c-overlay-nav__nav br,
    .c-overlay-nav .u-label {
        display: none;
    }

    .c-overlay-nav__link {
        font-size: 4vw;
        min-height: 0;
    }
}
