.c-product__gallery-container {
    position: relative;
}

.c-product__gallery {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    width: 100%;
}

.c-product__hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
    margin-bottom: rem($global-spacing);
    padding: rem($global-spacing);
}

.c-product__quantity {
    align-items: center;
    border: 2px solid $color-grey-mid;
    color: $color-grey-dark;
    font-family: $global-font-family-bold;
    font-size: rem(16px);
    height: calc(4px + #{rem(60px)});
    position: relative;
    text-align: center;
    -webkit-appearance: none;
    width: 90px;
}

.c-product__quantity-toggle {
    color: $color-grey-dark;
    font-family: $global-font-family-bold;
    font-size: rem(18px);
    height: rem(50px);
    left: rem($global-spacing-tiny);
    padding: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: rem(20px);
}
.c-product__quantity-toggle[disabled] {
    opacity: 0.6;
    pointer-events: none;
}
.c-product__quantity-toggle:last-of-type {
    left: auto;
    right: rem($global-spacing-tiny);
}

.c-product__add-button {
    display: flex;
    padding-bottom: 0;
    padding-top: 0;
    width: 100%;

    span {
        align-items: center;
        display: flex;
        height: rem(60px);
    }

    > .c-button__text {
        flex-grow: 1;

        > .c-button__text {
            display: flex;
            flex-grow: 1;
            justify-content: center;
        }

        span:last-of-type {
            border-left: 2px solid;
            padding-left: rem(36px);
        }
    }
}

@include mq($from: mobile) {
    .c-product__hero {
        display: flex;
    }

    .c-product__hero-info {
        padding: rem($global-spacing);
    }
}

@include mq($from: tablet) {
    .c-product__hero-info {
        padding: rem($global-spacing-large);
    }
}

@include mq($from: desktop) {
    .c-product__hero-info {
        max-width: rem(900px);
        padding: rem($global-spacing-large) rem($global-spacing-huge);
    }

    .c-product__gallery-container {
        min-height: 730px;
    }
}

@media (min-height: rem(1000px)) {
    .c-product__gallery-container {
        min-height: 70vmin;
    }
}
