$promo-banner-background-color: $color-secondary;
$promo-banner-font-size: 12px;
$promo-banner-padding: 4px $global-spacing-small;
$promo-banner-text-color: $color-primary;
$promo-banner-text-color--bold: $color-primary;

.c-promo-banner {
    background-color: $promo-banner-background-color;
    color: $promo-banner-text-color;
    font-size: rem($promo-banner-font-size);
    letter-spacing: 0.2px;
    padding: $promo-banner-padding;
    position: relative;
    text-align: center;
    z-index: $global-highest-z-index;
}
.c-promo-banner strong {
    font-family: $global-font-family-bold;
}
