.c-quote {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

// .flickity-enabled .flickity-slider[style] .c-quote {
//     height: 100%;
// }

.c-quote__body {
    color: $color-primary;
    font-family: $global-font-family-headings-italic;
    font-size: rem(24px);
    line-height: 1.4;

    span {
        font-family: $global-font-family-headings;
        text-transform: uppercase;
    }
}

.c-quote__footer {
    margin-top: rem($global-spacing-small);

    &::before {
        content: '—';
        margin-right: rem($global-spacing-tiny);
    }
}

@include mq($until: mobile) {
    .c-quote__body {
        padding-left: rem($global-spacing-small);
        padding-right: rem($global-spacing-small);
        text-align: left;
    }
}

@include mq($from: tablet) {
    .c-quote__body {
        font-size: rem(34px);
    }
}
