$site-footer-background-color: $color-white;
$site-footer-logo-height: 26px;

.c-site-footer {
    background-color: theme-color(footer, background);
    color: theme-color(footer, text);
    position: relative;
}

.c-site-footer__logo {
    height: auto;
    width: 120px;
}

.c-site-footer__header {
    color: theme-color(footer, accent);
    font-family: $global-font-family-bold;
    font-size: rem(13px);
    letter-spacing: rem(0.5px);
    margin-bottom: rem($global-spacing-small);
    text-transform: uppercase;
}

.c-site-footer__nav {
    @include inuit-clearfix();
    line-height: 1.8;
}

.c-site-footer__link {
    color: theme-color(footer, links);
    display: block;
    font-family: $global-font-family-bold;
    font-size: rem(14px);
    line-height: 1.75;
    margin-bottom: rem($global-spacing-tiny);
    overflow: hidden;
}

@media all and (-ms-high-contrast: none) {
    .c-site-footer__link span::after {
        display: none !important;
    }
}

.c-site-footer__column {
    display: inline-block;
}

.c-site-footer__cta {
    border: 1px solid theme-color(footer, accent);
    color: theme-color(footer, text);
    display: block;
    font-family: $global-font-family-headings;
    font-size: rem(22px);
    letter-spacing: rem(0.5px);
    padding: $global-spacing-large;
    text-align: center;
    transition: $global-transition;
    will-change: transform;
    width: 100%;
}
.c-site-footer__cta .u-label {
    color: theme-color(footer, accent);
}
.c-site-footer__cta:hover,
.c-site-footer__cta:focus {
    background-color: theme-color(footer, text);
    border-color: theme-color(footer, text);
    color: theme-color(footer, background);
    transform: scale(1.025);

    .u-label {
        color: $color-primary;
    }
}

@include mq($until: tablet) {
    .c-site-footer__column {
        margin-bottom: $global-spacing;
        width: 50%;
    }
    .c-site-footer__column--logo {
        text-align: center;
    }
    .c-site-footer__column:first-of-type,
    .c-site-footer__column:last-of-type {
        width: 100%;
    }

    .c-site-footer__column-links {
        columns: 2;
        column-width: 50%;

        .c-site-footer__column {
            width: 100%;
        }
    }
}

@include mq($until: mobileSmall) {
    .c-site-footer__column {
        width: 33.3333%;
    }
}

@include mq($from: mobile, $until: tabletSmall) {
    .c-site-footer__cta {
        display: none;
    }
}

@include mq($from: tablet) {
    .c-site-footer__nav,
    .c-site-footer__column-links {
        display: flex;
        flex-direction: row;
    }

    [class*='c-site-footer__column'] + [class*='c-site-footer__column'] {
        margin-left: $global-spacing-large;
    }

    .c-site-footer__cta {
        float: right;
        max-width: 360px;
    }
}

@include mq($from: desktop) {
    [class*='c-site-footer__column'] + [class*='c-site-footer__column'] {
        margin-left: auto;
    }

    .c-site-footer__column + .c-site-footer__column {
        margin-left: $global-spacing-huge;
    }
}
