$site-header-animation-duration: 0.8s;
$site-header-background-color: $color-white;
$site-header-height: 75px;
$site-header-height--small: 65px;
$site-header-logo-width: 190px;
$site-header-padding: $global-spacing;
$site-header-shadow: $global-shadow-active;
$site-header-z-index: ($global-highest-z-index + 2);
$site-header-mobile-nav-breakpoint: 1025px;
$site-header-nav-offset: $site-header-logo-width + 34px;

$promo-banner-height: 30px;

.c-site-header {
    position: fixed;
    transition: box-shadow 0.4s ease-in-out;
    width: 100%;
    z-index: $global-highest-z-index;

    .c-site-header__link {
        color: theme-color(tertiary, links);
    }
}
.c-site-header:hover,
.c-site-header:focus {
    box-shadow: 0 2px 10px rgba($color-black, 0.07);
}

.u-hide-body.s-overlay-visible .c-site-header {
    background-color: theme-color(overlay-navigation, background) !important;
    transform: none !important;
}

.c-site-header-placeholder {
    height: $site-header-height--small + $promo-banner-height;
}

.c-site-header__wrapper {
    align-items: center;
    display: flex;
    height: $site-header-height--small;
    position: relative;
    width: 100%;
}

.c-site-header__nav {
    align-items: center;
    display: flex;
    flex-grow: 1;
}
.c-site-header__nav--center {
    left: 0;
    justify-content: center;
    position: fixed;
    width: 100%;
}
.c-site-header__nav:last-of-type {
    justify-content: flex-end;

    .c-site-header__link {
        font-size: rem(12px);
    }
}

.c-site-header__link {
    color: $color-primary;
    display: inline-block;
    font-size: rem(15px);
    font-family: $global-font-family-bold;
    font-weight: normal;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}
.c-site-header__link:hover,
.c-site-header__link:focus,
.c-site-header__link--active {
    color: theme-color(tertiary, headings);
}

.c-site-header__link--logo {
    transition: $global-transition;
    width: auto;
}
.smith-and-sinclair-us .c-site-header__link--logo {
    transform: translateY(7px); // Has `London` underneath and this makes it feel more balanced
}
.c-site-header .c-logo {
    fill: theme-color(light, text);
    height: 100%;
    top: 50%;
    vertical-align: text-bottom;
    width: auto;
}

.c-site-header__link--cart {
    display: flex;
    position: relative;

    &::after {
        display: none;
    }

    > svg {
        height: 25px;
        transition: $global-transition;
        width: 20px;
    }
}

.c-site-header__link--cart.u-hide\@tablet {
    position: absolute;
    right: 0;
}

.c-site-header__link--settings {
    align-items: center;
    border: 1px solid $color-grey-mid;
    display: flex;
    padding: rem($global-spacing-tiny);
    transition: $global-transition;

    img {
        margin-right: rem(6px);
        transition: $global-transition;
        width: rem(18px);
    }
}
.c-site-header__link--settings:hover,
.c-site-header__link--settings:focus {
    background-color: $color-grey-light;
    border-color: $color-grey;
}

.c-site-header__badge {
    align-items: center;
    background-color: $color-red;
    border-radius: 50%;
    color: $color-white;
    display: flex;
    font-size: rem(11px);
    height: rem(17px);
    line-height: 1;
    right: -50%;
    min-width: rem(17px);
    justify-content: center;
    position: absolute;
    top: -5%;
    transition: $global-transition;
}
.c-site-header__link--cart:hover .c-site-header__badge,
.c-site-header__link--cart:focus .c-site-header__badge {
    transform: scale(1.3);
}

.c-site-header.u-is-stuck,
.c-site-header:hover,
.c-site-header:focus {
    background-color: theme-color(light, background);
    transition: all 0.2s ease-in-out;
    will-change: opacity;

    .c-site-header__link {
        color: theme-color(light, links);
    }

    .c-site-header__link--cart path {
        fill: theme-color(light, links);
        stroke: theme-color(light, links);
    }

    .s-overlay-visible & {
        background-color: theme-color(tertiary, background);
        box-shadow: none;
    }
}

.c-site-header__link--sub-nav {
    padding-right: rem(18px);
}
.c-site-header__link--sub-nav::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43874 0L5 3.0917 1.56126 0 .5.95413 5 5 9.5.95413z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transition: $global-transition;
    transform: translateY(-55%);
    width: rem(8px);
}
.c-site-header__sub-nav {
    background-color: $color-white;
    box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.1);
    left: 0;
    opacity: 0;
    padding: rem($global-spacing);
    position: absolute;
    text-align: center;
    top: calc(100% + #{rem($global-spacing-tiny)});
    transition: $global-transition;
    transform: translateY(#{$global-spacing-small});
    width: 100vw;
    visibility: hidden;
    z-index: 1;
}
.c-site-header__link--sub-nav:hover + .c-site-header__sub-nav,
.c-site-header__link--sub-nav:focus + .c-site-header__sub-nav,
.c-site-header__sub-nav:hover {
    opacity: 1;
    transform: translateY(7px);
    visibility: visible;
}

.c-site-header__sub_link {
    font-family: $global-font-family-bold;
    line-height: 1.4;
    padding: rem(2px) rem($global-spacing-small);
    text-align: center;
    text-transform: uppercase;
}

@include mq($until: $site-header-mobile-nav-breakpoint) {
    .c-site-header__link--logo,
    .c-site-header__link--logo svg {
        height: 18px;
        left: 50% !important;
        opacity: 1 !important;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) !important;
    }

    .smith-and-sinclair-us .c-site-header__link--logo,
    .smith-and-sinclair-us .c-site-header__link--logo svg {
        height: 25px;
    }

    // .s-overlay-visible .c-site-header__link--logo {
    //     opacity: 1 !important;
    //     transform: translateX(-50%) !important;
    // }

    .c-site-header__nav {
        display: none;
    }
}

@include mq($from: $site-header-mobile-nav-breakpoint) {
    .c-site-header-placeholder {
        height: $site-header-height + $promo-banner-height;
    }

    .c-site-header__link--logo {
        margin-right: 34px;
    }

    .c-site-header__wrapper {
        height: $site-header-height;
    }

    .c-site-header .c-hamburger {
        display: none;
    }
}
