.c-statement__text {
    font-family: $global-font-family-headings;
    font-size: 8vw;
    line-height: 1.2;
    margin: 0 auto;
    max-width: 365px;
    position: relative;
    text-align: center;

    br + br {
        height: 0;
        margin: 0;
    }
}

.c-statement__highlight {
    display: inline-block;
    position: relative;
    margin-top: rem($global-spacing * 0.5);
    margin-right: rem($global-spacing * 0.5);
    margin-left: rem($global-spacing * 0.5);
    text-transform: uppercase;

    &::before {
        background-color: $color-black;
        content: '';
        height: 105%;
        left: calc(-10px - 10%);
        position: absolute;
        right: -7%;
        top: -2.5%;
        transform-origin: bottom left;
        transform: skew(-20deg, 0deg);
        z-index: 1;
    }
}

.c-statement__highlighted-text {
    color: $color-white;
    font-family: $global-font-family-headings-italic;
    position: relative;
    z-index: 2;
}

.c-statement__sticker {
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -60px;
    height: 70px;
    left: 52%;
    position: absolute;
    transform: rotate(-10deg);
    width: 70px;
    z-index: 2;
}

@include mq($from: 480px) {
    .c-statement__text {
        font-size: rem(50px);
        max-width: 480px;
    }

    .c-statement__sticker {
        bottom: -80px;
        height: 100px;
        width: 100px;
    }
}

/**
* 1. Important to override previous mq, not sure why this doesn't override naturally
 */
@include mq($from: mobile) {
    .c-statement__text {
        max-width: none !important; /* [1] */
    }
}
