$swipeable-depth-size: 60px;

@include mq($until: mobile) {
    /**
     * 1. Remove the spacing added by section wrapper, so when we swipe the items go past the edge
     * 2. Accomodate for removing the wrapper spacing...
     * 3. Swipe-scroll horizontally only
     * 4. Don't wrap items onto multiple lines
     * 5. Increase the width to accommodate the left margin and padding...
     * 6. Fix overflow issue when swipeable component sits within modal
     */
    .c-swipeable {
        animation: swipeEnter 2s;
        margin-left: ($global-spacing * -1); /* [1] */
        overflow-x: scroll; /* [3] */
        -webkit-overflow-scrolling: touch;
        padding-left: $global-spacing; /* [2] */
        position: relative;
        touch-action: manipulation;
        white-space: nowrap; /* [4] */
        width: calc(100% + #{($global-spacing * 2)}); /* [5] */
        will-change: transform;

        .c-modal & {
            overflow: hidden; /* [6] */
        }
    }

    .c-swipeable__item {
        width: 60vw !important;
    }
}

@keyframes swipeEnter {
    0% {
        transform: translateX($global-spacing-huge);
    }
    100% {
        transform: translateX(0);
    }
}