/**
 * 1. Reset default list styles
 */
.c-tabs__list {
    display: flex;
    flex-direction: row;
    list-style: none; /* [1] */
    justify-content: center;
    margin: 0; /* [1] */
    overflow: hidden;
    padding: 0; /* [1] */
    text-align: center;
}
/**
 * 1. Allow the items to be displayed on a single line
 */
.c-tabs__list-item {
    display: inline-block; /* [1] */
    min-width: 20%;
}

/**
 * 1. Allow the item to consume all remaining space
 * 2. Align content to the right
 */
.c-tabs__list-item--right {
    flex-grow: 1; /* [1] */
    text-align: right; /* [2] */
}

@include mq($until: mobile) {
    .c-tabs__list-item {
        flex-grow: 1;
        text-align: left;
    }

    .c-tabs__button {
        width: 100%;
    }
}

/**
 * 1. Always show the button as interactive
 * 2. Remove outline blur/border
 * 3. Contain the active state element animation
 * 4. Reset default button styles
 * 5. Position the button above the tabs bottom border
 */
.c-tabs__button {
    border-radius: 0;
    color: $color-primary;
    cursor: pointer; /* [1] */
    display: inline-block;
    font-family: $global-font-family-bold;
    font-size: rem(15px);
    outline: none; /* [2] */
    padding: rem($global-spacing) 0;
    position: relative; /* [3] */
    text-align: center;
    text-transform: uppercase;
    transition: $global-transition;
    -webkit-appearance: none; /* [4] */
    width: 100%;
    z-index: 2; /* [5] */
}
.c-tabs__button::after {
    background-color: $color-primary;
    bottom: 0;
    height: rem(2px);
    content: '';
    right: 0;
    position: absolute;
    transition: $global-transition;
    width: 0;
    z-index: 1;
}

.c-tabs__button[aria-selected='false']:hover,
.c-tabs__button[aria-selected='false']:focus {
    background-color: $color-grey-light;
}
.c-tabs__button[aria-selected='true'] {
    pointer-events: none;
}

/**
 * 1. Prevent hover states or events on the active button
 */
.c-tabs__button[aria-selected='true']::after {
    left: 0;
    right: auto;
    width: 100%;
}

.c-tabs__panel-container {
    min-height: 100px;
    position: relative;
}

.c-tabs__panel {
    display: none;
    opacity: 0;
    top: 0;
}
.c-tabs__panel[aria-hidden='false'] {
    display: block;
    opacity: 1;
}

//////////

.c-tabs--small {
    .c-tabs__list {
        justify-content: flex-start;
    }

    .c-tabs__list-item {
        min-width: 0;
    }

    .c-tabs__button {
        padding: rem($global-spacing-small) rem($global-spacing);
    }
}

.c-tabs--image {
    .c-tabs__list-item {
        min-width: 0;
    }

    .c-tabs__button {
        align-items: center;
        display: flex;
        height: rem(80px);
        justify-content: center;
        opacity: 0.6;
        padding: 0 rem($global-spacing);
    }
    .c-tabs__button::after {
        display: none;
    }
    .c-tabs__button[aria-selected='true'],
    .c-tabs__button:hover,
    .c-tabs__button:focus {
        opacity: 1;
    }

    @include mq($until: mobile) {
        .c-tabs__button {
            padding: 0 rem($global-spacing-small);
        }
    }
}