@include mq($until: mobile) {
    .c-three-col-teaser {
        display: flex;
        flex-direction: row;
        text-align: left;
    }
    .c-three-col-teaser__image {
        margin-right: rem($global-spacing);
        text-align: center;
        width: rem(200px);
    }
}
