{%- if section.settings.title != blank -%}
    <div class="t-secondary">
        <header class="o-section o-wrapper u-text-align-center">
            {%- if section.settings.sticker_image != blank -%}
                <img src="{{ section.settings.sticker_image | img_url:'70x' }}" srcset="{{ section.settings.sticker_image | img_url:'70x', scale:2 }}" class="u-mb c-animated-item u-in-viewport" alt="" data-order="1" style="max-width: 200px; max-height: 160px;">
            {%- endif -%}

            <h1 class="u-heading u-h2 u-max-w-750px u-mh-auto c-animated-item u-in-viewport" data-order="2">{{ section.settings.title }}</h1>
        </header>
    </div>
{%- endif -%}

{% schema %}
{
    "name": "About - Header",
    "settings": [
        {
            "type": "image_picker",
            "id": "sticker_image",
            "label": "Sticker image"
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        }
    ]
}
{% endschema %}
