{%- if section.settings.title != blank or section.settings.text != blank -%}
    <section class="o-section o-wrapper">
            <div class="o-layout u-stack-layout@mobile">
                <div class="o-layout__item u-5/12@mobile">
                    <h2 class="u-heading u-h3">{{ section.settings.title }}</h2>
                </div><div class="o-layout__item u-1/12@mobile"></div><div class="o-layout__item u-6/12@mobile">
                    {{ section.settings.text | newline_to_br }}
                </div>
            </div>
        </div>
    </section>

    {%- if section.settings.photo != blank -%}
        <div class="c-full-bleed-photo" style="background-image: url('{{ section.settings.photo | img_url:'600x400', crop:'center' }}');"></div>
        <style>
        @media (min-width: 46.3025em) {
            .c-full-bleed-photo {
                background-image: url('{{ section.settings.photo | img_url:'x800' }}');
            }
        }
        </style>
    {%- endif -%}
{%- endif -%}

{% schema %}
{
    "name": "About - Intro",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "photo",
            "label": "Photo"
        }
    ]
}
{% endschema %}
