{%- if section.settings.title != blank or section.settings.text != blank -%}
    <div class="t-tertiary">
        <section class="o-section o-wrapper">
            <div class="o-layout u-stack-layout@mobile u-flex@mobile u-align-items-center c-animated-content js-monitor">
                <div class="o-layout__item u-7/12@mobile">
                    <h2 class="u-heading u-h3 u-mb-" data-order="1">
                        {% include 'highlighted-text', text:section.settings.title %}
                    </h2>
                    <p data-order="2">{{ section.settings.text | newline_to_br }}</p>
                </div><div class="o-layout__item u-1/12@mobile"></div><div class="o-layout__item u-4/12@mobile u-text-align-right@mobile">
                    {% include 'primary-cta-button', url:section.settings.cta_url, label:section.settings.cta_label, attributes:' data-order="3"', classes:'c-button--ghost' %}
                </div>
            </div>
        </section>
    </div>
{%- endif -%}

{% schema %}
{
    "name": "About - Contact",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA label"
        }
    ]
}
{% endschema %}
