{%- if section.settings.title != blank or section.settings.text != blank -%}
    <section class="o-section o-wrapper">
        <div class="o-layout u-stack-layout@mobile u-flex@mobile u-align-items-center c-animated-content js-monitor">
            <div class="o-layout__item u-4/12@mobile">
                <h2 class="u-heading u-h3 u-mb" data-order="1">{{ section.settings.title }}</h2>
                <p data-order="2">{{ section.settings.text | newline_to_br }}</p>
            </div><div class="o-layout__item u-1/12@mobile">
            </div><div class="o-layout__item u-7/12@mobile">
                <div class="u-flex " data-order="3">
                    {% if section.settings.photo_1 %}
                        <img data-src="{{ section.settings.photo_1 | img_url:'615x', crop:'center' }}" srcset="{{ section.settings.photo_1 | img_url:'615x', crop:'center', scale:2 }} 2x" alt="" class="lazyload u-6/12">
                    {% endif %}

                    {% if section.settings.photo_2 %}
                        <img data-src="{{ section.settings.photo_2 | img_url:'615x', crop:'center' }}" srcset="{{ section.settings.photo_2 | img_url:'615x', crop:'center', scale:2 }} 2x" alt="" class="lazyload u-6/12 u-ml-" style="transform: translateY(40px);">
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "About - Founders",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "image_picker",
            "id": "photo_1",
            "label": "Photo #1"
        },
        {
            "type": "image_picker",
            "id": "photo_2",
            "label": "Photo #2"
        }
    ]
}
{% endschema %}
