{%- if section.blocks.size > 0 -%}
    <section class="o-section o-wrapper u-text-align-center">
        {%- if section.settings.sticker_image != blank -%}
            <img src="{{ section.settings.sticker_image | img_url:'70x' }}" srcset="{{ section.settings.sticker_image | img_url:'140x', scale:2 }} 2x" class="u-mb c-animated-item u-in-viewport" alt="" data-order="1">
        {%- endif -%}

        <div class="c-tabs c-tabs--image c-animated-content js-monitor">
            <div class="u-relative" style="min-height: 100px;" data-order="1">
                {%- for block in section.blocks -%}
                    <section class="c-tabs__panel js-panel" role="tabpanel" id="{{ block.settings.title | handle }}" aria-labelledby="tab-{{ block.settings.title | handle }}" aria-hidden="{% if forloop.first %}false{% else %}true{% endif %}">
                        <p class="u-heading u-h4 u-mh-auto u-max-w-750px">{{ block.settings.quote }}</p>

                        {%- if block.settings.attribute != blank or block.settings.cta_label != blank -%}
                            <span class="u-display-block u-mt- u-color-grey">
                                {%- if block.settings.attribute != blank -%}
                                    {{ block.settings.attribute }}
                                {%- endif -%}

                                {%- if block.settings.attribute != blank and block.settings.cta_label != blank -%}
                                    &nbsp;&mdash;&nbsp;
                                {%- endif -%}

                                {%- if block.settings.cta_label != blank and block.settings.cta_url != blank -%}
                                    <a href="{{ block.settings.cta_url }}" target="noopener" class="u-underline-link">{{ block.settings.cta_label }}</a>
                                {%- endif -%}
                            </span>
                        {%- endif -%}
                    </section>
                {%- endfor -%}
            </div>

            <ul class="c-tabs__list u-mt u-mt+@tablet" role="tablist" data-order="2">
                {%- for block in section.blocks -%}
                    <li class="c-tabs__list-item" role="presentation">
                        <button class="c-tabs__button js-tab" id="tab-{{ block.settings.title | handle }}" role="tab" aria-controls="{{ block.settings.title | handle }}" aria-label="{{ block.settings.title }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" tabindex="{% if forloop.first %}0{% else %}-1{% endif %}">
                            <img src="{{ block.settings.title_logo_image | img_url:'x80', scale:2 }}" alt="">
                        </button>
                    </li>
                {%- endfor -%}
            </ul>
        </div>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "About - Features",
    "settings": [
        {
            "type": "header",
            "content": "Teaser content",
            "info": "You can add up to 5 features."
        },
        {
            "type": "image_picker",
            "id": "sticker_image",
            "label": "Sticker image"
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 5,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "title_logo_image",  
                    "label": "Title logo"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "quote",
                    "label": "Quote"
                },
                {
                    "type": "text",
                    "id": "attribute",
                    "label": "Attribute"
                },
                {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA URL"
                },
                {
                    "type": "text",
                    "id": "cta_label",
                    "label": "CTA Label"
                }
            ]
        }
    ]
}
{% endschema %}
