{%- for block in section.blocks -%}
    {%- if block.settings.article_handle == article.handle -%}
        {%- assign article_content = block.settings -%}
    {%- endif -%}
{%- endfor -%}

<section class="o-section o-wrapper o-wrapper--medium c-animated-content js-monitor">
    <h1 class="u-heading u-h2 u-mb" data-order="1">{{ article.title }}</h1>
    {% include 'blog-tags', tags:article.tags %}

    <div class="s-wysiwyg u-mt u-mt+@tablet" data-order="2">{{ article.content }}</div>
</section>

<div class="u-mv">
    <hr class="u-hr">
</div>

<section class="o-wrapper o-section">
    <h3 class="u-heading u-heading--caps u-h3 u-mb u-text-align-center c-animated-item js-monitor">{{ 'blogs.general.latest_title' | t }}</span></h3>

    <div class="o-layout o-layout--large u-stack-layout@mobile c-layout-carousel js-carousel" data-carousel-mobile="true" data-carousel-options="layoutItems">
        {%- assign counter = 0 -%}
        {%- for related_article in blogs.our-universe.articles limit:4 -%}{%- if article.id != related_article.id -%}{%- assign counter = counter | add:1 -%}<!--
        --><div class="o-layout__item u-4/12@mobile t-light c-animated-content js-monitor">
            {% include 'journal-card', title:related_article.title, url:related_article.url, image:related_article.image, excerpt:related_article.excerpt %}
        </div><!--
        -->{%- if counter == 3 -%}{%- break -%}{%- endif -%}{%- endif -%}{%- endfor -%}
    </div>
</section>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "about": "{{ article.snippet | strip_html | strip_newlines }}",
    "headline": "{{ article.title }}",
    "mainEntityOfPage": "{{ shop.url }}{{ article.url }}",
    "image": {
        "@type": "ImageObject",
        "url": "{{ article.image | img_url: '1000x800' }}",
        "width": 1000,
        "height": 800
    },
    "url": "{{ shop.url }}{{ article.url }}",
    "datePublished": "{{ article.published_at }}",
    "dateCreated": "{{ article.created_at }}",
    "articleBody": "{{ article.body | strip_html | strip_newlines }}",
    "author": {
        "@type": "Person",
        "name": "{{ article.author }}"
    },
    "publisher": {
        "@type": "Organization",
        "name": "{{ shop.name }}"
    }
}
</script>

{% schema %}
{
    "name": "Article content",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "header",
                    "content": "Article",
                    "info": "Choose an article to add more content to it."
                },
                {
                    "type": "article",
                    "id": "article_handle",
                    "label": "Article"
                },
                {
                    "type": "header",
                    "content": "Related productss",
                    "info": "Each article can show up to 4 related products."
                },
                {
                    "type": "product",
                    "id": "related_product_1_handle",
                    "label": "Related product #1"
                },
                {
                    "type": "text",
                    "id": "related_product_1_label",
                    "label": "Related product #1 CTA label"
                },
                {
                    "type": "product",
                    "id": "related_product_2_handle",
                    "label": "Related product #2"
                },
                {
                    "type": "text",
                    "id": "related_product_2_label",
                    "label": "Related product #2 CTA label"
                }
            ]
        }
    ]
}
{% endschema %}
