{%- if section.settings.product_handle != blank -%}
    {%- assign show_recommendation = true -%}
    {%- for item in cart.items -%}
        {%- if item.product.handle == section.settings.product_handle -%}
            {%- assign show_recommendation = false -%}
        {%- endif -%}
    {%- endfor -%}
    {%- if show_recommendation == true -%}
        {%- assign recommendation = all_products[section.settings.product_handle] -%}
        <a href="/cart/add?id={{ recommendation.selected_or_first_available_variant.id }}" class="c-button--tertiary c-cart__item u-border-1-grey--dashed u-mt-">
            <div class="c-cart__image">
                <img src="{{ recommendation.featured_image | img_url:'200x200', crop:'center' }}" style="vertical-align: top;" class="u-pr">
            </div>
            <div class="c-cart__content">
                <span class="c-cart__title">{{ recommendation.title }}</span>

                <div class="c-cart__total-price" style="line-height: 1.2;">
                    {{ recommendation.price | money }}<br>
                    <span class="u-underline-link" style="font-size: 1rem;;">Add to bag</span>
                </div>
            </div>
        </a>
    {%- endif -%}
{%- endif -%}

{% schema %}
{
    "name": "Cart - Recommendation",
    "settings": [
        {
            "type": "header",
            "content": "Recommended product",
            "info": "You can select 1 product that can be recommended to customers on the cart."
        },
        {
            "type": "product",
            "id": "product_handle",
            "label": "Product"
        }
    ]
}
{% endschema %}
