{%- if section.blocks.size > 0 -%}
    <section class="o-section o-wrapper">
        {%- if section.settings.title != blank -%}
            <h2 class="u-label u-color-grey u-text-align-center u-mb">{{ section.settings.title }}</h2>
        {%- endif -%}

        <ul class="c-logo-list c-animated-content js-monitor">
            {%- for block in section.blocks -%}
                <li class="c-logo-list__item" data-order="{{ forloop.index }}">
                    <img src="{{ block.settings.logo_image | img_url:'300x' }}" alt="{{ block.settings.title }}" aria-label="{{ block.settings.title }}" class="u-1/1">
                </li>
            {%- endfor -%}
        </ul>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Client list",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Some of our clients"
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "logo_image",  
                    "label": "Logo"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "info": "The name of the company will be provided as a fallback for SEO and accessibility."
                }
            ]
        }
    ]
}
{% endschema %}
