{% if section.blocks.size > 0 -%}
    <ul class="c-collection-nav">
        {%- for block in section.blocks -%}
            {%- if block.settings.collection_handle != blank -%}
                {%- assign collection = collections[block.settings.collection_handle] -%}
                <li class="c-collection-nav__item">
                    <a href="{{ collection.url }}" class="u-display-block u-image-hover-img">
                        <img src="{{ collection.image | img_url:'x25' }}" srcset="{{ collection.image | img_url:'x25', scale:2 }} 2x" alt="">
                        <span class="c-collection-nav__text">{{ collection.title }}</span>
                    </a>
                </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>
{% endif -%}

{% schema %}
{
    "name": "Collection nav",
    "settings": [
        {
            "type": "header",
            "content": "Collection nav",
            "info": "Add all the collections you wish to display in the navigation."
        }
    ],
    "blocks": [
        {
            "name": "Collections",
            "type": "object",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection_handle",
                    "label": "Collection"
                }
            ]
        }
    ]
}
{% endschema %}
