{% if template.suffix == 'experiences-list' -%}
    {% include 'experiences-list', experiences:section.blocks %}
{% else -%}
    {%- for block in section.blocks -%}
        {%- if page.url contains block.settings.page_handle -%}
            {% include 'experiences-detail', experience:block.settings %}
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{% schema %}
{
    "name": "Experiences",
    "settings": [
        {
            "type": "text",
            "id": "listing_hero_title",
            "label": "Listing hero title"
        },
        {
            "type": "text",
            "id": "listing_hero_text",
            "label": "Listing hero text"
        }
    ],
    "blocks": [
        {
            "name": "Experience",
            "type": "object",
            "settings": [
                {
                    "type": "header",
                    "content": "Page",
                    "info": "What page will this content be shown on?"
                },
                {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Page"
                },
                {
                    "type": "select",
                    "id": "category",
                    "label": "Category",
                    "options": [
                        {"value": "Corporate", "label": "Corporate"},
                        {"value": "Custom", "label": "Custom"},
                        {"value": "Pop-Up", "label": "Pop-Up"}
                    ]
                },
                {
                    "type": "header",
                    "content": "Hero content",
                    "info": "This content is shown at the top of the page."
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "video_id",
                    "label": "Video ID",
                    "info": "For mobile we will not show the video for performance reasons. Please only use the YouTube ID, not the full URL."
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "header",
                    "content": "Featured person's content",
                    "info": "If this experience relates to someone, you can add their details here."
                },
                {
                    "type": "image_picker",
                    "id": "sticker_image",
                    "label": "Sticker"
                },
                {
                    "type": "textarea",
                    "id": "quote",
                    "label": "Quote"
                },
                {
                    "type": "image_picker",
                    "id": "person_image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "person_name",
                    "label": "Name"
                },
                {
                    "type": "text",
                    "id": "person_role",
                    "label": "Role"
                },
                {
                    "type": "url",
                    "id": "person_instagram_url",
                    "label": "Instagram URL"
                },
                {
                    "type": "header",
                    "content": "Instructions blocks",
                    "info": "Up to 3 blocks can be added that describe the experience."
                },
                {
                    "type": "text",
                    "id": "instruction_block_1_title",
                    "label": "#1 Title"
                },
                {
                    "type": "textarea",
                    "id": "instruction_block_1_text",
                    "label": "#1 Text"
                },
                {
                    "type": "text",
                    "id": "instruction_block_2_title",
                    "label": "#2 Title"
                },
                {
                    "type": "textarea",
                    "id": "instruction_block_2_text",
                    "label": "#2 Text"
                },
                {
                    "type": "text",
                    "id": "instruction_block_3_title",
                    "label": "#3 Title"
                },
                {
                    "type": "textarea",
                    "id": "instruction_block_3_text",
                    "label": "#3 Text"
                }
            ]
        }
    ]
}
{% endschema %}
