{%- if section.settings.sticker_image != blank -%}
    <img src="{{ section.settings.sticker_image | img_url:'120x' }}" class="u-mb- c-animated-item u-in-viewport" alt="" data-order="1">
{%- endif -%}

<h2 class="u-heading u-h4 u-mb-">
    {{ section.settings.title }}
</h2>

{%- if section.settings.text != blank -%}
    <p data-order="2">{{ section.settings.text | newline_to_br }}</p>
{%- endif -%}

{%- if section.settings.cta_url != blank -%}
    {% include 'primary-cta-button', url:section.settings.cta_url, label:section.settings.cta_label, attributes:' data-order="4"', classes:'c-button--ghost' %}
{%- endif -%}

{% schema %}
{
    "name": "FAQ contact",
    "class": "c-animated-content u-in-viewport",
    "settings": [
        {
            "type": "image_picker",
            "id": "sticker_image",
            "label": "Sticker"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "cta_label",
            "label": "CTA Label"
        },
        {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
        }
    ]
}
{% endschema %}
