{%- if section.settings.title != blank or section.settings.image_1 != blank or section.settings.image_2 != blank or section.settings.image_3 != blank or section.settings.image_4 != blank or section.settings.image_5 != blank or section.settings.image_6 != blank -%}
    {%- if section.settings.title != blank -%}
        <div class="u-label">{{ section.settings.title }}</div>
    {%- endif -%}

    {%- if section.settings.image_1 != blank or section.settings.image_2 != blank or section.settings.image_3 != blank or section.settings.image_4 != blank or section.settings.image_5 != blank or section.settings.image_6 != blank -%}
        <ul class="c-logo-list">
            {%- for i in (1..6) -%}
                {%- assign image_key = 'image_' | append:i -%}
                {%- assign alt_text_key = 'alt_text_' | append:i -%}
                {%- if section.settings[image_key] != blank -%}
                    <li class="c-logo-list__item">
                        <img data-src="{{ section.settings[image_key] | img_url:'x100' }}" srcset={{ section.settings[image_key] | img_url:'x100' }} x2" alt="{{ section.settings[alt_text_key] }}" class="lazyload c-logo-list__image">
                    </li>
                {%- endif -%}
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endif -%}

{% schema %}
{
    "name": "Featured press logos",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Title",
            "info": "Titles are optional. If used, they will appear above the logos."
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "As featured in:"
        },
        {
            "type": "header",
            "content": "Logos",
            "info": "You can select up to 6 logos. Each logo has an optional ALT text."
        },
        {
            "type": "image_picker",
            "id": "image_1",
            "label": "#1 Image"
        },
        {
            "type": "text",
            "id": "alt_text_1",
            "label": "#1 Alt text"
        },
        {
            "type": "image_picker",
            "id": "image_2",
            "label": "#2 Image"
        },
        {
            "type": "text",
            "id": "alt_text_2",
            "label": "#2 Alt text"
        },
        {
            "type": "image_picker",
            "id": "image_3",
            "label": "#3 Image"
        },
        {
            "type": "text",
            "id": "alt_text_3",
            "label": "#3 Alt text"
        },
        {
            "type": "image_picker",
            "id": "image_4",
            "label": "#4 Image"
        },
        {
            "type": "text",
            "id": "alt_text_4",
            "label": "#4 Alt text"
        },
        {
            "type": "image_picker",
            "id": "image_5",
            "label": "#5 Image"
        },
        {
            "type": "text",
            "id": "alt_text_5",
            "label": "#5 Alt text"
        },
        {
            "type": "image_picker",
            "id": "image_6",
            "label": "#6 Image"
        },
        {
            "type": "text",
            "id": "alt_text_6",
            "label": "#6 Alt text"
        }
    ]
}
{% endschema %}
