{%- for block in section.blocks -%}
    {%- assign page_matched = false -%}
    {%- if block.settings.page contains page.url or block.settings.page contains blog.url -%}
        {%- assign page_matched = true -%}
    {%- elsif template.name == 'index' and block.settings.page == '/' -%}
        {%- assign page_matched = true -%}
    {%- elsif template.name == 'collection' and block.settings.page == '/collections' -%}
        {%- assign page_matched = true -%}
    {%- elsif template.name == 'list-collections' and block.settings.page == '/collections' -%}
        {%- assign page_matched = true -%}
    {%- endif -%}
    {%- if page_matched == true -%}
        {%- assign banner_background_image = block.settings.background_photo -%}
        {%- assign banner_size = block.settings.size -%}
        {%- assign banner_horizontal_position = block.settings.horizontal_position -%}
        {%- assign banner_vertical_position = block.settings.vertical_position -%}
        {%- assign banner_text_style = block.settings.text_style -%}
        {%- assign banner_theme = block.settings.colour_theme -%}
        {%- assign banner_title = block.settings.title -%}
        {%- assign banner_text = block.settings.text -%}
        {%- assign banner_primary_cta_url = block.settings.primary_cta_url -%}
        {%- assign banner_primary_cta_label = block.settings.primary_cta_label -%}
        {%- assign banner_secondary_cta_url = block.settings.secondary_cta_url -%}
        {%- assign banner_secondary_cta_label = block.settings.secondary_cta_label -%}
        {% include 'hero-banner' %}
        {%- break -%}
    {%- endif -%}
{%- endfor -%}
{% schema %}
{
    "name": "Hero Banner",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "background_photo",
                    "label": "Background photo"
                },
                {
                    "type": "url",
                    "id": "page",
                    "label": "Page"
                },
                {
                    "type": "select",
                    "id": "size",
                    "label": "Size",
                    "options": [
                        {"value": "short", "label": "Short"},
                        {"value": "default", "label": "Default"}
                    ],
                    "default": "short"
                },
                {
                    "type": "select",
                    "id": "horizontal_position",
                    "label": "Horizontal position",
                    "options": [
                        {"value": "left", "label": "Left"},
                        {"value": "right", "label": "Right"},
                        {"value": "center", "label": "Center"}
                    ],
                    "default": "right"
                },
                {
                    "type": "select",
                    "id": "vertical_position",
                    "label": "Vertical position",
                    "options": [
                        {"value": "bottom", "label": "Bottom"},
                        {"value": "top", "label": "Top"},
                        {"value": "center", "label": "Center"}
                    ],
                    "default": "bottom"
                },
                {
                    "type": "select",
                    "id": "text_style",
                    "label": "Text style",
                    "options": [
                        {"value": "uppercase-outline", "label": "Uppercase/outline"},
                        {"value": "default", "label": "Default"}
                    ],
                    "default": "default"
                },
                {
                    "type": "select",
                    "id": "colour_theme",
                    "label": "Colour theme",
                    "options": [
                        {"value": "light", "label": "Light"},
                        {"value": "dark", "label": "Dark"}
                    ],
                    "default": "dark"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "primary_cta_url",
                    "label": "Primary CTA URL"
                },
                {
                    "type": "text",
                    "id": "primary_cta_label",
                    "label": "Primary CTA label"
                },
                {
                    "type": "url",
                    "id": "secondary_cta_url",
                    "label": "Secondary CTA URL"
                },
                {
                    "type": "text",
                    "id": "secondary_cta_label",
                    "label": "Secondary CTA label"
                }
            ]
        }
    ]
}
{% endschema %}
