{% if section.settings.text != blank -%}
    <section class="o-section o-section--large o-wrapper">
        {% include 'statement', text:section.settings.text, highlighted_text:section.settings.highlighted_text, sticker:section.settings.sticker %}
    </section>
{% endif -%}

{% schema %}
{
    "name": "Home - Statement",
    "class": "t-tertiary",
    "settings": [
        {
            "type": "header",
            "content": "Statement text",
            "info": "Statements are shown in bold, centered text and have the option of text with a highlighted style and a sticker"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "highlighted_text",
            "label": "Highlighted text"
        },
        {
            "type": "image_picker",
            "id": "sticker",
            "label": "Sticker"
        }
    ]
}
{% endschema %}
