{%- if section.blocks.size > 0 -%}
    <section class="o-section o-wrapper">
        {%- for block in section.blocks -%}
            {%- assign is_odd = false -%}
            {%- assign mod = forloop.index | modulo: 2 -%}
            {%- if mod == 0 -%}
                {%- assign is_odd = true -%}
            {%- endif -%}

            {% include 'flex-image-text-block', title:block.settings.title, text:block.settings.text, image:block.settings.image, cta_url:block.settings.cta_url, cta_label:block.settings.cta_label, is_text_first:is_odd %}

            {%- if forloop.last == false -%}
                <div class="u-mt+"></div>
            {%- endif -%}
        {%- endfor -%}
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Home - Teaser content 1",
    "settings": [
        {
            "type": "header",
            "content": "Teaser content",
            "info": "You can add up to 2 items of teaser content."
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 2,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",  
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA URL"
                },
                {
                    "type": "text",
                    "id": "cta_label",
                    "label": "CTA Label"
                }
            ]
        }
    ]
}
{% endschema %}
