{%- if section.settings.collection_handle != blank or section.blocks.size > 0 -%}
    <section class="o-section o-wrapper">
        <div class="u-flex u-align-items-center u-justify-content-space-between">
            <h2 class="u-heading u-h3 u-mb+">{{ section.settings.title }}</h2>  
            
            {% include 'primary-cta-button', url:"/products", label:"See all", classes:'c-button--ghost' %}
        </div>

        <div class="c-swipeable">
            {%- if section.settings.collection_handle != blank -%}
                <div class="o-layout">
                    {%- for product in collections[section.settings.collection_handle].products -%}<!--
                        --><div class="o-layout__item u-3/12 c-swipeable__item">
                            {%- include 'product-card', product_data:product, lazyload:true -%}
                        </div><!--
                    -->{%- endfor -%}
                </div>
            {%- else -%}
                <div class="o-layout">
                    {%- for block in section.blocks -%}<!--
                        --><div class="o-layout__item u-3/12 c-swipeable__item">
                            {%- include 'product-card', product_data:all_products[block.settings.product_handle], lazyload:true -%}
                        </div><!--
                    -->{%- endfor -%}
                </div>
            {%- endif -%}
        </div>
    </section>
{%- endif -%}

{% schema %}
{
    "name": "Home - Featured products",
    "class": "t-tertiary",
    "settings": [
        {
            "type": "header",
            "content": "Title",
            "info": "Add a title that relates to the products. You can select a collection and we will show the first 4 products in that collection, or instead you can manually curate products below."
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "collection",
            "id": "collection_handle",
            "label": "Collection"
        }
    ],
    "blocks": [
        {
            "name": "Products",
            "type": "object",
            "limit": 4,
            "settings": [
                {
                    "type": "header",
                    "content": "Products",
                    "info": "You can have up to 4 featured products."
                },
                {
                    "type": "product",
                    "id": "product_handle",
                    "label": "Product"
                }
            ]
        }
    ]
}
{% endschema %}
