{% if section.settings.strapline != blank -%}
    <p>{{ section.settings.strapline }}</p>
{%- endif -%}

{% schema %}
{
    "name": "Home - Strapline",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Strapline",
            "info": "The strapline is shown in large text, similar to a heading."
        },
        {
            "type": "text",
            "id": "strapline",
            "label": "strapline"
        }
    ]
}
{% endschema %}
