{% if section.settings.article_handle != blank -%}
    {%- assign article = articles[section.settings.article_handle] -%}
    {%- if article != blank -%}
        {%- assign image = article.image -%}
        {%- if section.settings.image != blank -%}
            {%- assign image = section.settings.image -%}
        {%- endif -%}
        <section class="o-section o-wrapper">
            {% include 'hero-content-teaser', title:article.title, image:image, excerpt:article.excerpt, content:article.content, url:article.url, tags:article.tags %}
        </section>
    {%- endif -%}
{% endif -%}

{% schema %}
{
    "name": "Home - Featured article",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Blog",
            "info": "You can select 1 article to feature here. You can optionally add a different image for this section."
        },
        {
            "type": "article",
            "id": "article_handle",
            "label": "Article"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        }
    ]
}
{% endschema %}
