{% if section.blocks.size > 0 -%}
    <section class="o-section o-section--small c-marquee">
        <div class="c-marquee__text u-outline js-marquee">
            {%- for i in (1..3) -%}
                {%- for block in section.blocks -%}
                    {{ block.settings.text }}
                    <div class="c-marquee__separator">·</div>
                {%- endfor -%}
            {%- endfor -%}
        </div>
    </section>
{% endif -%}

{% schema %}
{
    "name": "Home - Marquee",
    "class": "t-tertiary",
    "settings": [
        {
            "type": "header",
            "content": "Marquee",
            "info": "Marquee text moves as you scroll down the page. You can add up to 3 texts."
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 3,
            "settings": [
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ]
}
{% endschema %}
