{%- if section.blocks.size > 0 -%}
    <section class="o-section  o-wrapper u-text-align-center">
        {%- if section.settings.title != blank -%}
            <div class="u-mb+">
                {% include 'statement', text:section.settings.title %}
            </div>
        {%- endif -%}

        <div class="o-layout o-layout--large c-animated-content js-monitor">
            {%- for block in section.blocks -%}<!--
            --><div class="o-layout__item u-6/12@mobile u-4/12@tabletSmall c-three-col-teaser">
                    <div class="u-mb c-three-col-teaser__image">
                        <img data-src="{{ block.settings.image | img_url: 'x150' }}" srcset="{{ block.settings.image | img_url: 'x150' }} 2x" alt="" class="lazyload" data-order="1" data-animation="fade">
                    </div>
                    <div class="u-mb c-three-col-teaser__content">
                        <span class="u-heading u-h4 u-display-block u-mb-" data-order="2">{{ block.settings.title }}</span>
                        <p data-order="3">{{ block.settings.text }}</p>
                    </div>
                </div><!--
        -->{%- endfor -%}
        </div>
    </section>
{% endif -%}

{% schema %}
{
    "name": "Home - Teaser content 2",
    "class": "t-secondary",
    "settings": [
       {
            "type": "header",
            "content": "Teaser content",
            "info": "You can add up to 3 items of teaser content."
        },
        {
            "type": "textarea",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "limit": 3,
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                }
            ]
        }
    ]
}
{% endschema %}
