<ul class="o-list-inline o-list-inline--tiny c-image-feed__list">
    {%- for block in section.blocks -%}
        <li class="o-list-inline__item c-image-feed__item u-pt0 u-ml0">
            <a href="{{ block.settings.photo_url }}" target="noopener" aria-label="View the photo on Instagram" style="background-image: url('{{ block.settings.photo_url }}media/?size=m');" class="u-image-hover u-lazyload u-fade-intersected js-monitor"></a>
        </li>
    {%- endfor -%}
</ul>

{% schema %}
{
    "name": "Instagram feed",
    "class": "u-p-",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Instagram photos",
            "info": "You can add up to 6 Instagram photos."
        }
    ],
    "blocks": [
        {
            "name": "Photos",
            "type": "object",
            "limit": 6,
            "settings": [
                {
                    "type": "url",
                    "id": "photo_url",
                    "label": "Photo URL",
                    "info": "The URL should look like this 'https://www.instagram.com/p/BlF7cLmhMIt/', make sure there is nothing else at the end of the URL after the last '/'"
                }
            ]
        }
    ]
}
{% endschema %}
