<div class="o-section o-wrapper">
    <div class="u-max-w-550px u-mh-auto u-text-align-center c-animated-content js-monitor">
        <img src="{{ 'moon-transition-illustration.png' | asset_img_url: 'x64' }}" srcset="{{ 'moon-transition-illustration.png' | asset_img_url: 'x64', scale:2 }} 2x" alt="" class="u-mb-" data-order="1" data-animation="fade">

        <h2 class="u-heading u-heading--caps u-mb" data-order="2">{{ section.settings.title }}</h2>

        {%- if section.settings.text -%}
            <p>{{ section.settings.text }}</p>
        {%- endif -%}

        <form action="{{ section.settings.form_post_url }}" method="post" data-order="3" target="noopener">
            <input type="hidden" name="u" value="{{ section.settings.form_user_id }}">
            <input type="hidden" name="id" value="{{ section.settings.form_id }}">
            <div class="c-form c-form--row">
                <input type="email" id="{{ section.settings.email_field_name }}" name="{{ section.settings.email_field_name }}" placeholder="'{{ 'products.label.email_placeholder' | t }}'" class="c-form__input u-align-right@mobile u-1/1" required aria-label="'{{ 'products.label.email_placeholder' | t }}'">
                <label for="email" class="c-form__label c-form__label--float">'{{ 'products.label.email_placeholder' | t }}'</label>

                <button type="submit" class="c-form__button c-button c-button--secondary">
                    '{{ 'products.label.submit' | t }}'
                </button>
            </div>

            <div class="u-relative u-mt u-mh-auto" style="max-width: 185px;">
                <input type="checkbox" id="newsletter-consent" class="c-form__checkbox u-mr--" name="{{ settings.mailchimp_newsletter_consent_field_name }}" required>
                <label class="c-form__label c-form__label--checkbox" for="newsletter-consent">{{ 'general.newsletter.terms' | t }}</label>
            </div>

            <input type="hidden" name="ht" value="62c059b81c3261a46610eba3adf6ccd528da3805:MTU1OTEzNTExNC45Njk2">
            <input type="hidden" name="mc_signupsource" value="hosted">
        </form>
    </div>
</div>

{% schema %}
{
    "name": "Newsletter signup",
    "class": "t-tertiary",
    "tag": "section",
    "settings": [
        {
            "type": "header",
            "content": "Newsletter",
            "info": "Here you can add the requirements for the form, such as where it posts to."
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "url",
            "id": "form_post_url",
            "label": "Form post URL"
        },
        {
            "type": "text",
            "id": "form_id",
            "label": "Form ID"
        },
        {
            "type": "text",
            "id": "form_user_id",
            "label": "Form user ID"
        },
        {
            "type": "text",
            "id": "email_field_name",
            "label": "Email field name"
        },
        {
            "type": "text",
            "id": "checkbox_field_name",
            "label": "Checkbox field name"
        },
        {
            "type": "text",
            "id": "checkbox_label",
            "label": "Checkbox label",
            "default": "I accept the <a href='/pages/terms-conditions'>terms and conditions</a>"
        }
    ]
}
{% endschema %}
