{% if template.suffix == 'experiences-list' -%}
    <div class="c-tabs">
        <ul class="c-tabs__list o-wrapper u-mh-auto" role="tablist">
            <li class="c-tabs__list-item" role="presentation">
                <button class="c-tabs__button js-tab" id="tab-corporate-information" role="tab" aria-controls="corporate-information" aria-selected="true" tabindex="0">Corporate</button>
            </li>
            <li class="c-tabs__list-item" role="presentation">
                <button class="c-tabs__button js-tab" id="tab-custom-information" role="tab" aria-controls="custom-information" aria-selected="false" tabindex="1">Custom</button>
            </li>
            <li class="c-tabs__list-item" role="presentation">
                <button class="c-tabs__button js-tab" id="tab-popup-information" role="tab" aria-controls="popup-information" aria-selected="false" tabindex="2">Pop-ups</button>
            </li>
        </ul>

        <hr class="u-hr">

        <div class="t-tertiary">
            <section class="o-section o-section--small o-wrapper">
                <div class="c-tabs__panel-container">
                    <div class="c-tabs__panel js-panel" role="tabpanel" id="corporate-information" aria-labelledby="
                    tab-corporate-information" aria-hidden="false">
                        <div class="o-layout o-layout--small">
                            {%- for block in section.blocks -%}<!--
                                -->{%- if block.settings.category == 'Corporate' -%}<!--
                                --><div class="o-layout__item u-6/12 u-4/12@tabletSmall u-3/12@tablet u-mb u-mb+@tablet">
                                        {%- include 'experience-card', experience:block.settings -%}
                                    </div><!--
                                -->{%- endif -%}<!--
                            -->{%- endfor -%}
                        </div>
                    </div>
                    <div class="c-tabs__panel js-panel" role="tabpanel" id="custom-information" aria-labelledby="
                    tab-custom-information" aria-hidden="true" style="display: none;">
                        custom
                    </div>
                    <div class="c-tabs__panel js-panel" role="tabpanel" id="popup-information" aria-labelledby="
                    tab-popup-information" aria-hidden="true" style="display: none;">
                        popup
                    </div>
                </div>
            </section>
        </div>
    </div>
{% else -%}
    {%- for block in section.blocks -%}
        {%- if block.settings.page contains page.url -%}
            <h2>{{ block.settings.title }}</h2>
            <p>{{ block.settings.page }}</p>

            <br><br>
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}

{% schema %}
{
    "name": "Experiences",
    "settings": [
        {
            "type": "text",
            "id": "listing_hero_title",
            "label": "Listing hero title"
        },
        {
            "type": "text",
            "id": "listing_hero_text",
            "label": "Listing hero text"
        }
    ],
    "blocks": [
        {
            "name": "Experience",
            "type": "object",
            "settings": [
                {
                    "type": "header",
                    "content": "Page",
                    "info": "What page will this content be shown on?"
                },
                {
                    "type": "page",
                    "id": "page_handle",
                    "label": "Page"
                },
                {
                    "type": "select",
                    "id": "category",
                    "label": "Category",
                    "options": [
                        {"value": "Corporate", "label": "Corporate"},
                        {"value": "Custom", "label": "Custom"},
                        {"value": "Pop-Up", "label": "Pop-Up"}
                    ]
                },
                {
                    "type": "header",
                    "content": "Hero content",
                    "info": "This content is shown at the top of the page."
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "header",
                    "content": "Featured person's content",
                    "info": "If this experience relates to someone, you can add their details here."
                },
                {
                    "type": "image_picker",
                    "id": "person_image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "person_name",
                    "label": "Name"
                },
                {
                    "type": "url",
                    "id": "person_instagram_url",
                    "label": "Instagram URL"
                },
                {
                    "type": "header",
                    "content": "Featured Quote",
                    "info": "A quote relating to the experience"
                },
                {
                    "type": "textarea",
                    "id": "featured_quote_text",
                    "label": "Quote"
                },
                {
                    "type": "text",
                    "id": "featured_quote_attribute",
                    "label": "Attribute"
                },
                {
                    "type": "header",
                    "content": "Experience blocks",
                    "info": "Up to 4 blocks can be added that describe an experience with images and text."
                },
                {
                    "type": "image_picker",
                    "id": "experience_block_1_image",
                    "label": "#1 Image"
                },
                {
                    "type": "text",
                    "id": "experience_block_1_title",
                    "label": "#1 Title"
                },
                {
                    "type": "textarea",
                    "id": "experience_block_1_text",
                    "label": "#1 Text"
                },
                {
                    "type": "image_picker",
                    "id": "experience_block_2_image",
                    "label": "#2 Image"
                },
                {
                    "type": "text",
                    "id": "experience_block_2_title",
                    "label": "#2 Title"
                },
                {
                    "type": "textarea",
                    "id": "experience_block_2_text",
                    "label": "#2 Text"
                },
                {
                    "type": "image_picker",
                    "id": "experience_block_3_image",
                    "label": "#3 Image"
                },
                {
                    "type": "text",
                    "id": "experience_block_3_title",
                    "label": "#3 Title"
                },
                {
                    "type": "textarea",
                    "id": "experience_block_3_text",
                    "label": "#3 Text"
                },
                {
                    "type": "image_picker",
                    "id": "experience_block_4_image",
                    "label": "#4 Image"
                },
                {
                    "type": "text",
                    "id": "experience_block_4_title",
                    "label": "#4 Title"
                },
                {
                    "type": "textarea",
                    "id": "experience_block_4_text",
                    "label": "#4 Text"
                },
                {
                    "type": "header",
                    "content": "Featured Products",
                    "info": "Up to 4 products can be associated with this experience."
                },
                {
                    "type": "product",
                    "id": "featured_product_1_handle",
                    "label": "#1 Product"
                },
                {
                    "type": "product",
                    "id": "featured_product_2_handle",
                    "label": "#2 Product"
                },
                {
                    "type": "product",
                    "id": "featured_product_3_handle",
                    "label": "#3 Product"
                },
                {
                    "type": "product",
                    "id": "featured_product_4_handle",
                    "label": "#4 Product"
                },
                {
                    "type": "header",
                    "content": "Contact Banner content",
                    "info": "If there is additional contact information relevant to this experience, it can be added here."
                },
                {
                    "type": "text",
                    "id": "contact_banner_title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "contact_banner_text",
                    "label": "Text"
                },
                {
                    "type": "url",
                    "id": "contact_banner_cta_url",
                    "label": "CTA URL"
                },
                {
                    "type": "text",
                    "id": "contact_banner_cta_label",
                    "label": "CTA label"
                }
            ]
        }
    ]
}
{% endschema %}
