{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- for block in section.blocks -%}
    {%- if block.settings.product_handle == product.handle -%}
        {%- assign product_content = block.settings -%}
    {%- endif -%}
{%- endfor -%}
{%- assign requires_age_check = false -%}
{%- for tag in product.tags -%}
    {%- if tag == 'age_check' -%}
        {%- assign requires_age_check = true -%}
    {%- endif -%}
{%- endfor -%}

<section class="o-section u-pv0">
    <form action="{% if requires_age_check == false %}/cart/add{% endif %}" method="post" enctype="multipart/form-data" class="c-product c-product--{{ product.type | handle }} u-m0 c-animated-content u-in-viewport">
        <div class="c-product__hero o-layout o-layout--flush">
            <div class="o-layout__item u-6/12@mobile c-product__gallery-container">
                {% include 'product-gallery', product:product %}
            </div><div class="o-layout__item u-6/12@mobile">
                <div class="c-product__hero-info">
                    {% include 'breadcrumbs' %}

                    <h1 class="u-heading u-h2 u-mt-" data-order="1">{{ product.title }}</h1>

                    <div class="u-h5 u-color-grey-dark" data-order="2">
                        {% include 'product-price', price:product.price, price_min:product.price_min, price_max:product.price_max %}
                    </div>

                    <div data-order="3">{{ product.description | newline_to_br }}</div>

                    {%- if product_content.key_features != blank -%}
                        {%- assign list_items = product_content.key_features | newline_to_br | split:'<br />' -%}
                        <ul class="c-feature-list {% if list_items.size > 4 %}c-feature-list--2-cols{% endif %} u-mt c-animated-content js-monitor">
                            {%- for item in list_items -%}
                                <li class="c-feature-list__item" data-order="{{ forloop.index }}">
                                    {{ item }}
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}

                    {%- unless product.has_only_default_variant -%}
                        <div class="u-flex u-justify-content-flex-end u-mt" data-order="4">
                            <label for="id" class="u-color-juniper u-font-size-11 u-text-transform-uppercase u-flex-grow-1 u-pb--">Select {{ product.options_with_values.first.name }}</label>
                        </div>

                        <div class="custom-select custom-select--center custom-select--product u-mb-" data-order="4">
                            <select name="id" class="js-variant-select">
                                {%- for variant in product.variants -%}
                                    <option {% if variant == current_variant %}selected="selected"{% endif %} {% unless variant.available %}disabled="disabled"{% endunless %} value="{{ variant.id }}">
                                        {{ variant.title }}
                                    </option>
                                {%- endfor -%}
                            </select>
                        </div>
                        {% comment %}
                        <div class="c-button-list c-button-list--small u-mb-">
                            {%- for variant in product.variants -%}
                                <button type="button" class="c-button c-button--small c-button--selectable u-flex-grow-1 {% if variant == current_variant %}c-button--selected{% endif %} js-variant-button" {% unless variant.available %}disabled="disabled" aria-label="Not available" title="Not available"{% endunless %} data-variant-id="{{ variant.id }}">
                                    {{ variant.title }}
                                </button>
                            {%- endfor -%}
                        </div>
                        {% endcomment %}
                    {%- else -%}
                        <input type="hidden" name="id" value="{{ product.variants[0].id }}">
                    {%- endunless -%}

                    <br>

                    {% include 'product-add-to-cart', product:product, current_variant:current_variant %}

                    <ul class="o-list-inline o-list-inline--persist u-mt" data-order="6">
                        {% if SHOP_BRAND == 'smith-and-sinclair' and settings.store_country != 'US' %}
                            <li class="o-list-inline__item">
                                <button type="button" class="u-ph0 u-underline-link u-font-size-14 js-modal-open js-modal-tab" data-modal="product-information" data-tab-index="{% increment tab_index %}">{{ 'products.label.nutrition' | t }}</button>
                            </li>
                        {% endif %}
                        <li class="o-list-inline__item">
                            <button type="button" class="u-ph0 u-underline-link u-font-size-14 js-modal-open js-modal-tab" data-modal="product-information" data-tab-index="{% increment tab_index %}">{{ 'products.label.delivery' | t }}</button>
                        </li>
                        <li class="o-list-inline__item">
                            <button type="button" class="u-ph0 u-underline-link u-font-size-14 js-modal-open js-modal-tab" data-modal="product-information" data-tab-index="{% increment tab_index %}">{{ 'products.label.faq' | t }}</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</section>

<!-- TrustBox widget - Micro Combo -->
{% if settings.store_country != 'US' %}
    <div class="trustpilot-widget u-hr u-pv" data-locale="en-GB" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="5b5f1a0b2e12e70001e6c8da" data-style-height="20px" data-style-width="100%" data-theme="light">
        <a href="https://uk.trustpilot.com/review/www.smithandsinclair.com" target="_blank" rel="noopener">Trustpilot</a>
    </div>
{% endif %}
<!-- End TrustBox widget -->

{%- if product_content.statement_text != blank -%}
    <div class="t-tertiary">
        <section class="o-section o-wrapper">
            {% include 'statement', text:product_content.statement_text, highlighted_text:product_content.statement_highlighted_text, sticker:product_content.statement_sticker %}
        </section>
    </div>
{%- endif -%}

{%- if store_settings.country == 'US' -%}
    {% include 'product-teaser' %}
{%- endif -%}

{%- if product_content.product_how_to != blank or product_content.nutritional_info != blank or product_content.benefits != blank -%}
    <div class="t-tertiary">
        <section class="o-section o-wrapper">
            <div class="c-content-columns c-animated-content js-monitor">
                {%- if product_content.product_how_to != blank -%}
                    <div class="c-content-columns__item">
                        <h3 class="u-heading u-h3 u-mb u-mb+@tablet" data-order="1">{{ 'products.label.how_to' | t }}</h3>

                        <p>{{ product_content.product_how_to | newline_to_br }}</p>
                    </div>
                {%- endif -%}
                {%- if product_content.nutritional_info != blank or product_content.nutritional_info_image != blank -%}
                    <div class="c-content-columns__item">
                        <h3 class="u-heading u-h3 u-mb u-mb+@tablet" data-order="2">{{ 'products.label.nutrition' | t }}</h3>

                        {% if product_content.nutritional_info != blank %}
                            <div class="u-empty-p u-mb">{{ product_content.nutritional_info }}</div>
                        {% endif %}

                        {% if product_content.nutritional_info_image != blank %}
                            <img data-src="{{ product_content.nutritional_info_image | img_url: '500x' }}" alt="{{ 'products.label.nutrition' | t }}" class="lazyload">
                        {% endif %}
                    </div>
                {%- endif -%}
                {%- if product_content.benefits != blank -%}
                    <div class="c-content-columns__item">
                        <h3 class="u-heading u-h3 u-mb u-mb+@tablet" data-order="3">{{ 'products.label.benefits' | t }}</h3>

                        {%- assign list_items = product_content.benefits | newline_to_br | split:'<br />' -%}
                        <ul class="c-feature-list">
                            {%- for item in list_items -%}
                                <li class="c-feature-list__item">
                                    {{ item }}
                                </li>
                            {%- endfor -%}
                        </ul>
                    </div>
                {%- endif -%}
            </div>
        </section>
    </div>
{%- endif -%}

{%- if store_settings.country != 'US' -%}
    {% include 'product-teaser' %}
{%- endif -%}

{%- if product_content.article_handle != blank or product_content.featured_article_tags != blank -%}
    {%- assign article = articles[product_content.article_handle] -%}
    {%- if article -%}
        <section class="o-section o-wrapper">
            {% include 'hero-content-teaser', title:article.title, image:article.image, excerpt:article.excerpt, content:article.content, url:article.url, tags:article.tags %}
        </section>
    {%- endif -%}
{%- endif -%}

{%- if product_content.related_product_1_handle != blank or product_content.related_product_2_handle != blank or product_content.related_product_3_handle != blank -%}
    <div class="t-tertiary">
        <section class="o-section o-wrapper">
            {%- assign related_products_title = product_content.related_products_title -%}
            {%- assign related_products = product_content.related_product_1_handle | append:',' | append:product_content.related_product_2_handle | append:',' | append:product_content.related_product_3_handle | append:',' | append:product_content.related_product_4_handle | split:',' -%}
            {% include 'related-products' %}
        </section>
    </div>
{%- endif -%}

<section class="o-section o-wrapper o-wrapper--small u-pv+">
    <div class="o-layout u-stack-layout@mobile u-flex@mobile u-align-items-center">
        <div class="o-layout__item u-5/12@mobile">
            <img src="{{ product.featured_image | img_url:'400x' }}" srcset="{{ product.featured_image | img_url:'400x', scale:2 }} 2x" alt="{{ product.title }} image">
        </div><div class="o-layout__item u-7/12@mobile">
            <span class="u-heading u-h4 u-display-block u-mb--">{{ product.title }}</span>
            <span class="u-h5 u-color-grey-dark">
                {% include 'product-price', price:product.price, price_min:product.price_min, price_max:product.price_max %}
            </span>

            {% include 'product-add-to-cart', product:product %}
        </div>
    </div>
</section>

<div class="c-modal js-modal u-hide" data-modal="product-information">
    <div class="c-modal__wrapper u-p u-p+@mobile t-light js-modal-wrapper js-tabs-container">
        <div class="c-tabs c-tabs--small">
            <ul class="c-tabs__list c-swipeable" role="tablist">
                {% if SHOP_BRAND == 'smith-and-sinclair' and settings.store_country != 'US' %}
                    <li class="c-tabs__list-item" role="presentation">
                        <button class="c-tabs__button c-swipeable__item js-tab u-show@mobile" id="tab-nutrition-information" role="tab" aria-controls="nutrition-information" aria-selected="true" tabindex="0">{{ 'products.label.nutrition' | t }}</button>
                    </li>
                {% endif %}
                <li class="c-tabs__list-item" role="presentation">
                    <button class="c-tabs__button c-swipeable__item js-tab u-show@mobile" id="tab-returns" role="tab" aria-controls="returns" aria-selected="false" tabindex="-1">{{ 'products.label.delivery' | t }}</button>
                </li>
                <li class="c-tabs__list-item" role="presentation">
                    <button class="c-tabs__button c-swipeable__item js-tab u-show@mobile" id="tab-faqs" role="tab" aria-controls="faqs" aria-selected="false" tabindex="-1">{{ 'products.label.faq' | t }}</button>
                </li>
            </ul>

            <hr class="u-hr u-show@mobile">

            <div class="u-relative u-mt u-mt+@mobile">
                {% if SHOP_BRAND == 'smith-and-sinclair' and settings.store_country != 'US' %}
                    <section class="c-tabs__panel js-panel" role="tabpanel" id="nutrition-information" aria-labelledby="tab-nutrition-information" aria-hidden="false">
                        <h5 class="u-mb"><strong>{{ 'products.label.nutrition' | t }}</strong></h5>
                        <div class="u-empty-p">{{ product_content.nutritional_info }}</div>
                    </section>
                {% endif %}
                <section class="c-tabs__panel js-panel" role="tabpanel" id="returns" aria-labelledby="tab-returns" aria-hidden="true">
                    <h5 class="u-mb"><strong>{{ 'products.label.delivery' | t }}</strong></h5>
                    <div class="s-wysiwyg s-content-links">
                        {{ shop.refund_policy | newline_to_br }}
                    </div>
                </section>
                <section class="c-tabs__panel js-panel" role="tabpanel" id="faqs" aria-labelledby="tab-faqs" aria-hidden="true">
                    <h5 class="u-mb"><strong>{{ 'products.label.faq' | t }}</strong></h5>

                    <div class="s-wysiwyg s-content-links">
                        {{ product_content.faq }}
                    </div>
                </section>
            </div>
        </div>

        {%- assign modal_name = 'product-information' -%}
        {% include 'modal-close-button' %}
    </div>
</div>

<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Product",
    "url": "{{ shop.url }}{{ current_variant.url }}",
    "name": "{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}",
    "image": "{{ product.featured_image | img_url: '600x600' }}",
    "description": "{{ product.description | strip_html | escape }}",
    "brand": {
        "name": "{{ shop.name }}"
    },
    "offers": [
        {%- if product.has_only_default_variant -%}
            {
                "@type": "Offer" ,
                "priceCurrency": "{{ shop.currency }}" ,
                "price": "{{ current_variant.price | divided_by: 100.00 }}" ,
                "availability": "http://schema.org/{%- if current_variant.available -%}InStock{%- else -%}OutOfStock{%- endif -%}" ,
                "itemCondition": "http://schema.org/NewCondition",
                "sku": "{{ current_variant.sku }}" ,
                "name": "{{ product.title }} - {{ current_variant.title }}",
                "url": "{{ shop.url }}{{ current_variant.url }}",
                "seller": {
                    "@type": "Organization" ,
                    "name": "{{ shop.name }}"
                }
            }
        {%- else -%}
            {%- for variant in product.variants -%}
                {
                    "@type": "Offer" ,
                    "priceCurrency": "{{ shop.currency }}" ,
                    "price": "{{ variant.price | divided_by: 100.00 }}" ,
                    "availability": "http://schema.org/{%- if variant.available -%}InStock{%- else -%}OutOfStock{%- endif -%}" ,
                    "itemCondition": "http://schema.org/NewCondition",
                    "sku": "{{ variant.sku }}" ,
                    "name": "{{ product.title }} - {{ variant.title }}",
                    "url": "{{ shop.url }}{{ variant.url }}",
                    "seller": {
                        "@type": "Organization" ,
                        "name": "{{ shop.name }}"
                    }
                }{%- unless forloop.last -%},{%- endunless -%}
            {%- endfor -%}
        {%- endif -%}
    ]
}
</script>
<script>
window.globalData.product = {{ product | json }};
</script>


{% schema %}
{
    "name": "Product content",
    "blocks": [
        {
            "name": "Content",
            "type": "object",
            "settings": [
                {
                    "type": "product",
                    "id": "product_handle",
                    "label": "Product"
                },
                {
                    "type": "header",
                    "content": "Product information",
                    "info": "Information relating to the product's usage, nutrion and benefits."
                },
                {
                    "type": "richtext",
                    "id": "faq",
                    "label": "faq"
                },
                {
                    "type": "textarea",
                    "id": "key_features",
                    "label": "Key features",
                    "info": "Each feature should go on a new line and will display in a list view automatically."
                },
                {
                    "type": "richtext",
                    "id": "product_how_to",
                    "label": "How to use"
                },
                {
                    "type": "header",
                    "content": "Nutritional information",
                    "info": "You can add text, an image, or both."
                },
                {
                    "type": "richtext",
                    "id": "nutritional_info",
                    "label": "Nutritional info"
                },
                {
                    "type": "image_picker",
                    "id": "nutritional_info_image",
                    "label": "Nutritional info image"
                },
                {
                    "type": "textarea",
                    "id": "benefits",
                    "label": "Benefits",
                    "info": "Each benefit should go on a new line and will display in a list view automatically."
                },
                {
                    "type": "header",
                    "content": "Statement text",
                    "info": "You can include 1 statement relating to the product."
                },
                {
                    "type": "textarea",
                    "id": "statement_text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "statement_highlighted_text",
                    "label": "Highlighted text"
                },
                {
                    "type": "image_picker",
                    "id": "statement_sticker",
                    "label": "Sticker"
                },
                {
                    "type": "header",
                    "content": "Teaser content",
                    "info": "You include up to 2 items of teaser content."
                },
                {
                    "type": "image_picker",
                    "id": "teaser_image_1",
                    "label": "Image #1"
                },
                {
                    "type": "text",
                    "id": "teaser_title_1",
                    "label": "Title #1"
                },
                {
                    "type": "textarea",
                    "id": "teaser_text_1",
                    "label": "Text #1"
                },
                {
                    "type": "url",
                    "id": "teaser_cta_url_1",
                    "label": "CTA URL #1"
                },
                {
                    "type": "text",
                    "id": "teaser_cta_label_1",
                    "label": "CTA Label #1"
                },
                {
                    "type": "image_picker",
                    "id": "teaser_image_2",
                    "label": "Image #2"
                },
                {
                    "type": "text",
                    "id": "teaser_title_2",
                    "label": "Title #2"
                },
                {
                    "type": "textarea",
                    "id": "teaser_text_2",
                    "label": "Text #2"
                },
                {
                    "type": "url",
                    "id": "teaser_cta_url_2",
                    "label": "CTA URL #2"
                },
                {
                    "type": "text",
                    "id": "teaser_cta_label_2",
                    "label": "CTA Label #2"
                },
                {
                    "type": "header",
                    "content": "Featured article",
                    "info": "You can manually select an article, or specify tags. If you use tags then the latest article that includes those tags will be shown, if there are any."
                },
                {
                    "type": "article",
                    "id": "article_handle",
                    "label": "Featured article"
                },
                {
                    "type": "text",
                    "id": "article_tags",
                    "label": "Featured article tags"
                },
                {
                    "type": "header",
                    "content": "Related products",
                    "info": "You can choose up to 4 related products."
                },
                {
                    "type": "text",
                    "id": "related_products_title",
                    "label": "Related products title",
                    "default": "You may also like"
                },
                {
                    "type": "product",
                    "id": "related_product_1_handle",
                    "label": "Related product #1"
                },
                {
                    "type": "product",
                    "id": "related_product_2_handle",
                    "label": "Related product #2"
                },
                {
                    "type": "product",
                    "id": "related_product_3_handle",
                    "label": "Related product #3"
                },
                {
                    "type": "product",
                    "id": "related_product_4_handle",
                    "label": "Related product #4"
                }
            ]
        }
    ]
}
{% endschema %}
