{%- if section.settings.text != blank -%}
    {%- if section.settings.url != blank -%}
        <a href="{{ section.settings.url }}" data-component="promo-banner">
    {%- endif -%}

    <div class="c-promo-banner" role="banner">
        <div class="o-wrapper">
            {{ section.settings.text }}
        </div>
    </div>

    {%- if section.settings.url != blank -%}
        </a>
    {%- endif -%}
{%- endif -%}

{% schema %}
{
    "name": "Promo banner",
    "settings": [
        {
            "type": "header",
            "content": "Promo banner",
            "info": "The promo banner is shown at the top of the page on all pages."
        },
        {
            "type": "url",
            "id": "url",
            "label": "URL"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text"
        }
    ]
}
{% endschema %}
