$color-white: #fff !default;
$color-black: #000000 !default;
$color-grey: #808080 !default;
$color-grey-dark: darken(#979797, 5%) !default;
$color-grey-light: #f3f6f6 !default;
$color-cornflower-blue: #e7f2f9 !default;
$color-red: #ff6666 !default;

$color-primary: $color-black !default;
$color-secondary: $color-cornflower-blue !default;
$color-tertiary: $color-grey-light !default;

$color-dark: $color-black !default;
$color-light: $color-grey-light !default;

$color-main-background: $color-white !default;

$themes: (
    primary: (
        accent: $color-grey-light,
        background: $color-black,
        headings: $color-black,
        links: $color-black,
        buttonText: $color-white,
        text: $color-primary
    ),
    secondary: (
        accent: $color-black,
        background: $color-grey-light,
        headings: $color-black,
        links: $color-primary,
        buttonText: $color-white,
        text: $color-white
    ),
    tertiary: (
        accent: $color-primary,
        background: $color-grey-light,
        headings: $color-black,
        links: $color-primary,
        buttonText: $color-black,
        text: $color-primary
    ),
    selectable: (
        accent: $color-black,
        background: $color-primary,
        headings: $color-white,
        links: $color-white,
        buttonText: $color-white,
        text: $color-white
    ),
    light: (
        accent: $color-grey-light,
        background: $color-white,
        headings: $color-black,
        links: $color-black,
        text: $color-primary
    ),
    grey-light: (
        accent: $color-grey-light,
        background: $color-grey-light,
        headings: $color-black,
        links: $color-black,
        text: $color-primary
    ),
    form: (
        accent: $color-grey-light,
        background: $color-white,
        headings: $color-black,
        links: $color-black,
        text: $color-primary
    ),
    footer: (
        accent: $color-grey-light,
        background: $color-black,
        headings: $color-grey-light,
        links: $color-white,
        text: $color-white
    ),
    page: (
        accent: $color-grey-light,
        background: $color-white,
        headings: $color-black,
        links: $color-black,
        text: $color-primary
    ),
    overlay-navigation: (
        accent: $color-grey-light,
        background: $color-grey-light,
        headings: $color-black,
        links: $color-black,
        text: $color-primary
    )
);
