/**
 * https://hugogiraudel.com/2013/03/18/ultimate-rem-mixin/
 */
/*! Flickity v2.2.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: white;
  cursor: pointer; }

.flickity-button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 5px #19f;
          box-shadow: 0 0 0 5px #19f; }

.flickity-button:active {
  opacity: 0.6; }

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }

.flickity-button-icon {
  fill: currentColor; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

[data-carousel-type='journal-teaser'] .flickity-prev-next-button {
  top: 37.5%; }

.c-carousel {
  height: 270px;
  overflow: hidden;
  position: relative; }

.flickity-enabled {
  overflow: visible; }

.c-carousel__item {
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.c-carousel__item:not(.is-selected) {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
  -webkit-transform: translateY(24px);
          transform: translateY(24px); }

.flickity-enabled .c-carousel__item {
  margin-right: 12px; }

.flickity-enabled .c-carousel__item:not(.is-selected) {
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.c-carousel__image {
  height: 290px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%; }

.flickity-page-dots {
  margin-top: -0.75rem;
  position: relative; }

.flickity-page-dots .dot {
  background-color: #000000;
  height: 6px;
  margin: 0 4px;
  width: 6px; }

.flickity-page-dots .dot.is-selected {
  background-color: #e7f2f9; }

.flickity-prev-next-button {
  background-color: #fff;
  -webkit-box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3); }

.flickity-prev-next-button .flickity-button-icon {
  fill: #000000;
  height: 30%;
  left: 35%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  top: 35%;
  width: 30%; }

.t-tertiary .flickity-page-dots .dot {
  background-color: theme(tertiary, accent);
  opacity: 0.3; }

.t-tertiary .flickity-page-dots .dot.is-selected {
  opacity: 1; }

@media (min-width: 46.3125em) {
  .c-carousel__item {
    width: 70%; }
  .flickity-enabled .c-carousel__item {
    margin-right: 24px; }
  .flickity-prev-next-button {
    height: 54px;
    width: 54px; }
  .flickity-prev-next-button.previous {
    left: calc(15% - 100px); }
  .flickity-prev-next-button.next {
    right: calc(15% - 100px); } }

@media (min-width: 33.75em) {
  .c-carousel,
  .c-carousel__item,
  .c-carousel__image,
  .flickity-viewport {
    height: 380px; } }

@media (min-width: 64.0625em) {
  .c-carousel,
  .c-carousel__item,
  .c-carousel__image,
  .flickity-viewport {
    height: 480px; } }

@media (min-width: 81.25em) {
  .c-carousel,
  .c-carousel__item,
  .c-carousel__image,
  .flickity-viewport {
    height: 620px;
    max-height: 880vmin; }
  .c-carousel__item,
  .c-carousel__image {
    max-width: 1500px; } }

@media (min-width: 112.5em) {
  .c-carousel,
  .c-carousel__item,
  .c-carousel__image,
  .flickity-viewport {
    height: 720px;
    max-height: 70vmin; } }

@media (min-width: 1692px) {
  .flickity-prev-next-button.previous {
    left: calc(50% - 750px - 96px); }
  .flickity-prev-next-button.next {
    right: calc(50% - 750px - 96px); } }

@media (max-width: 46.3025em) {
  .c-layout-carousel.flickity-enabled {
    margin-left: -1.5rem;
    width: calc(100% + 3rem); }
    .c-layout-carousel.flickity-enabled .o-layout__item {
      width: calc(100% - 3rem); }
    .c-layout-carousel.flickity-enabled .flickity-page-dots {
      margin-top: 0.75rem; } }
