{%- assign SHOW_SITE_FURNITURE = true -%}
{%- assign IS_CUSTOMER_PAGE = false -%}
{%- assign SHOP_BRAND = 'smith-and-sinclair' -%}
{%- assign shop_handle = shop.name | handle -%}
{% if shop_handle contains 'pollen' -%}
    {%- assign SHOP_BRAND = 'pollen' -%}
{%- endif -%}
{%- if template == 'password' -%}
    {%- assign SHOW_SITE_FURNITURE = false -%}
{%- endif -%}
{%- if template contains 'customers' -%}
    {%- assign IS_CUSTOMER_PAGE = true -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="{{ shop.locale }}" class="no-js {{ SHOP_BRAND }}-{{ settings.store_country | downcase }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="{{ settings.color_primary }}">
        <meta name="google-site-verification" content="">
        <link rel="preload" href="{{ 'bentonsans-regular.woff2' | asset_url }}"  as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ 'brown-bold.woff2' | asset_url }}"  as="font" type="font/woff2" crossorigin>
        <link rel="dns-prefetch preconnect" href="//cdn.shopify.com">
        <link rel="dns-prefetch preconnect" href="//v.shopify.com">
        <link rel="dns-prefetch preconnect" href="//consent.cookiebot.com">
        <link rel="dns-prefetch preconnect" href="//google-analytics.com">
        {%- if blog.previous_article != nil or blog.previous_article != nil -%}
            {%- if blog.previous_article != nil -%}
                <link rel="prefetch" href="{{ blog.previous_article }}">
            {%- endif -%}
            {%- if blog.next_article != nil -%}
                <link rel="prefetch" href="{{ blog.next_article }}">
            {%- endif -%}
        {%- endif -%}
        {%- capture seo_title -%}
            {{ page_title }}

            {%- if current_tags -%}
                {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
            {%- endif -%}
            {%- if current_page != 1 -%}
                &ndash; {{ 'general.meta.page' | t: page: current_page }}
            {%- endif -%}
            {%- unless page_title contains shop.name -%}
                &ndash; {{ shop.name }}
            {%- endunless -%}
        {%- endcapture -%}
        <title>{{ seo_title }}</title>
        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}
        {%- if SHOP_BRAND == 'pollen' -%}
            {{ 'pollen.css' | asset_url | stylesheet_tag }}
        {%- else -%}
            {{ 'smith-and-sinclair.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
        {%- if template contains 'product' or template contains 'collection' or template.suffix == 'experiences-detail' -%}
            {{ 'product.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
        {%- if IS_CUSTOMER_PAGE -%}
            {{ 'account.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
        <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
        <link rel="canonical" href="{{ canonical_url }}">
        {%- if SHOP_BRAND == 'pollen' -%}
            <!-- Add alternate links -->
        {%- else -%}
            <link rel="alternate" hreflang="en-gb" href="https://smithandsinclair.com"/>
            <link rel="alternate" hreflang="it" href="https://it.smithandsinclair.com"/>
            <link rel="alternate" hreflang="es" href="https://es.smithandsinclair.com"/>
            <link rel="alternate" hreflang="fr" href="https://fr.smithandsinclair.com"/>
            <link rel="alternate" hreflang="de" href="https://de.smithandsinclair.com"/>
            <link rel="alternate" hreflang="nl" href="https://nl.smithandsinclair.com"/>
            <link rel="alternate" hreflang="en-us" href="https://us.smithandsinclair.com"/>
        {%- endif -%}

        {% include 'social-meta-tags' %}
        {%- include 'web-fonts' -%}
        <meta property="og:image" content="https:{{ 'social.jpg' | asset_img_url: '1200x' }}">
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,es5,Array.prototype.includes,String.prototype.includes,Object.values,Object.assign,fetch,IntersectionObserver"></script>
        <script>
            window.globalComponents = {};
            window.globalData = {
                translations: {
                    cart: {
                        title: '{{ 'cart.label.title' | t }}',
                        recommendationTitle: '{{ 'cart.label.recommendation_title' | t }}',
                        subtotal: '{{ 'cart.label.subtotal' | t }}',
                        shipping: '{{ 'cart.label.shipping' | t }}',
                        viewCart: '{{ 'cart.label.view_cart' | t }}',
                        empty: '{{ 'cart.label.title' | t }}',
                        continue: '{{ 'cart.label.continue' | t }}'
                    },
                    product: {
                        add:'{{ 'products.label.add' | t }}',
                        adding: '{{ 'products.label.adding' | t }}',
                        added: '{{ 'products.label.added' | t }}',
                        addAgain: '{{ 'products.label.add_again' | t }}',
                        soldOut: '{{ 'products.label.sold_out' | t }}'
                    }
                },
                ipApiKey: '{{ settings.ipapi_api_key }}',
                gaID: '{{ settings.google_analytics_id }}',
                rootURL: '{{ shop.url }}',
                storeSettings: {
                    brand: '{{ SHOP_BRAND }}',
                    country: '{{ settings.store_country }}',
                    currency: '{{ settings.store_currency }}',
                    language: '{{ settings.store_language }}',
                    ageMinimum: {% if settings.store_country == 'US' %}21{% else %}18{% endif %},
                    ageRequired: {{ settings.store_age_required }},
                    flags: {
                        DE: '{{ 'germany.png' | asset_img_url:'40x' }}',
                        ES: '{{ 'spain.png' | asset_img_url:'40x' }}',
                        FR: '{{ 'france.png' | asset_img_url:'40x' }}',
                        GB: '{{ 'unitedkingdom.png' | asset_img_url:'40x' }}',
                        IT: '{{ 'italy.png' | asset_img_url:'40x' }}',
                        NL: '{{ 'thenetherlands.png' | asset_img_url:'40x' }}',
                        US: '{{ 'unitedstates.png' | asset_img_url:'40x' }}',
                    }
                }
            };
            window.isModernBrowser=('querySelector' in document && 'localStorage' in window && 'addEventListener' in window);
        </script>
        {{ content_for_header }}

        {%- if SHOP_BRAND == 'smith-and-sinclair' and settings.store_country == 'US' -%}
            {%- render 'google-tag-manager-us' -%}
        {%- endif -%}
    </head>
    <body id="{{ page_title | handle }}" class="s-{{ template.name | handle }} {% if content_for_header contains 'designMode' %}s-theme-editor{% endif %}">
        {%- if SHOW_SITE_FURNITURE -%}
            {% include 'header' %}
        {%- endif -%}

        <main role="main" id="main">
            {{ content_for_layout }}
        </main>

        {%- if SHOW_SITE_FURNITURE -%}
            {% include 'footer' %}
            {% include 'overlay-navigation' %}
            {% include 'cart-preview-modal' %}
            {% include 'user-settings' %}
        {%- endif -%}

        {%- assign supported_currencies = settings.supported_currencies | split: ' ' -%}
        <script src="https://cdn.shopify.com/s/javascripts/currencies.js"></script>
        <script>window.globalData.cart={{ cart | json }};</script>
        <script>
        window.globalData.currencies = {
            default: '{{ settings.default_currency }}',
            format: '{{ settings.currency_format }}',
            roundPrice: {{ settings.price_rounding | default: 0 }},
            supported: {{ supported_currencies | json }}
        };
        </script>
        <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="{{ settings.cookiebot_id }}" type="text/javascript"></script>
        <script src="{{ 'vendor.js' | asset_url }}"></script>
        <script src="{{ 'main.js' | asset_url }}"></script>
        <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    </body>
</html>
